{% set active_link = 'photos' %}

{% extends '@App/User/Artist/edit_profile_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}

{% block artist_edit_profile_content %}
    <h3>Photos supplémentaires (max 5)</h3>
    <div id="dropzone-2">
        <div id="artist_edit_photos" class="dropzone"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('document').ready(function() {
            Dropzone.autoDiscover = false;

            var $dropzone = $("div#artist_edit_photos");
            var mocks = [];
            {% for photo in artist.photos %}
                mocks.push({
                    name: "{{ photo.filename }}",
                    url: "{{ absolute_url(asset(artist.webPath(photo))) }}",
                    size: 12345
                });
            {% endfor %}

            $dropzone.dropzone({
                url: "{{ oneup_uploader_endpoint('artist_gallery') }}",
                resizeWidth: 800,
                maxFiles: 5,
                addRemoveLinks: true,
                 params: {
                    pp: 0,
                    artist: {{ artist.id }}
                },
                accept: function (file, done) {
                    console.log(file);
                    if ((file.type).toLowerCase() != "image/jpg" &&
                            (file.type).toLowerCase() != "image/gif" &&
                            (file.type).toLowerCase() != "image/jpeg" &&
                            (file.type).toLowerCase() != "image/png"
                            ) {
                        done("Invalid file");
                    }
                    else {
                        done();
                    }
                },
                removedfile: function(file) {
                    $.ajax({
                        method: 'get',
                        url: "{{ path('artist_ajax_remove_photo', {'id': artist.id}) }}",
                        data: {
                            filename: file.previewElement.querySelector("[data-dz-name]").innerHTML
                        },
                        complete: function() {
                            file.previewElement.remove();
                        }
                    });
                },
                init: function() {
                    var i = 0;
                    while(i < mocks.length) {
                        var mock = mocks[i];
                        mock.accepted = true;

                        this.files.push(mock);
                        this.createThumbnailFromUrl(mock, mock.url);
                        this.emit('addedfile', mock);
                        this.emit("thumbnail", mock, mock.url);
                        this.emit('complete', mock);
                        i++;
                    }
                    $dropzone.options.maxFiles = $dropzone.options.maxFiles - i;
                },
                success: function(file, serverResponse) {
                    file.previewElement.querySelector("[data-dz-name]").innerHTML = serverResponse.newfilename;
                }
            });
        });
    </script>
{% endblock %}