{% set active_link = 'medias' %}

{% extends '@App/User/Artist/edit_profile_layout.html.twig' %}

{% block artist_edit_profile_content %}

    {% form_theme form ':Form:bootstrap_4_layout.html.twig' ':Form:jquery.collection.html.twig' %}

    {{ form_start(form) }}
        {{ form_row(form.videos) }}
        {{ form_row(form.submit) }}
    {{ form_rest(form) }}
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">um_collection({add:'<a class="btn btn-outline-secondary" href="#">{{ "artist_profile.medias.add_video"|trans|raw }}</a>', remove:'<a class="danger-color" href="#">{{ "artist_profile.medias.remove_video"|trans|raw }}</a>'});</script>
{% endblock %}
