{% set active_link = 'pp' %}

{% extends '@App/User/Artist/edit_profile_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
{% endblock %}

{% block artist_edit_profile_content %}
    <h3>Photo de profil</h3>
    <div id="dropzone-1">
        <div id="artist_edit_pp" class="dropzone"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('document').ready(function() {
            var $ppzone =  $("div#artist_edit_pp");

            {% if artist.profilepic is not null %}
            var ppmock = {
                name: "{{ artist.profilepic.filename }}",
                url: "{{ absolute_url(asset(artist.webPath(artist.profilepic))) }}"
            };
            {% endif %}

            $ppzone.dropzone({
                url: "{{ oneup_uploader_endpoint('artist_gallery') }}",
                resizeWidth: 800,
                maxFiles: 1,
                addRemoveLinks: true,
                params: {
                    pp: 1,
                    artist: {{ artist.id }}
                },
                accept: function (file, done) {
                    console.log(file);
                    if ((file.type).toLowerCase() != "image/jpg" &&
                            (file.type).toLowerCase() != "image/gif" &&
                            (file.type).toLowerCase() != "image/jpeg" &&
                            (file.type).toLowerCase() != "image/png"
                    ) {
                        done("Invalid file");
                    }
                    else {
                        done();
                    }
                },
                removedfile: function(file) {
                    $.ajax({
                        method: 'get',
                        url: "{{ path('artist_ajax_remove_photo', {'id': artist.id}) }}",
                        data: {
                            filename: file.previewElement.querySelector("[data-dz-name]").innerHTML
                        },
                        complete: function() {
                            file.previewElement.remove();
                        }
                    });
                },
                init: function() {
                    this.files.push(ppmock);
                    this.createThumbnailFromUrl(ppmock, mppock.url);
                    this.emit('addedfile', ppmock);
                    this.emit("thumbnail", ppmock, ppmock.url);
                    this.emit('complete', ppmock);

                    $ppzone.options.maxFiles = 0;
                },
                success: function(file, serverResponse) {
                    file.previewElement.querySelector("[data-dz-name]").innerHTML = serverResponse.newfilename;
                }
            });
        });
    </script>
{% endblock %}