{% set active_link = 'medias' %}

{% extends '@App/User/Artist/edit_profile_layout.html.twig' %}

{% block artist_edit_profile_content %}
    <div class="profile-table-info">
        {% form_theme form ':Form:bootstrap_4_layout.html.twig' ':Form:jquery.collection.html.twig' %}
        {{ form_start(form) }}
            {{ form_row(form.videos) }}
            {{ form_row(form.submit) }}
        {{ form_rest(form) }}
        <div id="videos-stock">
            {% for video in artist.videos %}
                <div class="video-stock-{{ loop.index0 }}">
                    {{ video.embedVideo|raw }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        um_collection({
            add:'<a class="btn add-btn" href="#">+</a>',
            remove:'<a class="danger-color delete-btn" href="#">{{ "artist_profile.medias.remove_video"|trans|raw }}</a>',
        });

        $('#videos-stock').hide();

        {% for video in artist.videos %}
            $('#app_artist_medias_videos_{{ loop.index0 }}').append($('.video-stock-{{ loop.index0 }}'));
        {% endfor %}
    </script>

{% endblock %}
