{% set active_link = 'leave' %}

{% extends '@App/User/Artist/edit_profile_layout.html.twig' %}

{% block artist_edit_profile_content %}

    <div class="profile-table-info">

    <div class="modal fade" id="leaveArtistModal" tabindex="-1" role="dialog" aria-labelledby="leaveArtistModalLabel" aria-hidden="true">>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>{{ 'leave_artist.warning'|trans|raw }}</p>
                    {% if lastOne %}
                        <p class="alert alert-warning">{{ 'leave_artist.last.warning'|trans({'%artist%':artist})|raw }}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {{ form_start(form) }}
                    {{ form_widget(form.confirm) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'leave_artist.cancel'|trans|raw }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

        <h4 class="danger-color-title">QUITTER LA GESTION</h4>

    <p>
        {{ 'leave_artist.intro'|trans|raw }}
    </p>

    <label class="custom-control custom-checkbox pr-3" for="checkbox-leave-artist">
        <input type="checkbox" id="checkbox-leave-artist" data-toggle="collapse" data-target="#collapse-leave-artist" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ 'leave_artist.checkbox'|trans({'%artist%':artist})|raw }}</span>
    </label>

    <div class="collapse" id="collapse-leave-artist">
        {% if lastOne and not artist.available %}
            <p>{{ 'leave_artist.last.busy'|trans|raw }}</p>
        {% else %}
            <button id="button-suppress-account" type="button" class="btn btn-remove-facebook-account" data-toggle="modal" data-target="#leaveArtistModal">
                {{ 'leave_artist.confirm'|trans({'%artist%':artist})|raw|upper }}
            </button>
        {% endif %}
    </div>

    </div>

{% endblock %}