{% set active_link = 'leave' %}

{% extends '@App/User/Artist/edit_profile_layout.html.twig' %}

{% block artist_edit_profile_content %}

    <div class="modal fade" id="leaveArtistModal" tabindex="-1" role="dialog" aria-labelledby="leaveArtistModalLabel" aria-hidden="true">>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Attention, cette action est irréversible !</p>
                    {% if lastOne %}
                        <p class="alert alert-warning">Vous êtes le dernier propriétaire de {{ artist.artistname }}. Si vous poursuivez, l'artiste sera supprimé du catalogue de la plateforme.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {{ form_start(form) }}
                    {{ form_widget(form.confirm) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <p>
        Sur cette page, vous avez la possibilité de quitter la gestion de cet artiste. Si vous en êtes le dernier propriétaire, l'artiste sera définitivement supprimé du catalogue Un-Mute.
    </p>

    <label class="custom-control custom-checkbox pr-3" for="checkbox-leave-artist">
        <input type="checkbox" id="checkbox-leave-artist" data-toggle="collapse" data-target="#collapse-leave-artist" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Je souhaite quitter la gestion de {{ artist.artistname }}</span>
    </label>

    <div class="collapse" id="collapse-leave-artist">
        {% if lastOne and not artist.available %}
            <p>Vous ne pouvez pas quitter cet artiste à l'heure actuelle car vous en êtes le dernier propriétaire et un événement inmpliquant cet artiste est
            en cours de récolte de tickets.</p>
        {% else %}
            <button id="button-suppress-account" type="button" class="btn btn-danger" data-toggle="modal" data-target="#leaveArtistModal">
                Quitter {{ artist.artistname }}
            </button>
        {% endif %}
    </div>

{% endblock %}