{% extends "base.html.twig" %}

{% block stylesheets %}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h2>Lancer un nouveau crowdfunding - étape {{ flow.currentStepNumber }} / {{ flow.lastStepNumber }} : {{ flow.currentStepLabel }}</h2>

    {% if flow.currentStepNumber == flow.lastStepNumber %}
        <div>
            Artiste : {{ contract.artist }}<br />/
            Province : {{ contract.province is empty ? 'Sans importance' : contract.province }}<br />
            Date choisie : {{ contract.preferences.date|date('d/m/Y') }}

        </div>
    {% endif %}

    {{ form_start(form) }}

    {{ form_rest(form) }}
    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
        craue_formflow_button_class_last: 'btn btn-primary',
        craue_formflow_button_class_back: 'btn',
        craue_formflow_button_class_reset: 'btn btn-warning',
        } %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('document').ready(function() {
            var $datePicker = $('.datePicker');
            var availableDates = $datePicker.attr('available-dates').toString().split(',');

            function available(d) {
                var mdy = ("0"+(d.getMonth()+1)).slice(-2) + "/" + ("0" + d.getDate()).slice(-2) + "/" +
                        d.getFullYear();

                if($.inArray(mdy, availableDates) < 0) {
                    return false;
                }
                return true;
            }

            function get_default_date() {
                var date = new Date();
                var i = 0;
                var stop = false;
                while(!available(date) && !stop) {
                    date.setDate(date.getDate()+1);
                    i++;
                    if(i == 120) {
                        stop = true;
                    }
                }
                if(stop) { return new Date(); }
                return date;
            }

            $datePicker.datepicker({
                beforeShowDay: function(d) {
                    return [available(d), ''];
                },
                defaultDate: get_default_date(),
                dateFormat: 'mm/dd/yy'
            });
        });
    </script>
{% endblock %}