{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mb-4">Lancement d'un nouvel événement</h2>
        {% if no_artist is defined %}
            <p>Vous n'avez pas d'artiste disponible pour lancer un nouvel événement. Souhaitez-vous <a href="{{ path('user_new_artist') }}">créer un nouvel artiste</a> ?</p>
        {% else %}
            {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}

            <div class="content-box">
                <div class="content-box-content">
                    <h3>Étape {{ flow.currentStepNumber }}/{{ flow.lastStepNumber }} : {{ flow.currentStepLabel }} </h3>
                    {% if flow.currentStepNumber == 1 %}
                        <p>
                            Choisissez un artiste, une province et un niveau de concert. Des dates vous seront alors proposées en fonction des disponibilités des salles.
                            La salle où aura lieu le concert sera annoncée une fois l'objectif de crowdfunding atteint.
                        </p>
                    {% endif %}

                    {% if flow.currentStepNumber == flow.lastStepNumber %}
                        <ul class="um-list">
                            <li>Artiste : {{ contract.artist }}</li>
                            <li>Province : {{ contract.province is empty ? 'Sans importance' : contract.province }}</li>
                            <li>Date choisie : {{ contract.preferences.date|date('d/m/Y') }}</li>
                            {% if contract.motivations is not empty %}
                                <li>Motivations : <br />{{ contract.motivations|nl2br }}</li>
                            {% endif %}
                            {% if contract.preferences.additionalInfo is not empty %}
                                <li>Informations pour Un-Mute : <br />{{ contract.preferences.additionalInfo|nl2br }}</li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    {{ form_start(form) }}
                    {% if flow.currentStepNumber == 2 %}
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_errors(form.preferences.date) }}
                                {{ form_label(form.preferences.date) }}
                            </div>
                            <div class="col-12">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="align-middle">
                                            {{ form_widget(form.preferences.date) }}
                                        </td>
                                        <td class="align-middle pl-4">
                                            <p id="datePicker-vis"></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{ form_row(form.motivations) }}
                        {{ form_row(form.preferences.additional_info) }}

                    {% elseif flow.currentStepNumber == flow.lastStepNumber %}

                        {{ form_errors(form.accept_conditions) }}
                        {{ form_widget(form.accept_conditions) }}

                    {% endif %}

                    {{ form_rest(form) }}
                    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                        craue_formflow_button_class_last: 'btn btn-primary mr-3 mt-2 mt-md-0',
                        craue_formflow_button_class_back: 'btn btn-secondary mr-3 mt-2 mt-md-0',
                        craue_formflow_button_class_reset: 'btn btn-outline-warning mr-3 mt-2 mt-md-0',
                        } %}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('document').ready(function() {
            var $datePicker = $('.datePicker');
            var availableDates = $datePicker.attr('available-dates').toString().split(',');

            function available(d) {
                var mdy = ("0"+(d.getMonth()+1)).slice(-2) + "/" + ("0" + d.getDate()).slice(-2) + "/" +
                        d.getFullYear();

                if($.inArray(mdy, availableDates) < 0) {
                    return false;
                }
                return true;
            }

            function get_default_date() {
                var date = new Date();
                var i = 0;
                var stop = false;
                while(!available(date) && !stop) {
                    date.setDate(date.getDate()+1);
                    i++;
                    if(i == 120) {
                        stop = true;
                    }
                }
                if(stop) { return new Date(); }
                return date;
            }

            function dateToText(date) {
                var res = date.split('/');
                return res[1] + ' / ' + res[0] + ' / ' + res[2];
            }

            $datePicker.datepicker({
                beforeShowDay: function(d) {
                    return [available(d), ''];
                },
                defaultDate: get_default_date(),
                dateFormat: 'mm/dd/yy'
            });

            $datePicker.change(function() {
                $('#datePicker-vis').text('Date choisie : ' + dateToText($datePicker.val()));
            });
        });
    </script>
{% endblock %}