{% set active_link = 'owners' %}

{% extends "@App/User/Artist/edit_profile_layout.html.twig" %}

{% block artist_edit_profile_content %}

    {#<h3>Votre rôle au sein de l'artiste</h3>
    <div>
        {{ form_start(form1) }}
            Votre rôle pour l'artiste "{{ artist.artistname }}" :
            <div class="form-group">
             {{ form_widget(form1.role) }}
            </div>
        {{ form_rest(form1) }}
    </div>#}

    {% if owners|length > 1 or requests|length > 0 %}
    <h3>Autres propriétaires</h3>
    <ul>
    {% for owner in owners if owner.user.id != app.user.id %}
        <li>{{ owner.user.displayName }}
            <br> Rôle : {% if owner.role is not null %}{{ owner.role }}{% endif %}
        </li>
    {% endfor %}
    {% for request in requests %}
        <li>{{ request.email }} - en attente de confirmation
            (ajouté par {{ request.demander.displayName }})
            {% if request.demander.id == app.user.id %}<a href="{{ path('artist_cancel_ownership_request', {'id': artist.id, 'request_id': request.id}) }}">annuler</a>{% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    <h3>Ajouter des propriétaires</h3>
    <p>
        Vous pouvez ici ajouter d'autres utilisateurs Un-Mute à la gestion de cet artiste. Deux cas sont possibles :
    </p>
    <ul class="um-list">
        <li>S'ils ont déjà un compte Un-Mute, ils pourront simplement accepter votre demande et seront ajoutés comme propriétaires.</li>
        <li>Sinon, pas de problème ! Ils seront invités par e-mail à s'inscrire sur Un-Mute, puis à accepter votre demande.</li>
    </ul>

    {% form_theme form2 'AppBundle:Themes:ownerships_collection.html.twig' 'jquery.collection.html.twig' %}
    {{ form_start(form2) }}
        <div class="form_group mb-3">
            {{ form_widget(form2.ownership_requests_form) }}
        </div>
    {{ form_rest(form2) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        um_collection({
            add: '<a class="btn btn-outline-secondary" href="#">Ajouter un propriétaire</a>',
            remove:'<a class="danger-color" href="#">Supprimer</a>'
        });
    </script>
{% endblock %}