{% set active_link = 'owners' %}

{% extends "@App/User/Artist/edit_profile_layout.html.twig" %}

{% block artist_edit_profile_content %}

    <div>
        Votre rôle pour l'artiste "{{ artist.artistname }}" :
        {{ form(form1) }}
    </div>

    {% if owners|length > 1 or requests|length > 0 %}
    <h2>Autres propriétaires</h2>
    <ul>
    {% for owner in owners if owner.user.id != app.user.id %}
        <li>{{ owner.user.displayName }}
            <br> Rôle : {% if owner.role is not null %}{{ owner.role }}{% endif %}
        </li>
    {% endfor %}
    {% for request in requests %}
        <li>{{ request.email }} - en attente de confirmation
            (ajouté par {{ request.demander.displayName }})
            {% if request.demander.id == app.user.id %}<a href="{{ path('artist_cancel_ownership_request', {'id': artist.id, 'request_id': request.id}) }}">annuler</a>{% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    <h2>Ajouter des propriétaires</h2>

    {% form_theme form2 'AppBundle:Themes:ownerships_collection.html.twig' 'jquery.collection.html.twig' %}
    {{ form_start(form2) }}
        {{ form_widget(form2.ownership_requests_form) }}
    {{ form_rest(form2) }}

    <h2>Quitter l'artiste</h2>


        <a class="btn btn-danger" href="{{ path('artist_leave', {'id': artist.id}) }}">Je quitte le groupe</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('.ownership').collection({
            up: '',
            down: '',
            add_at_the_end: true,
            add: '<a href="#">Ajouter</a>'
        });
    </script>
{% endblock %}