{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3 class="text-center mb-3">Rejoindre {{ request.artist.artistname }}</h3>

        {% if request.cancelled %}
            <p class="alert alert-error">Cette requête a été annulée par son émetteur.</p>
        {% else %}
            <div class="content-box">
                <div class="content-box-content">
                    <p>
                        L'utilisateur {{ request.demander.displayName }} souhaite que vous le rejoigniez dans la gestion de l'artiste <a target="_blank" href="{{ path('artist_profile', {'id': request.artist.id}) }}">{{ request.artist.artistname }}</a>.
                    </p>
                        {{ form_start(form) }}
                            {{ form_row(form.accept) }}
                            {{ form_row(form.refuse) }}
                        {{ form_rest(form) }}
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}
