{% extends "base.html.twig" %}

{% block header %}{% include ':patterns:header.html.twig' with {'img': '', 'title':'Oups...'} %}{% endblock %}

{% block body %}
    <div class="container p-5 text-center">
        <h3>{% block error_title %}{{ 'error.generic.title'|trans }}{% endblock %}</h3>

        <p class="text-center font-italic">{{ 'error.intro'|trans|raw }}</p>

        <div class="row">
            <div class="col-12 col-md-2">
                <img class="rounded-circle img-fluid" src="{{ asset('images/loader2.gif') }}" />
            </div>

            <div class="col-12 col-md-8 my-auto">
                <p>{% block error_content %}{{ 'error.generic.content'|trans|raw }}{% endblock %}</p>
            </div>

            <div class="col-12 col-md-2">
                <img class="rounded-circle img-fluid" src="{{ asset('images/loader2.gif') }}" />
            </div>
        </div>
    </div>
{% endblock %}