{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form ':Form:bootstrap_4_layout.html.twig' '::jquery.collection.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    <div class="form-group">
        <h4>Identité</h4>
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
    </div>

    <div class="form-group mt-4">
        <h4>Goûts musicaux</h4>
        <p>En remplissant le champ suivant avec les styles musicaux qui vous plaisent, vous permettez à Un-Mute Asbl de vous proposer, sur son site Web,
            en priorité les concerts d'artistes qui correspondent à ces styles musicaux.
            <button type="button" class="small btn btn-outline-secondary px-1" data-toggle="tooltip" data-placement="top" title="Cela ne nous permet pas d'utiliser ces informations à d'autres fins commerciales.">plus d'infos</button>
        </p>
        {{ form_row(form.genres) }}
    </div>

    <div class="form_group mt-4">
        <h4>Adresse</h4>
        <p>
            En nous fournissant votre adresse par le formulaire ci-dessous, vous permettez à Un-Mute Asbl de vous proposer, sur son site Web, en priorté les concerts d'artistes qui auront lieu près de cette adresse.
            <button type="button" class="small btn btn-outline-secondary px-1" data-toggle="tooltip" data-placement="top" title="Cela ne nous permet pas d'utiliser ces informations à d'autres fins commerciales.">plus d'infos</button>
        </p>
        {{ form_widget(form.addressForm) }}
    </div>

    <div class="form-group mt-4">
        <h4>Date de naissance</h4>
        <p>
            En remplissant le champ suivant avec votre date de naissance, vous permettez à Un-Mute Asbl de vous proposer, sur son site Web,
            en priorité les concerts d'artistes qui correspondent à votre tranche d'âge.
            <button type="button" class="small btn btn-outline-secondary px-1" data-toggle="tooltip" data-placement="top" title="Cela ne nous permet pas d'utiliser ces informations à d'autres fins commerciales.">plus d'infos</button>
        </p>
        {{ form_row(form.birthday) }}
    </div>

    <div class="form-group mt-4">
        <h4>Communications commerciales</h4>
        <p>
            En cochant la case suivante, vous permettez à Un-Mute Asbl de vous faire parvenir des newsletters et autres informations commerciales en lien avec ses activités par e-mail.
            <button type="button" class="small btn btn-outline-secondary px-1" data-toggle="tooltip" data-placement="top" title="Vous pouvez vous désinscrire de notre mailing-list à tout moment en décochant cette case.">plus d'infos</button>
        </p>
        {{ form_widget(form.newsletter) }}
    </div>

{{ form_rest(form) }}