{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form ':Form:bootstrap_4_layout.html.twig' '::jquery.collection.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    <div class="form-group">
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_widget(form.newsletter) }}
        {{ form_row(form.genres) }}
    </div>

    <div class="form_group">
        {{ form_widget(form.addressForm) }}
    </div>


{{ form_end(form) }}