{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.email'|trans }} : {{ user.email }}</p>
    <p>{{ 'profile.show.firstname'|trans }} : {{ user.firstName }} </p>
    <p>{{ 'profile.show.lastname'|trans }} : {{ user.lastName }} </p>
    {% if user.address is not null %}
        <p>
            {{ 'profile.show.address'|trans }} : {{ user.address }}
        </p>
    {% endif %}

    {% if user.artistsUser is not empty %}
    <p>{{ 'profile.show.artists'|trans }} :
        <ul>
            {% for a in user.artistsUser %}
                <li><a href="{{ path('artist_profile', {'id': a.artist.id}) }}">{{ a.artist.artistname }}</a></li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}

    {% if user.genres is not empty %}
        <p>{{ 'profile.show.genres'|trans }} :
            <ul>
                {% for g in user.genres %}
                    <li>{{ g.name }}</li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}
</div>
