{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.email'|trans }} : {{ user.email }}</p>
    <p>{{ 'profile.show.firstname'|trans }} : {{ user.firstName }} </p>
    <p>{{ 'profile.show.lastname'|trans }} : {{ user.lastName }} </p>

    {% if user.birthday is not null and user.birthday|date('Y') > 1900 %}
        <p>
            {{ 'profile.show.birthday'|trans }} : {{ user.birthday|date('d/m/Y') }}
        </p>
    {% endif %}

    {% if user.address is not null %}
        <p>
            {{ 'profile.show.address'|trans }} : {{ user.address }}
        </p>
    {% endif %}

    {% if user.artistsUser is not empty %}
    <p>{{ 'profile.show.artists'|trans }} :
        <ul class="um-list">
            {% for a in user.artistsUser %}
                <li><a href="{{ path('artist_profile', {'id': a.artist.id}) }}">{{ a.artist.artistname }}</a></li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}

    {% if user.genres is not empty %}
        <p>{{ 'profile.show.genres'|trans }} :
            <ul class="um-list">
                {% for g in user.genres %}
                    <li>{{ g.name }}</li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}

    <p>
        {{ 'profile.show.newsletter'|trans }} : {{ user.newsletter ? 'Oui' : 'Non' }}
    </p>

    <p>
        {{ 'profile.show.inscription_date'|trans }} : {{ user.inscriptionDate|date('d/m/Y') }}
    </p>
</div>
