{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p><strong>{{ 'profile.show.email'|trans }}</strong> : {{ user.email }}</p>
    <p><strong>{{ 'profile.show.firstname'|trans }}</strong> : {{ user.firstName }} </p>
    <p><strong>{{ 'profile.show.lastname'|trans }}</strong> : {{ user.lastName }} </p>

    {% if user.birthday is not null and user.birthday|date('Y') > 1900 %}
        <p>
            <strong>{{ 'profile.show.birthday'|trans }}</strong> : {{ user.birthday|date('d/m/Y') }}
        </p>
    {% endif %}

    {% if user.address is not null %}
        <p>
            <strong>{{ 'profile.show.address'|trans }}</strong> : {{ user.address }}
        </p>
    {% endif %}

    {% if user.artistsUser is not empty %}
    <p><strong>{{ 'profile.show.artists'|trans }}</strong> :
        <ul class="um-list">
            {% for a in user.artistsUser %}
                <li><a href="{{ path('artist_profile', {'id': a.artist.id}) }}">{{ a.artist.artistname }}</a></li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}

    {% if user.genres is not empty %}
        <p><strong>{{ 'profile.show.genres'|trans }}</strong> :
            <ul class="um-list">
                {% for g in user.genres %}
                    <li>{{ g.name }}</li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}

    <p>
        <strong>{{ 'profile.show.newsletter'|trans }}</strong> : {{ user.newsletter ? 'Oui' : 'Non' }}
    </p>

    <p>
        <strong>{{ 'profile.show.inscription_date'|trans }}</strong> : {{ user.inscriptionDate|date('d/m/Y') }}
    </p>
</div>
