{# src/XBundle/Resources/views/Projects/delete.html.twig #}

{% extends "XBundle::layout.html.twig" %}

{% block title %}
  Supprimer un projet - {{ parent() }}
{% endblock %}

{% block x_body %}

  <h2>Supprimer une annonce</h2>

  <p>
    Etes-vous certain de vouloir supprimer le projet "{{ project.name }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('x_projects_delete', {'id': project.id}) }}" method="post">
    <a href="{{ path('x_projects_home', {'id': project.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}