{# src/XBundle/Resources/views/Projects/index.html.twig #}

{% extends "XBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block x_body %}

  <h2>Liste des annonces</h2>

  <div class="container-fluid" style = "padding-top: 5%; width : 100%; margin-left : 10%">
  <div class="row">
  {% for project in listProjects %}
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
		<img class ="card-img-top" />
		<div class="progress" style = "margin-bottom : 4%">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{ project.fund }}%;" aria-valuenow="{{ project.fund }}" aria-valuemin="0" aria-valuemax="100">{{ project.fund }}/100€</div>
</div>
        <a href="#" class="btn btn-primary">Soutenez-le</a>
      </div>
    </div>
  </div>
  {% else %}
  <p> Pas (encore!) de projets </p>
  {% endfor %}
  </div>
  </div>

{% endblock %}
