{% extends 'sonata_admin_layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="content-box">
        <div class="content-box-content">
            <h2>Envoi des remboursements pour {{ contract }}</h2>

            <p><a href="{{ path('artist_contract', {'id':contract.id, 'slug': contract.slug}) }}">Voir la page de l'événement.</a></p>

            {% if not (contract.successful or contract.failed) %}
                <p>
                    Cet événement n'est pas marqué comme réussi ; impossible d'envoyer les mails !
                </p>
            {% else %}
                <p>
                    Cet événement est marqué comme réussi. Tu peux donc envoyer les remboursements des commandes dont les artistes sélectionnés font partie d'une line-up en échec.
                    <b>Attention : il faut absolument avoir auparavant envoyé les mails de confirmation.</b>
                </p>

                <div>
                    {{ form_errors(form) }}
                    {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_widget(form.send) }}
                        {{ form_widget(form.cancel) }}
                    </div>

                    {% do form.preview.setRendered(true) %}
                    {{ form_rest(form) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}