{% extends 'sonata_admin_layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="content-box">
        <div class="content-box-content">
            <h2>Validation de concert</h2>

            {% if contract.pending %}
                {% if contract.state is constant('STATE_PENDING', contract) %} {# Deadline hit #}
                    <p>
                        Cet événement est arrivé à échéance et attend ta décision pour être confirmé ou non.
                    </p>
                    <p>
                        À première vue, le contrat est {% if contract.ticketsSold >= contract.step.minTickets %}rempli !{% else %}un échec...{% endif %}.
                    </p>
                {% else %}
                    {# No deadline hit -> success before deadline #}
                    <p>
                        Cet événement a atteint le seuil de ventes requis ! Il n'y a plus qu'à le confirmer en renseignant la salle et la date confirmées.
                    </p>

                    <p>
                        S'il s'agit d'une erreur ou d'un test, tu as aussi la possibilité de marquer l'événement comme un échec.
                    </p>
                {% endif %}

                <p><a href="{{ path('artist_contract', {'id':contract.id, 'slug': contract.artist.slug}) }}">Voir la page de l'événement.</a></p>

                <p class="alert alert-warning">
                    Attention, quelle que soit ta décision, un mail sera envoyé à tous les crowdfundeurs pour la leur annoncer.
                </p>

                <div>
                    {{ form_start(form) }}

                    <p>
                        ATTENTION : relis bien ces infos car elles seront envoyées par mail si tu confirmes le concert !
                        Si tu souhaites marquer le concert comme raté, laisse les valeurs par défaut.
                    </p>

                    <div class="form-group">
                        {{ form_widget(form.acceptConditions) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.marksuccessful) }}
                        {{ form_widget(form.markfailed) }}
                    </div>

                    {{ form_rest(form) }}
                </div>
            {% else %}
                Tu ne peux pas confirmer un concert tant que l'échéance de la vente de tickets n'a pas été atteinte.
            {% endif %}
        </div>
    </div>
{% endblock %}