{% extends '@App/PDF/layout.html.twig' %}

{% block content %}
    <h1>Récapitulatif de votre commande</h1>

    <p>Merci d'avoir passé une commande de tickets de concert avec Un-Mute.
        Vous trouverez ci-dessous toutes les informations au sujet de votre commande.
        Pour toute information supplémentaire, vous pouvez nous contacter en envoyant un e-mail à pierre@un-mute.be
    </p>

    <p>Note : Actuellement, par lot de 3 tickets achetés, un quatrième vous est offert.</p>

    <ul>
        <li>Date : {{ cf.date|date('d/m/Y') }}</li>
        <li>Evénement soutenu : {{ cf.contractArtist }}</li>
        <li>Montant total : {{ cf.amount }} €</li>
        <li>Nombre de tickets achetés : {{ cf.counterPartsQuantityOrganic }}</li>
        {% set freeTickets = cf.counterPartsQuantityPromotional %}
        {% if freeTickets > 0 %}
            <li>Nombre de tickets supplémentaires obtenus par promotion : {{ freeTickets }}</li>
        {% endif %}
    </ul>




    <h2>Détails de la commande</h2>

    <table>
        <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix</th>
        </tr>
        {% for purchase in cf.purchases %}
            <tr>
                <td>
                    {{ purchase.counterpart.name }}
                </td>
                <td>
                    {{ purchase.quantityOrganic }}
                </td>
                <td>
                    {{ purchase.counterpart.price }} €
                </td>
                <td>
                    {{ purchase.amount }} €
                </td>
            </tr>
            {% set freeTickets = purchase.quantityPromotional %}
            {% if freeTickets > 0 %}
                <tr>
                    <td>
                        {{ purchase.counterpart.name }} - promotion
                    </td>
                    <td>
                        {{ freeTickets }}
                    </td>
                    <td>
                        0 €
                    </td>
                    <td>
                        0 €
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h2>Processus d'achat Un-Mute</h2>

    <p>
        Vous serez remboursé(e) de l'intégralité du paiement si l'artiste soutenu ne parvient pas à vendre au moins {{ cf.contractArtist.minTickets }} tickets sur Un-Mute pour ce concert.
        Pour les détails de notre processus d'achat, référez-vous à nos conditions générales accessibles sur https://un-mute.be
    </p>
{% endblock %}