{% extends '@App/PDF/layout.html.twig' %}

{% block content %}
    <h1>Récapitulatif de votre commande</h1>

    <p>Merci d'avoir passé une commande de tickets de concert avec Un-Mute.
        Vous trouverez ci-dessous toutes les informations au sujet de votre commande.
        Pour toute information supplémentaire, vous pouvez nous contacter en envoyant un e-mail à pierre@un-mute.be
    </p>

    <ul>
        <li>Date : {{ cf.date|date('d/m/Y H:i:s') }}</li>
        <li>Montant total : {{ cf.amount }} €</li>
        <li>Nombre de tickets achetés : {{ cf.counterPartsQuantity }}</li>
        <li>Evénement soutenu : {{ cf.contractArtist }}</li>
    </ul>

    <h2>Détails de la commande</h2>

    <table>
        <tr>
            <th>Article</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix</th>
        </tr>
        {% for purchase in cf.purchases %}
            <tr>
                <td>
                    {{ purchase.counterpart.name }}
                </td>
                <td>
                    {{ purchase.quantity }}
                </td>
                <td>
                    {{ purchase.counterpart.price }} €
                </td>
                <td>
                    {{ purchase.amount }} €
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Processus d'achat Un-Mute</h2>

    <p>
        Vous serez remboursé(e) de l'intégralité du paiement si l'artiste soutenu ne parvient pas à vendre au moins {{ cf.contractArtist.step.minTickets }} tickets sur Un-Mute pour ce concert.
        Pour les détails de notre processus d'achat, référez-vous à nos conditions générales accessibles sur https://un-mute.be
    </p>
{% endblock %}