{% extends '@App/PDF/layout.html.twig' %}

{% block additional_styles %}
    table.ticket {
    position: relative;
    background: url({{ absolute_url(asset('images/tickets/ticket-bg.jpg')) }}) no-repeat top left;
    border-bottom: 1px solid rgba(67,66,71,1);
    border-left: 1px solid;
    border-right: 1px solid;
    }

    .lineup-title {
    font-size: 5mm;
    padding: 3mm 0;
    }

    .ticket-title {
    font-size: 6mm;
    padding: 3mm 0;
    }

    .next-to-logo {
    max-width: 100mm;
    }

    .td-timing {
    padding-top: 20mm;
    font-size: 3mm;
    }
{% endblock %}

{% block page %}
    {% for ticket in tickets %}
        <page backtop="30mm" backbottom="7mm" backleft="10mm" backright="10mm">
            {{ block('header') }}
            {{ block('footer') }}

            <table class="ticket" style="position:relative">
                <qrcode value="{{ ticket.barCodeText }}" ec="H"
                        style="position:absolute; left: -40px; top: 50px; width: 30mm; background-color: white; color: black;"></qrcode>

                <tr class="text-white">
                    <td style="width: 30mm; text-align: center;">{{ ticket.price }} €</td>
                    <td style="width: 50mm;">{{ ticket.name }} {% if ticket.counterPart is not null %}
                            <br />{{ ticket.counterPart.name }}
                        {% endif %}</td>
                    <td style="width: 70mm; font-size:3mm;"
                        class="text-right">{{ 'tickets_pdf.ticket.is_entry'|trans|nl2br }}</td>
                </tr>
                <tr class="text-white">
                    <td>
                    </td>
                    <td colspan="2" style="width:130mm">
                        <div class="text-center ticket-title text-bold">{{ ticket.contractArtist.title }}
                            <br/>{% for date in ticket.contractArtist.festivalDates %}{% if not loop.first %} - {% endif %}{{ (date|date('d') ~ ' ' ~ ('months.' ~ date|date('m'))|trans ~ ' ' ~ date|date('Y'))|upper }}{% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30mm; font-size: 3mm;" valign="bottom">{{ ticket.barCodeText }}</td>
                    <td colspan="2" class="td-timing">
                        {% if ticket.contractArtist.knownLineup %}
                            {% for festivalday in ticket.contractArtist.festivalDays %}
                                <div>
                                    <b>{{ ('Days ' ~ festivalday.date|date('w'))|trans }} {{ festivalday.date|date('j') }} {{ ('months.' ~ festivalday.date|date('m'))|trans }}</b>
                                    <br />{{ 'doors_opening'|trans }} : {{ festivalday.date|date('H:i') }}
                                    {% for performance in festivalday.performances %}
                                        <br />{{ performance.time|date('H:i') }} - {{ performance.timeEnd|date('H:i') }} : {{ performance.artist }}
                                    {% endfor %}
                                </div>
                                {% if festivalday.hall is not null %}
                                    <p class="text-right">{{ festivalday.hall.name }}
                                        - {{ festivalday.hall.address }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                    </td>
                </tr>
            </table>
            <br>
            <div>
                {% if ticket.rewards is not empty %}
                    <div>{{ 'tickets_pdf.rewards'|trans()|raw }} :</div>
                    {% for reward in ticket.rewards %}
                        <div>{{ reward.userReward.displayPracticalInformation }}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="between-tickets"></div>
            <div style="font-size: 80%;">
                <p>{{ 'tickets_pdf.conditions'|trans({'%conditionsUrl%': url('conditions')})|raw|nl2br }}
                {% if ticket.counterpart.isChildEntry %}<br />
                    - Ce ticket d'entrée à prix réduit n'est valable que pour un enfant de moins de 12 ans. Une carte d'identité peut être demandée à l'entrée pour vérifier l'âge de l'enfant. Tout enfant devra être accompagné par un adulte. Attention, exposer des enfants à des concerts peut nuire à leur santé. Nous vous conseillons l'utilisation de casques anti-bruit ou d'autres dispositifs réduisant les risques auditifs pour les enfants.
                {% endif %}
                </p>
            </div>

            <div class="between-tickets"></div>

            {% if agenda is defined and agenda is not empty %}
                <hr/>
                <div class="agenda">
                    <h4>{{ 'tickets_pdf.agenda.title'|trans }}</h4>
                    {% for event in agenda %}
                        <p style="margin-top: 2px">
                            <a href="{{ url('artist_contract', {'id': event.id, 'slug': event.slug}) }}"
                               style="text-decoration: none;">
                                {{ event.titleWithDates }}
                                ({% if event.isSoldOut %}{{ 'tickets_pdf.agenda.sold_out'|trans }}{% elseif event.isInSuccessfulState %}{{ 'tickets_pdf.agenda.confirmed'|trans }}{% else %}{{ 'tickets_pdf.agenda.not_confirmed'|trans }}{% endif %})
                            </a>
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
        </page>
    {% endfor %}
{% endblock %}