{% extends '@App/PDF/layout.html.twig' %}

{% block header %}{# not necessary #}{% endblock %}

{% block additional_styles %}
    table.ticket {
        position: relative;
        background: url({{ absolute_url(asset('images/tickets/ticket-bg.jpg')) }}) no-repeat top left;
        border-bottom: 1px solid rgba(67,66,71,1);
        border-left: 1px solid;
        border-right: 1px solid;
    }

    .lineup-title {
        font-size: 5mm;
        padding: 3mm 0;
    }

    .ticket-title {
        font-size: 6mm;
        padding: 3mm 0;
    }

    .next-to-logo {
        max-width: 100mm;
    }

    .td-timing {
        padding-top: 7mm;
        font-size: 4mm;
    }

{% endblock %}

{% block page_margins %}backtop="7mm" backbottom="7mm" backleft="10mm" backright="10mm"{% endblock %}

{% block content %}
    {% for ticket in cf.tickets %}
        {% if loop.index % 2 == 0 %}
            <div class="between-tickets"></div>
        {% endif %}

        <table class="ticket" style="position:relative">
            <qrcode value="{{ ticket.barCodeText }}" ec="H" style="position:absolute; left: -40px; top: 50px; width: 30mm; background-color: white; color: black;"></qrcode>

            <tr class="text-white">
                <td style="text-align: center;">{{ ticket.price }} €</td>
                <td>{{ cf.user.displayName }}</td>
                <td class="text-right">{{ 'tickets_pdf.is_entry'|trans|nl2br }}</td>
            </tr>
            <tr class="text-white">
                <td style="width: 30mm;">
                    {#{{ barcode({code: ticket.barCodeText, type: 'pdf417', format: 'html', color: 'black'}) }}#}
                </td>
                <td colspan="2" style="width:130mm">
                    <div class="text-center ticket-title text-bold">{{ 'tickets_pdf.ticket.title'|trans({'%hall_name%': cf.contractArtist.hallConcert.name})|upper }}
                    <br />{{ (cf.contractArtist.dateConcert|date('d') ~ ' ' ~ ('months.' ~ cf.contractArtist.dateConcert|date('m'))|trans ~ ' ' ~ cf.contractArtist.dateConcert|date('Y'))|upper }}</div>
                    <div class="lineup-title next-to-logo">{{ cf.contractArtist.mainArtist }}
                        {% if cf.contractArtist.coArtists is not empty %}
                            {%- if cf.contractArtist.coArtists[0] is defined %} - {{ cf.contractArtist.coArtists[0] }}{%- endif  -%}
                            {%- if cf.contractArtist.coArtists[1] is defined %} - {{ cf.contractArtist.coArtists[1] }}{%- endif -%}
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 30mm;" ></td>
                <td colspan="2" class="td-timing">
                    <p class="next-to-logo text-bold text-secondary">
                        18:00 Doors<br />
                        {% if cf.contractArtist.coArtists is not empty %}
                            {%- if cf.contractArtist.coArtists[1] is defined -%}19:00 {{ cf.contractArtist.coArtists[1] }}<br />{% endif %}
                            {%- if cf.contractArtist.coArtists[0] is defined -%}20:15 {{ cf.contractArtist.coArtists[0] }}<br />{% endif %}
                        {% endif %}
                        21:30 {{ cf.contractArtist.mainArtist }}
                    </p>
                    <p class="text-right">{{ cf.contractArtist.hallConcert.name }} - {{ cf.contractArtist.hallConcert.address }}</p>
                </td>
            </tr>
        </table>
        {% if loop.index % 2 == 0 or loop.last %}
            <div class="between-tickets"></div>
            {{ lorem_ipsum() }}

            {% if loop.index % 2 == 0 and not loop.last %}
                </page>
                <page>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}