{% extends '@App/PDF/layout.html.twig' %}

{% block additional_styles %}
    table.ticket {
    position: relative;
    background: url({{ absolute_url(asset('images/tickets/ticket-bg.jpg')) }}) no-repeat top left;
    border-bottom: 1px solid rgba(67,66,71,1);
    border-left: 1px solid;
    border-right: 1px solid;
    }

    .ticket_head {
        height: 100%;
        width: auto;
        background:  no-repeat top left;
        background-size: contain;
    }

    .lineup-title {
    font-size: 5mm;
    padding: 3mm 0;
    }

    .ticket-title {
    font-size: 6mm;
    padding: 3mm 0;
    }

    .next-to-logo {
    max-width: 100mm;
    }

    .td-timing {
    padding-top: 40mm;
    font-size: 3mm;
    }
    p {
        margin-bottom: 4px;
        margin-top: 5px;
    }
    .footer {
    padding: 10px 20px;
    }
{% endblock %}

{% block page %}
    {% block header %}
    {% endblock %}
    {% for ticket in tickets %}
        <page backtop="90mm" backbottom="5mm" backleft="15mm" backright="4mm">
                <page_header>
                    <div style="position: relative" class="header">
                        <table>
                            <tr>
                           {# <td valign="top" style="background: url({{ absolute_url(asset('images/tickets/ticket-header.jpg')) }}); background-repeat: no-repeat; background-size: contain; background-position: top left;"><qrcode value="{{ ticket.barCodeText }}" ec="H"
                                                                                                                                                                                                                                                       style="position:relative; left: 120mm; top:55mm; width: 30mm; background-color: white; color: black;"></qrcode></td>
                            #}
                                <td valign="top"><img style="margin-top: -30px; margin-left: -30px;" src="{{ absolute_url(asset('images/tickets/ticket-header.jpg')) }}" /></td>
                            <td valign="middle"> {{ ticket.name }} <br> {% if ticket.counterPart is not null %}{{ ticket.counterPart.name }} {% endif %}({{ ticket.price }} €) <br> <br> <img src="{{ absolute_url(asset('images/logo.jpg')) }}" height="100" alt="Un-Mute ASBL" /><br>Acheté sur un-mute.be
                                <br><br>{{ ticket.barCodeText }} <br> <qrcode value="{{ ticket.barCodeText }}" ec="H"
                                                                         style="width: 30mm; background-color: white; color: black;"></qrcode>
                            </td>
                            </tr>
                        </table>

                    </div>
                </page_header>
            {{ block('footer') }}

            <p class="text-right">
                        {{ 'tickets_pdf.ticket.is_entry'|trans }}
            </p>

            <br>
            {% if ticket.contractArtist.knownLineup %}
                {% for festivalday in ticket.festivalDays if festivalday.atLeastOneLineUpConfirmed %}
                    <div>
                        <b>{{ ('Days ' ~ festivalday.date|date('w'))|trans }} {{ festivalday.date|date('j') }} {{ ('months.' ~ festivalday.date|date('m'))|trans }}</b>
                        <br />{{ 'doors_opening'|trans }} : {{ festivalday.date|date('H:i') }}
                        <table>
                            <tr>
                            {% for lineup in festivalday.confirmedLineUps %}
                                <td style="width: 45mm;">
                                    <h5 style="margin-bottom: 0">Affiche "{{ lineup.getName }}"</h5>
                                    {% for performance in lineup.performancesAsc %}
                                        <br />{{ performance.time|date('H:i') }} - {{ performance.timeEnd|date('H:i') }} : {{ performance.artist }}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% endif %}

            {% if ticket.rewards is not empty %}
                <div>
                    <div>{{ 'tickets_pdf.rewards'|trans()|raw }} :</div>
                    {% for reward in ticket.rewards %}
                        <div>{{ reward.userReward.displayPracticalInformation }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <p class="text-right">Adresse : {{ ticket.contractArtist.getOnlyHall.name }}
                - {{ ticket.contractArtist.getOnlyHall.address }}</p>

            <br><br>
            <div style="font-size: 80%;">
                <p>{{ 'tickets_pdf.conditions'|trans({'%conditionsUrl%': url('conditions')})|raw|nl2br }}
                {% if ticket.counterpart is not null and ticket.counterpart.isChildEntry %}<br />
                    - Ce ticket d'entrée à prix réduit n'est valable que pour un enfant de moins de 12 ans. Une carte d'identité peut être demandée à l'entrée pour vérifier l'âge de l'enfant. Tout enfant devra être accompagné par un adulte. Attention, exposer des enfants à des concerts peut nuire à leur santé. Nous vous conseillons l'utilisation de casques anti-bruit ou d'autres dispositifs réduisant les risques auditifs pour les enfants.
                {% endif %}
                </p>
            </div>

            <div class="between-tickets"></div>

            {% if agenda is defined and agenda is not empty %}
                <hr/>
                <div class="agenda">
                    <h4>{{ 'tickets_pdf.agenda.title'|trans }}</h4>
                    {% for event in agenda %}
                        <p style="margin-top: 2px">
                            <a href="{{ url('artist_contract', {'id': event.id, 'slug': event.slug}) }}"
                               style="text-decoration: none;">
                                {{ event.titleWithDates }}
                                ({% if event.isSoldOut %}{{ 'tickets_pdf.agenda.sold_out'|trans }}{% elseif event.isInSuccessfulState %}{{ 'tickets_pdf.agenda.confirmed'|trans }}{% else %}{{ 'tickets_pdf.agenda.not_confirmed'|trans }}{% endif %})
                            </a>
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
        </page>
    {% endfor %}

    {% if cf is not null %}
        {% for topping in cf.toppings %}
            <page backtop="30mm" backbottom="7mm" backleft="10mm" backright="10mm">
            {{ block('header') }}
            {{ block('footer') }}

                <h2>{{ topping }}</h2>

                <qrcode value="{{ topping.barCodeText }}" ec="H"
                        style="width: 30mm; background-color: white; color: black;"></qrcode>
            </page>
        {% endfor %}
    {% endif %}
{% endblock %}