{% extends '@App/PDF/yb_layout.html.twig' %}
{% trans_default_domain 'yb' %}

{% block additional_styles %}
{% endblock %}

{% block page %}
    <page backtop="30mm" backbottom="7mm" backleft="10mm" backright="10mm">
        {% block header %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {{ block('header') }}
        {{ block('footer') }}
        <p>
            Ticked-it <br />
            3, Place Saint-Antoine <br />
            1040 Bruxelles <br />
            0497/21.26.54
        </p>
        <p align="right">
            {{ campaign.address.name }} <br />
            {{ campaign.address.street }}
            {{ campaign.address.number }} <br />
            {{ campaign.address.zipcode }}
            {{ campaign.address.city }} <br />
            {{ campaign.address.country }}
        </p>
        <p>
            Namur, le 13/02/2019 <br />
        </p>

        <h2>{{ campaign }} - Facture de commission du 02/2019</h2>

        <table border="1" style="width: 100%; border-collapse: collapse;">
            <tr>
                <th>Description</th>
                <th>Commission unitaire</th>
                <th>Quantité</th>
                <th>Montant</th>
            </tr>
            {% set total = 0 %}
            {% for item in ticketData %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.commission|round(2) }}</td>
                    <td>{{ item.qty }}</td>
                    {% set subtotal = item.commission * item.qty %}
                    <td>{{ subtotal|round(2) }}</td>
                </tr>
                {% set total = total + subtotal %}
            {% endfor %}
            <tr class="text-bold">
                <td colspan="3">Grand Total</td>
                <td>{{ total|round(2) }}€</td>
            </tr>
        </table>
    </page>
{% endblock %}