{% extends '@App/PDF/yb_layout.html.twig' %}
{% trans_default_domain 'yb' %}

{% block additional_styles %}

{% endblock %}

{% block header_content %}
    <h3 class="green">Ne m'imprimez pas, je me porte bien mieux en milieu virtuel !</h3>
    <h3 style="margin-top: -15px">Je suis votre ticket <img src="{{ absolute_url(asset('yb/images/logo/logo-short.png')) }}" height="30" alt="Ticked-it!" /></h3>
{% endblock %}

{% block page %}
    {% for ticket in tickets %}
        {% set campaign = ticket.contractArtist %}
        <page backtop="20mm" backbottom="7mm" backleft="10mm" backright="10mm">
            {{ block('header') }}
            {{ block('footer') }}
            {% block content %}
            <table style="width: 600px; height:600px; margin-left: -20px;" cellspacing="0" cellpadding="0">
                <tr style="background-color: lightgoldenrodyellow; border-spacing: 0;">
                    <td style="width: 300px; height: 300px; border-top: solid orange 2px; border-left: solid orange 2px; border-bottom: solid orange 2px;">
                        <p style="text-align: justify">
                            Je donne accès à l'événement <a href="{{ url('yb_campaign', {'id': campaign.id}) }}" target="_blank">{{ campaign.getTitle }}</a>.
                            {% if ticket.dates|length > 0 %}
                                {% set dates = ticket.dates %}
                                <br />
                                Date{% if dates|length > 1 %}s{% endif %} : {% for date in dates %}{% if not loop.first %}, {% endif %}{{ date|fancy_date(true) }}{% endfor %}
                            {% endif %}
                        </p>
                        <div>
                            <div style="width: 49%">
                                <qrcode value="{{ ticket.barCodeText }}" ec="H" style="width: 30mm; background-color: white; color: black;"></qrcode>
                            </div>
                            <div style="width: 49%">
                                <span style="color: orangered">{{ ticket.barCodeText }}</span> <br>
                                {{ ticket.name }}<br>
                                {{ ticket.counterPart.getName }} - {{ ticket.price }} € <br>
                                {{ ticket.seat }}
                            </div>
                        </div>
                        {% if ticket.hasFreeSeatingSeat() %}
                            {% if ticket.counterPart.getAccessEverywhere() or campaign.config.blocks|length == 0 %}
                                <p>Ce ticket donne accès à l'entièreté de la salle !</p>
                            {% else %}
                                <p>
                                    Ce ticket donne accès au(x) bloc(s) suivant(s) :
                                    {% for block in ticket.counterPart.venueBlocks %}
                                        {% if block.freeSeating %}
                                            {{ block.name }} {% if not loop.last %}, {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td style="width: 300px; height: 300px; text-align: right; border-top: solid orange 2px; border-right: solid orange 2px; border-bottom: solid orange 2px;">
                        {% if customTicket != null and customTicket.isImageAdded == 'true' %}
                            {% if campaign.photo is not null %}
                                <img style="border:2px solid black; max-height: 100%; max-width: 100%;" src="{{ absolute_url(asset(campaign.getYBWebPath(campaign.photo))) }}">
                            {% else %}
                                <img style="border:2px solid black; max-height: 100%; max-width: 100%;" src="{{ absolute_url(asset('yb/images/illustration-guitars.jpg')) }}">
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="width: 300px; height: 300px;">
                        <div style="width: 300px; height: 300px">
                        {% if customTicket != null %}
                            {% if customTicket.isCustomInfosAdded == 'true' %}
                                <div style="border-bottom: dotted limegreen 2px">
                                    <p style="font-size: 12px; text-align: justify">{{ customTicket.getCustomInfos() }}</p>
                                    <br>
                                </div>
                                <br>
                            {% endif %}
                            {% if customTicket.isVenueMapAdded == 'true' %}
                                {% if ticket.counterPart.contractArtist.config is not null and ticket.counterPart.contractArtist.config.updatedAt is not null %}
                                    <div style="width: 300px; height: 300px">
                                        <img style="border:2px solid black; max-height: 70%; " src="{{ absolute_url(asset(ticket.getVenueConfig().getYBWebPath(ticket.getVenueConfig().getImage()))) }}">
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </div>
                    </td>
                    <td  style="width: 300px; height: 300px; border: dotted limegreen 2px;">
                        <div style="width: 300px; height: 300px">
                            {% if customTicket != null %}
                                {% if customTicket.isPublicTransportTextInfosAdded == 'true' %}
                                    <div style="border-bottom: dotted limegreen 2px">
                                        <p style="font-size: 12px; text-align: justify;">{{ customTicket.getPublicTransportTextInfos() }}</p> <br>
                                    </div>
                                {% endif %}
                                {% if customTicket.isCommuteAdded == 'true' %}
                                    {% if campaign.address.isGeolocalizable() %}
                                        <p style="font-size: 12px">Adresse de l'événement : {{ campaign.address }}</p>
                                        {% if not customTicket.previewMode %}
                                            {% if customTicket.stations|length > 0 %}
                                                <img style="height:200px" src="{{ absolute_url(asset(customTicket.mapsImagePath)) }} "/>
                                            {% else %}
                                                <img style="height:200px" src="{{ absolute_url(asset('yb/images/white-square.png')) }} "/>
                                            {% endif %}
                                            <p style="font-size: 11px">Les gares sont situées à moins de 1 km de la salle :
                                                {% for station in customTicket.getSortedStations() %}
                                                    {{ loop.index }}) {{ station.name }} ({{ station.type }} - {{ station.timeToWalk() }}){% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </p>
                                        {% else %}
                                            {% if customTicket.mapsImagePath is not null %}
                                                <img style="height:200px" src="{{ absolute_url(asset(customTicket.mapsImagePath)) }} "/>
                                            {% else %}
                                                <p style="font-size: 10px">Cette carte est mise à titre d'exemple...</p>
                                                <img style="height:200px" src="{{ absolute_url(asset('yb/images/custom-tickets/test.jpg')) }}"/>
                                            {% endif %}
                                            {% if customTicket.stations|length > 0 %}
                                                <p style="font-size: 11px">Les gares sont situées à moins de 5 km de la salle :
                                                    {% for station in customTicket.getSortedStations() %}
                                                        {{ loop.index }}) {{ station.name }} ({{ station.type }} - {{ station.timeToWalk() }}){% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% else %}
                                                {% set msg = 'Les gares sont situées à moins de 5 km de la salle : 1) ARRET_1 (STIB - 1min), 2) ARRET_2 (TEC - 3min), 3) ARRET_3 (STIB - 4min), 4) ARRET_4 (SNCB - 11min)' %}
                                                <p style="font-size: 10px">Ces valeurs sont mises à titre d'exemple...</p>
                                                <p style="font-size: 11px; text-align: justify">{{ msg }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if campaign.address is not null %}
                                        <p>Adresse de l'événement : {{ campaign.address }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
            <p style="font-size: 10px">{{ 'tickets_pdf.conditions'|trans({'%conditionsUrl%': url('yb_terms')})|raw|nl2br }}</p>
            {% endblock %}
        </page>
    {% endfor %}
{% endblock %}