{% extends '@App/PDF/yb_layout.html.twig' %}
{% trans_default_domain 'yb' %}

{% block additional_styles %}

{% endblock %}

{% block header_content %}
    <h3 class="green">Ne m'imprimez pas, je me porte bien mieux en milieu virtuel !</h3>
{% endblock %}

{% block page %}
    {% for ticket in tickets %}
        {% set campaign = ticket.contractArtist %}
        <page backtop="30mm" backbottom="7mm" backleft="10mm" backright="10mm">
            {{ block('header') }}
            {{ block('footer') }}

            <h2>Je suis votre ticket <img src="{{ absolute_url(asset('yb/images/logo/logo-short.png')) }}" height="30" alt="Ticked-it!" /></h2>

            <p>
                Je donne accès à l'événement <a href="{{ url('yb_campaign', {'id': campaign.id}) }}" target="_blank">{{ campaign.getTitle }}</a>.
            {% if campaign.isEvent %}
                <br />Date de l'événement : {{ campaign.dateEvent|fancy_date }}
            {% endif %}
            </p>

            <qrcode value="{{ ticket.barCodeText }}" ec="H"
                    style="width: 30mm; background-color: white; color: black;"></qrcode>
            <p>
                {{ ticket.barCodeText }}
            </p>
            <p>
                {{ ticket.counterPart.getName }} - {{ ticket.price }} € - {{ ticket.name }}
            </p>
            <p>
                {{ ticket.seat }}
            </p>
            {% if ticket.hasFreeSeatingSeat() %}
                {% if ticket.counterPart.getAccessEverywhere()  %}
                    <p>Ce ticket donne accès à l'entièreté de la salle !</p>
                {% else %}
                    <p>
                        Ce ticket donne accès au(x) bloc(s) suivant(s) :
                        {% for block in ticket.counterPart.venueBlocks %}
                            {% if block.freeSeating %}
                                {{ block.name }} {% if not loop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endif %}
            {% if ticket.counterPart.contractArtist.config is not null and ticket.counterPart.contractArtist.config.photo is not null %}
                <div id="venue-photo">
                    <img style="border:2px solid black" src="{{ absolute_url(asset(ticket.getVenueConfig().getYBWebPath(ticket.getVenueConfig().getPhoto()))) }}" height="150" width="200">
                </div>
            {% endif %}
            {% if campaign.address is not null %}
                <p>Adresse de l'événement : {{ campaign.address }}</p>
                {% set base64 = base64("https://maps.googleapis.com/maps/api/staticmap?center=" ~ campaign.address|url_encode ~ "&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyAjWpC8y-sy07JHTBAexmdCT4cQaC84y8U") %}

                {% if base64 is not same as(false) %}
                    <img style="height:300px;" src="{{ base64 }}" />
                {% endif %}
            {% endif %}
            <p style="font-size: 11px">{{ 'tickets_pdf.conditions'|trans({'%conditionsUrl%': url('yb_terms')})|raw|nl2br }}</p>
        </page>
    {% endfor %}
{% endblock %}