{% extends '@App/PDF/yb_layout.html.twig' %}
{% trans_default_domain 'yb' %}

{% block additional_styles %}

{% endblock %}

{% block header_content %}
    <h3 class="green">Ne m'imprimez pas, je me porte bien mieux en milieu virtuel !</h3>
    <h3 style="margin-top: -15px">Je suis votre ticket <img src="{{ absolute_url(asset('yb/images/logo/logo-short.png')) }}" height="30" alt="Ticked-it!" /></h3>
{% endblock %}

{% block page %}
    {% for ticket in tickets %}
        {% set campaign = ticket.contractArtist %}
        <page backtop="30mm" backbottom="7mm" backleft="10mm" backright="10mm">
            {{ block('header') }}
            {{ block('footer') }}
            {% block content %}
            <table style="width: 600px; height:600px;">
                <tr>
                    <td style="width: 300px; height: 300px">
                        <p>
                            Je donne accès à l'événement <a href="{{ url('yb_campaign', {'id': campaign.id}) }}" target="_blank">{{ campaign.getTitle }}</a>.
                            {% if ticket.dates|length > 0 %}
                                {% set dates = ticket.dates %}
                                <br />
                                Date{% if dates|length > 1 %}s{% endif %} : {% for date in dates %}{% if not loop.first %}, {% endif %}{{ date|fancy_date(true) }}{% endfor %}
                            {% endif %}
                        </p>
                        <div>
                            <div style="width: 49%">
                                <qrcode value="{{ ticket.barCodeText }}" ec="H" style="width: 30mm; background-color: white; color: black;"></qrcode>
                            </div>
                            <div style="width: 49%">
                                {{ ticket.barCodeText }} <br>
                                {{ ticket.counterPart.getName }} - {{ ticket.price }} € - {{ ticket.name }} <br>
                                {{ ticket.seat }}
                            </div>
                        </div>
                        {% if ticket.hasFreeSeatingSeat() %}
                            {% if ticket.counterPart.getAccessEverywhere() or campaign.config.blocks|length == 0 %}
                                <p>Ce ticket donne accès à l'entièreté de la salle !</p>
                            {% else %}
                                <p>
                                    Ce ticket donne accès au(x) bloc(s) suivant(s) :
                                    {% for block in ticket.counterPart.venueBlocks %}
                                        {% if block.freeSeating %}
                                            {{ block.name }} {% if not loop.last %}, {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td  style="width: 300px; height: 300px; text-align: right">
                        {% if ticket.counterPart.contractArtist.config is not null and ticket.counterPart.contractArtist.config.updatedAt is not null %}
                            <div style="width: 300px; height: 300px">
                                <img style="border:2px solid black; max-width: 100%" src="{{ absolute_url(asset(ticket.getVenueConfig().getYBWebPath(ticket.getVenueConfig().getImage()))) }}">
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="width: 300px; height: 300px">
                        {% if campaign.customTicket != null %}
                            {% if campaign.customTicket.isImageAdded() %}
                                {% if campaign.photo is not null %}
                                <div style="width: 300px; height: 300px">
                                    {% if campaign.customTicket.isCustomInfosAdded() %}
                                        <p style="font-size: 12px" align="justify">{{ campaign.customTicket.getCustomInfos() }}</p>
                                    {% endif %}
                                    <img style="border:2px solid black; max-height: 70%" src="{{ absolute_url(asset(campaign.getYBWebPath(campaign.photo))) }}">
                                </div>
                                {% endif %}
                            {% endif %}

                        {% endif %}
                    </td>
                    <td  style="width: 300px; height: 300px; text-align: right">
                        <div style="width: 300px; height: 300px">
                            {% if campaign.customTicket != null %}
                                {% if campaign.customTicket.isPublicTransportTextInfosAdded() %}
                                    <p style="font-size: 12px" align="justify">{{ campaign.customTicket.getPublicTransportTextInfos() }}</p>
                                {% endif %}
                                {% if campaign.customTicket.isCommuteAdded() and campaign.address.isGeolocalizable() %}
                                    <p style="font-size: 12px">Adresse de l'événement : {{ campaign.address }}</p>
                                    {% set src = campaign.customTicket.getGMapsUrlToDisplay(maps_api_key, maps_secret_code) %}
                                    <img style="max-height: 50%" src="{{ src }}" onerror="this.src='{{ absolute_url(asset('yb/images/white-square.png')) }}'" />
                                    <p style="font-size: 11px">Les gares sont situé à moins de 1 km de la salle :
                                        {% for station in campaign.customTicket.stations %}
                                            {{ loop.index }}) {{ station.name }} ({{ station.type }}) {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                {% else %}
                                    {% if campaign.address is not null %}
                                        <p>Adresse de l'événement : {{ campaign.address }}</p>
                                        {% set base64 = base64("https://maps.googleapis.com/maps/api/staticmap?center=" ~ campaign.address|url_encode ~ "&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyAjWpC8y-sy07JHTBAexmdCT4cQaC84y8U") %}
                                        {% if base64 is not same as(false) %}
                                            <img style="border:2px solid black; max-height: 50%" src="{{ base64 }}" />
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </table>
            <p style="font-size: 11px">{{ 'tickets_pdf.conditions'|trans({'%conditionsUrl%': url('yb_terms')})|raw|nl2br }}</p>
            {% endblock %}
        </page>
    {% endfor %}
{% endblock %}