{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}
    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('yb_campaign', {'id': campaign.id}) }}">{{ campaign.getTitle }}</a></li>
            <li class="active"><span>Gestion du financement participatif</span></li>
        </ol>
    </section>

    <section class="container py-4 py-md-5">
        <h2>Etat du financement participatif</h2>
        {% if campaign.noThreshold or campaign.threshold <= 0 %}
            <p>
                Le financement participatif ne s'applique pas à cette campagne.
            </p>
        {% else %}
            <div class="progress">
                <div class="progress-bar progress-bar-striped{% if campaign.successful %} bg-success{% endif %}" role="progressbar" style="width: {{ campaign.percentObjective }}%" aria-valuenow="{{ campaign.percentObjective }}" aria-valuemin="0" aria-valuemax="100"><span>{{ campaign.percentObjective }}%</span></div>
            </div>
            <p class="mt-2 text-center"><i class="fas fa-info-circle"></i>
                {% if campaign.refunded %}
                    Cette campagne est annulée et remboursée.
                {% elseif campaign.failed %}
                    Cette campagne est marquée comme étant annulée.
                {% elseif campaign.successful %}
                    Cette campagne a été validée le {{ campaign.dateSuccess|date('d/m/Y') }}. Les tickets ont été envoyés aux acheteurs et les nouveaux acheteurs recevront les leurs directement lors du passage de commande.
                {% elseif campaign.pending %}
                    La campagne est en attente de confirmation.
                {% elseif campaign.soldout %}
                    La campagne est sold out.
                {% elseif campaign.passed %}
                    La campagne est passée.
                {% elseif campaign.ongoing %}
                    La campagne est en cours. Vous pourrez la valider ou l'annuler une fois la date de validation atteinte.
                {% endif %}
            </p>

            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Places vendues</th>
                        <td>{{ campaign.counterpartsSold }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Objectif</th>
                        <td>{{ campaign.threshold }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Avancement</th>
                        <td>{{ campaign.percentObjective }} %</td>
                    </tr>
                    <tr>
                        <th scope="row">Tickets envoyés</th>
                        <td>{{ campaign.ticketsSent ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Montant récolté brut</th>
                        <td>{{ campaign.collectedAmount }} €</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre de commandes</th>
                        <td>{{ campaign.contractsFanPaid|length }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Date de validation</th>
                        <td>{{ campaign.dateEnd|date('d/m/Y') }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="container py-4">
            {% if campaign.pending %}
                <h2>Actions</h2>
                <p><i class="fas fa-exclamation-circle"></i>
                {% if campaign.pendingSuccessful -%}
                    La campagne est un succès ; il vous faut donc la valider en cliquant sur le bouton ci-dessous qui enverra automatiquement les tickets à tous les acheteurs.
                {%- else -%}
                    La campagne n'est pas un succès ; le choix de la valider ou non vous appartient. Si vous décidez de la valider, les acheteurs en seront avertis et leurs tickets seront envoyés. Si vous décidez de l'annuler, ils seront remboursés. Quel que soit votre choix, <span class="text-danger">il ne sera plus possible de revenir en arrière</span>.
                {%- endif -%}
                </p>

                <div class="text-center">
                    {{ form_start(form) }}

                    {% if form.validate is defined %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#validateModal">
                           Confirmer l'événement
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="validateModal" tabindex="-1" role="dialog" aria-labelledby="validateModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="validateModalLabel">Valider l'événement</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Vous êtes sur le point de confirmer cet événement et donc d'expédier tous les tickets. Êtes-vous sûr de continuer ?
                                    </div>
                                    <div class="modal-footer">
                                        {{ form_widget(form.validate) }}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if form.refund is defined %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#refundModal">
                            Annuler l'événement
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="refundModalLabel">Annuler l'événement</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Vous êtes sur le point d'annuler cet événement et donc de rembourser tous les éventuels acheteurs. Êtes-vous sûr de continuer ?
                                    </div>
                                    <div class="modal-footer">
                                        {{ form_widget(form.refund) }}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {{ form_end(form) }}
                </div>
            {% endif %}
        {% endif %}




    </section>

{% endblock  %}
