{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}
    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>

            {% if campaign.id is null %}
                <li class="active"><span>Nouvelle campagne</span></li>
            {% else %}
                <li><a target="_blank" href="{{ path('yb_campaign', {'id': campaign.id}) }}">{{ campaign.getTitle }}</a></li>
                <li class="active"><span>Edition</span></li>
            {% endif %}
        </ol>
    </section>

    {% form_theme form ':Form:bootstrap_4_layout.html.twig' '@App/YB/Form/counterpart.html.twig' '@App/YB/Form/commission.html.twig'  ':Form:jquery.collection.html.twig' %}

    {{ form_start(form) }}
    {% if admin %}
    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Commissions et TVA</h2>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.vat) }}
            </div>
        </div>
        <p>
            Note: Si pour une ligne donnée,
            le montant fixe et le pourcentage sont tous les 2 inclus,
            la commission sera la somme de ces 2 éléments
        </p>
        <p>Pour avoir une tranche par défaut, laisser le montant minimum à 0</p>
        <div class="col-12">
            {{ form_widget(form.commissions) }}
        </div>

        {#{% for commission in form.commissions %}
        <div class="row">
            <div class="col-4">
                {{ form_row(commission.minimumThreshold) }}
            </div>
            <div class="col-4">
                {{ form_row(commission.fixedAmount) }}
            </div>
            <div class="col-4">
                {{ form_row(commission.percentageAmount) }}
            </div>
        </div>
        {% endfor %} #}
        <!--div id="add-commission" class="btn btn-primary">Ajouter</div-->
    </section>
    {% endif %}

    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Organisation en charge de l'événement </h2>
        <div class="row">
            <div class="col-12 col-md-12">
                {{ form_row(form.organization) }}
            </div>
        </div>
    </section>

    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Infos générales </h2>
        <div class="row">
            <div class="col-12">
                {{ form_widget(form.translations) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.dateEvent) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.dateClosure) }}
            </div>
        </div>
    </section>

    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Adresse</h2>
        <div class="row">
            <div class="col-12">{{ form_row(form.address.name) }}</div>
            <div class="col-12 col-md-10">{{ form_row(form.address.street) }}</div>
            <div class="col-12 col-md-2">{{ form_row(form.address.number) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.address.zipcode) }}</div>
            <div class="col-12 col-md-8">{{ form_row(form.address.city) }}</div>
            <div class="col-12">{{ form_row(form.address.country) }}</div>
        </div>
    </section>

    {% if campaign.id is not null %}
    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Informations de facturation</h2>
        <div class="mt-3">
            {{ form_label(form.bankAccount) }}
            <p class="text-muted">
                Introduisez votre numéro de compte ci-dessous pour nous permettre de vous verser, en cas de réussite de campagne, le fruit de celle-ci.
            </p>
            {{ form_errors(form.bankAccount) }}
            {{ form_widget(form.bankAccount) }}
        </div>

        <div class="mt-3">
            {{ form_label(form.vatNumber) }}
            <p class="text-muted">
                Introduisez votre numéro de TVA ci-dessous (obligatoire !).
            </p>
            {{ form_errors(form.vatNumber) }}
            {{ form_widget(form.vatNumber) }}
        </div>

        <div class="mt-3">
            {{ form_label(form.organizationName) }}
            <p class="text-muted">
                Choisissez le nom d'organisation sous lequel vos événements seront présentés.
            </p>
            {{ form_errors(form.organizationName) }}
            {{ form_widget(form.organizationName) }}
        </div>
    </section>
    {% endif %}

    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Images </h2>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_label(form.photo) }}
                <div class="text-text-muted font-italic pb-2">
                    Cette photo sera utilisée comme bannière de l'événement. Il est essentiel qu'elle soit de bonne qualité.
                    Sachez aussi que le titre de l'événement sera écrit par-dessus, en blanc.
                </div>
                {{ form_errors(form.photo) }}
                {{ form_widget(form.photo) }}
            </div>

            {% if campaign.id is not null and campaign.photo is not null %}
                <div class="col-12 col-md-6"><img class="img-fluid" src="{{ yb_asset(campaign.webPath(campaign.photo)) }}" /></div>
            {% endif %}
        </div>
        <div class="row py-5">
            <div class="col-12">
                <div class="form-row">
                    <div><label>Autres photos</label></div>
                    <div class="text-muted font-italic pb-2">
                        Les photos que vous ajoutez ici seront affichées sous la description de l'événement, les unes à la suite des autres. Nous vous conseillons de limiter le nombre de photos afin que la page ne soit pas trop longue pour vos visiteurs.
                    </div>
                        {% if campaign.id is not null %}
                            <div class="dropzone w-100" id="#campaign_edit_photos"></div>
                        {% else %}
                            <p>Une fois la campagne créée, vous pourrez ajouter d'autres images pour l'illustrer.</p>
                        {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Financement participatif</h2>
        <div class="text-muted font-italic pb-2">
            Le financement participatif, s'il est activé, vous permet de fixer un seuil qui correspond au nombre minimum de tickets à vendre pour valider un événement.
            Cela vous permet, par exemple, de tester l'intérêt de votre public en n'organisant votre représentation que si au moins 20 personnes ont acheté leur ticket au bout d'une période donnée.
        </div>
            {% if campaign.id is null %}
                <p>
                    <b>Attention</b> : vous ne pourrez plus modifier ce comportement (avec seuil ou non) une fois la campagne créée.
                </p>
                <div class="row">
                    <div class="col-12" id="yb_no_threshold_checkbox">
                        {{ form_widget(form.noThreshold) }}
                    </div>
                </div>
            {% endif %}
            {% if campaign.id is null or campaign.hasThreshold %}
                <div class="row">
                    <div class="col-12 col-md-6 yb_threshold_only">
                        {{ form_label(form.threshold) }}
                        <div class="text-muted font-italic pb-2">
                            Détermine le seuil au-delà duquel le financement participatif sera un succès.
                        </div>

                        {{ form_errors(form.threshold) }}
                        {{ form_widget(form.threshold) }}
                    </div>
                    <div class="col-12 col-md-6 yb_threshold_only">
                        {{ form_label(form.dateEnd) }}
                        <div class="text-muted font-italic pb-2">
                            Détermine la date à laquelle vous déciderez de valider ou d'annuler l'évé.
                            Dans le cas où l'objectif (le seuil) est atteint à cette date, vous ne pourrez plus annuler l'événement mais devrez acter sa validation.
                        </div>

                        {{ form_errors(form.dateEnd) }}
                        {{ form_widget(form.dateEnd) }}
                    </div>
                </div>
            {% else %}
                <p>Pas applicable à cette campagne.</p>
                {% do form.threshold.setRendered %}
                {% do form.dateEnd.setRendered %}
            {% endif %}
        <!--/div-->
    </section>

    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Tickets</h2>
        {{ form_label(form.globalSoldout) }}
        <div class="text-muted font-italic pb-2">Nombre maximum de tickets pouvant être vendus, tous tickets confondus.</div>
        {{ form_errors(form.globalSoldout) }}
        {{ form_widget(form.globalSoldout) }}

        {{ form_widget(form.counterParts) }}
    </section>

    {% if form.acceptConditions is defined %}
        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <p><a href="{{ path('yb_terms') }}">Lire nos conditions d'utilisation</a></p>
            {{ form_widget(form.acceptConditions) }}
        </section>
    {% endif %}

    {{ form_end(form) }}
{% endblock  %}

{% block additional_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {

            yb_second_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter une commission</a>',
                remove:'<div class="input-group"><a class="btn btn-danger" href="#">Supprimer</a></div>'
            });

            yb_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter un ticket</a>',
                remove:'<a class="btn btn-danger" href="#">Supprimer</a>'
            });

            var $chckbx = $('#yb_no_threshold_checkbox input[type="checkbox"]');

            {% if campaign.id is null %}
                $chckbx.on('change', function() {
                    $('.yb_threshold_only').toggle(!this.checked);
                });

                $chckbx.trigger("change");
            {% endif %}

            $('.free-price-checkbox').on('change', function() {
                $(this).closest('.counterpart-row').find('.free-price-minimum').toggle(this.checked);
                $(this).closest('.counterpart-row').find('.counter-part-price').toggle(!this.checked);
            });
            $('.free-price-checkbox').trigger('change');

            {% if campaign.id is not null %}
                var $dropzone = $("div.dropzone");
                var mocks = [];
                {% for photo in campaign.campaignPhotos %}
                    mocks.push({
                        name: "{{ photo.filename }}",
                        url: "{{ absolute_url(asset(campaign.webPath(photo))) }}",
                        size: 12345
                    });
                {% endfor %}

                $dropzone.dropzone({
                    url: "{{ oneup_uploader_endpoint('yb_campaign') }}",
                    resizeWidth: 1000,
                    maxFiles: 5,
                    addRemoveLinks: true,
                    params: {
                        campaign: {{ campaign.id }},
                        code: "{{ campaign.code }}"
                    },
                    accept: function (file, done) {
                        console.log(file);
                        if ((file.type).toLowerCase() != "image/jpg" &&
                            (file.type).toLowerCase() != "image/gif" &&
                            (file.type).toLowerCase() != "image/jpeg" &&
                            (file.type).toLowerCase() != "image/png"
                        ) {
                            done("Invalid file");
                        }
                        else {
                            done();
                        }
                    },
                    removedfile: function(file) {
                        $.ajax({
                            method: 'get',
                            url: "{{ path('yb_members_campaign_remove_photo', {'id': campaign.id, 'code': campaign.code}) }}",
                            data: {
                                filename: file.previewElement.querySelector("[data-dz-name]").innerHTML
                            },
                            complete: function() {
                                file.previewElement.remove();
                            }
                        });
                    },
                    init: function() {
                        var i = 0;
                        while(i < mocks.length) {
                            var mock = mocks[i];
                            mock.accepted = true;

                            this.files.push(mock);
                            this.createThumbnailFromUrl(mock, mock.url);
                            this.emit('addedfile', mock);
                            this.emit("thumbnail", mock, mock.url);
                            this.emit('complete', mock);
                            i++;
                        }
                        $dropzone.options.maxFiles = $dropzone.options.maxFiles - i;
                    },
                    success: function(file, serverResponse) {
                        file.previewElement.querySelector("[data-dz-name]").innerHTML = serverResponse.newfilename;
                    }
                });
            {% endif %}
        });
    </script>
{% endblock %}