{% extends "@App/YB/Members/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/craueformflow/css/buttons.css') }}" />
{% endblock %}

{% block body %}
    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>

            {% if campaign.id is null %}
                <li class="active"><span>Nouvelle campagne (étape {{ flow.currentStepNumber }} - {{ flow.currentStepLabel }})</span></li>
            {% else %}
                <li><a target="_blank" href="{{ path('yb_campaign', {'id': campaign.id}) }}">{{ campaign.getTitle }}</a></li>
                {% for stepLabel in flow.getStepLabels() %}
                    <li {% if loop.index == flow.currentStepNumber %}class="active"{% endif %}>
                        {%- if craue_isStepLinkable(flow, loop.index) -%}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all
                            | merge(app.request.attributes.get('_route_params'))
                            | craue_addDynamicStepNavigationParameters(flow, loop.index)) }}">
                                {{ stepLabel }}
                            </a>
                        {%- else -%}
                            <span>{{ stepLabel }}</span>
                        {%- endif -%}
                    </li>
                {% endfor %}
            {% endif %}
        </ol>
    </section>

    {% form_theme form ':Form:bootstrap_4_layout.html.twig' '@App/YB/Form/commission.html.twig'  ':Form:jquery.collection.html.twig' %}

    {{ form_start(form) }}
    <section class="container my-4 py-2 my-md-5">
        {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
        craue_formflow_button_class_next: 'btn btn-secondary',
        craue_formflow_button_class_finish: 'btn btn-secondary',
        craue_formflow_button_class_back: 'btn mr-2',
        craue_formflow_button_label_next: 'Enregistrer et passer à l\'étape suivante',
        craue_formflow_button_label_finish: 'Enregistrer la campagne',
        craue_formflow_button_label_back: 'Retour à l\'étape précédente',
        craue_formflow_button_render_reset: false,
        } %}
    </section>

    {% if flow.getCurrentStepNumber() == 1 %}

        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <h2>Organisation en charge de l'événement</h2>
            <div class="row">
                <div class="col-12 col-md-6 my-auto">
                    {% if creation %}
                        {{ form_row(form.organization) }}
                    {% else %}
                        {% do form.organization.setRendered %}
                        <div class="text-muted font-italic pb-2">Une fois la campagne lancée, il n'est plus possible de changer l'organisation en charge. Si besoin de le faire malgré tout, <a target="_blank" href="{{ path('yb_index') }}#contact">contactez-nous</a> en exposant la raison derrière le changement.</div>
                        <div class="text-center">{% if campaign.organization.published %}<a target="_blank" href="{{ url('yb_organization', {'id':campaign.organization.id, 'slug': campaign.organization.slug}) }}">{% endif %}{{ campaign.organization.name }}{% if campaign.organization.published %}</a>{% endif %}</div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 my-auto">
                    <div class="text-muted font-italic pb-2">
                        Si l'organisation dispose d'une page publique (que vous pouvez configurer dans l'espace <a target="_blank" href="{{ path('yb_members_my_organizations') }}">Mes organisations</a>), la campagne y sera affichée si vous cochez la case ci-dessous.
                    </div>
                    {{ form_widget(form.published) }}
                </div>
            </div>
        </section>

        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <h2>Salle où se déroule l'événement </h2>
            <div class="row">
                {% if form.venue is defined %}
                <div class="col-12 col-md-12">
                    {{ form_row(form.venue) }}
                </div>
                {% endif %}
                {% if form.config is defined %}
                    <div class="col-12 col-md-12">
                        {{ form_row(form.config) }}
                    </div>
                {% endif %}
            </div> <br>
            <p>Votre salle n'est pas dans la liste ? <a class="link-secondary" href="{{ path('yb_members_venues_new') }}" >Créez-la ici !</a></p>
            <div class="col-12 col-md-12">
                {{ form_widget(form.confirmVenue) }}
            </div>
        </section>

        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <h2>Infos générales </h2>
            <div class="row">
                <div class="col-12">
                    {{ form_widget(form.translations) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6" id="yb_no_subevents_checkbox">
                    <div class="row">
                        <div class="col-12">{{ form_widget(form.noSubEvents) }}</div>
                        <div class="col-12 no_sub_events">
                            {{ form_row(form.dateEvent) }}
                        </div>
                        <div class="col-12 sub_events_only">
                            {{ form_row(form.subEvents) }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.dateClosure) }}
                </div>
            </div>
        </section>

        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <h2>Images </h2>
            <div class="row">
                <div class="col-12 col-md-6">
                    {{ form_label(form.photo) }}
                    <div class="text-text-muted font-italic pb-2">
                        Cette photo sera utilisée comme bannière de l'événement. Il est essentiel qu'elle soit de bonne qualité.
                        Sachez aussi que le titre de l'événement sera écrit par-dessus, en blanc.
                    </div>
                    {{ form_errors(form.photo) }}
                    {{ form_widget(form.photo) }}
                </div>

                {% if campaign.id is not null and campaign.photo is not null %}
                    <div class="col-12 col-md-6"><img class="img-fluid" src="{{ yb_asset(campaign.webPath(campaign.photo)) }}" /></div>
                {% endif %}
            </div>
            <div class="row py-5">
                <div class="col-12">
                    <div class="form-row">
                        <div><label>Autres photos</label></div>
                        <div class="text-muted font-italic pb-2">
                            Les photos que vous ajoutez ici seront affichées sous la description de l'événement, les unes à la suite des autres. Nous vous conseillons de limiter le nombre de photos afin que la page ne soit pas trop longue pour vos visiteurs.
                        </div>
                            {% if campaign.id is not null %}
                                <div class="dropzone w-100" id="#campaign_edit_photos"></div>
                            {% else %}
                                <p>Une fois la campagne créée, vous pourrez ajouter d'autres images pour l'illustrer.</p>
                            {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <h2>Financement participatif</h2>
            <div class="text-muted font-italic pb-2">
                Le financement participatif, s'il est activé, vous permet de fixer un seuil qui correspond au nombre minimum de tickets à vendre pour valider un événement.
                Cela vous permet, par exemple, de tester l'intérêt de votre public en n'organisant votre représentation que si au moins 20 personnes ont acheté leur ticket au bout d'une période donnée.
            </div>
                {% if campaign.id is null %}
                    <p>
                        <b>Attention</b> : vous ne pourrez plus modifier ce comportement (avec seuil ou non) une fois la campagne créée.
                    </p>
                    <div class="row">
                        <div class="col-12" id="yb_no_threshold_checkbox">
                            {{ form_widget(form.noThreshold) }}
                        </div>
                    </div>
                {% endif %}
                {% if campaign.id is null or campaign.hasThreshold %}
                    <div class="row">
                        <div class="col-12 col-md-6 yb_threshold_only">
                            {{ form_label(form.threshold) }}
                            <div class="text-muted font-italic pb-2">
                                Détermine le seuil au-delà duquel le financement participatif sera un succès.
                            </div>

                            {{ form_errors(form.threshold) }}
                            {{ form_widget(form.threshold) }}
                        </div>
                        <div class="col-12 col-md-6 yb_threshold_only">
                            {{ form_label(form.dateEnd) }}
                            <div class="text-muted font-italic pb-2">
                                Détermine la date à laquelle vous déciderez de valider ou d'annuler l'événement.
                                Dans le cas où l'objectif (le seuil) est atteint à cette date, vous ne pourrez plus annuler l'événement mais devrez acter sa validation.
                            </div>

                            {% if campaign.hasSoldAtLeastOne %}
                                {{ campaign.dateEnd|fancy_date }} (vous ne pouvez pas le modifier car il y a déjà eu des tickets vendus)
                            {% else %}
                                {{ form_errors(form.dateEnd) }}
                                {{ form_widget(form.dateEnd) }}
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <p>Pas applicable à cette campagne.</p>
                    {% do form.threshold.setRendered %}
                {% endif %}
            <!--/div-->
        </section>
        {% if form.acceptConditions is defined %}
            <section class="container my-4 py-2 my-md-5 campaign-edit-section">
                <p><a href="{{ path('yb_terms') }}">Lire nos conditions d'utilisation</a></p>
                {{ form_widget(form.acceptConditions) }}
            </section>
        {% endif %}

    {% elseif flow.currentStepNumber == 2 %}
        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <h2>Tickets</h2>
            {{ form_label(form.globalSoldout) }}
            <div class="text-muted font-italic pb-2">Nombre maximum de tickets pouvant être vendus, tous tickets confondus.</div>
            {{ form_errors(form.globalSoldout) }}
            {{ form_widget(form.globalSoldout) }}
            {% if form.globalSoldout is defined and campaign.id is not null %}
                {% if form.vars.data.globalSoldout > campaign.config.maxCapacity %}
                    <div class="error-capacity" style="display: block">
                        <p style="color: red;"><i class="fa fa-exclamation-triangle" style="color: red;"></i>La capacité globale de votre événement dépasse celle de la salle ({{ campaign.config.maxCapacity }})</p>
                    </div>
                {% else %}
                    <div class="error-capacity" style="display: none">
                        <p style="color: red;"><i class="fa fa-exclamation-triangle" style="color: red;"></i>La capacité globale de votre événement dépasse celle de la salle ({{ campaign.config.maxCapacity }})</p>
                    </div>
                {% endif %}
            {% endif %}
        </section>
        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <p>Pour vendre des tickets, il vous faut au moins en créer un.</p>


            <div id="counterPartsModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Gestion des tickets</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="loader">{{ hidden_loader(false, false) }}</div>
                        <div id="counterPartsModalBody" class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary create-ticket" data-url="{{ path('yb_members_create_ticket', {'id': campaign.id}) }}"><i class="fas fa-plus-circle"></i> Créer</button>

            <div id="counterparts-container">
                {{ render(controller('AppBundle:YBMembers:getTicketsList', {'id': campaign.id})) }}
            </div>
        </section>
    {% elseif flow.currentStepNumber == 3 %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <h2>Commissions (ADMIN)</h2>
            <p>
                Note: Si pour une ligne donnée,
                le montant fixe et le pourcentage sont tous les 2 inclus,
                la commission sera la somme de ces 2 éléments
            </p>
            <p>Pour avoir une tranche par défaut, laisser le montant minimum à 0</p>
            <div class="col-12">
                {{ form_widget(form.commissions) }}
            </div>

            {% for commission in form.commissions %}
                <div class="row">
                    <div class="col-4">
                        {{ form_row(commission.minimumThreshold) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(commission.fixedAmount) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(commission.percentageAmount) }}
                    </div>
                </div>
            {% endfor %}
            </section>
        {% endif %}

        <section class="container my-4 py-2 my-md-5 campaign-edit-section">
            <h2>Informations de facturation</h2>
            <div class="mt-3">
                {{ form_label(form.bankAccount) }}
                <p class="text-muted">
                    Introduisez votre numéro de compte ci-dessous pour nous permettre de vous verser, en cas de réussite de campagne, le fruit de celle-ci.
                </p>
                {{ form_errors(form.bankAccount) }}
                {{ form_widget(form.bankAccount) }}
            </div>

            <div class="mt-3">
                {{ form_label(form.vatNumber) }}
                <p class="text-muted">
                    Introduisez votre numéro de TVA ci-dessous (obligatoire !).
                </p>
                {{ form_errors(form.vatNumber) }}
                {{ form_widget(form.vatNumber) }}
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.vat) }}
                </div>
            </div>
        </section>
    {% endif %}

    <section class="container my-4 py-2 my-md-5 btns">
        <button type="button" onclick="hideCustomButtonAndModal()" class="btn btn-warning maxCapacityCheckBtn" style="display: none">Attention !</button> <br>
        {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
        craue_formflow_button_class_next: 'btn btn-secondary finishBtn',
        craue_formflow_button_class_finish: 'btn btn-secondary',
        craue_formflow_button_class_back: 'btn mr-2',
        craue_formflow_button_label_next: 'Enregistrer et passer à l\'étape suivante',
        craue_formflow_button_label_finish: 'Enregistrer la campagne',
        craue_formflow_button_label_back: 'Retour à l\'étape précédente',
        craue_formflow_button_render_reset: false,
        } %}
    </section>

    <div class="modal modal-dialog modal-attention" id="modal-overflow-attention" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="icon-box">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Confirmation</h4>
                    {% if campaign.id is not null and campaign.config is not null %}
                        <p>La capacité globale de votre événement dépasse celle de la salle ({{ campaign.config.maxCapacity }}). Ce n'est pas contraignant. Si vous désirez tout de même valider les tickets, appuyer sur "Enregistrer les tickets".</p>
                    {% endif %}
                    <button class="btn btn-success" data-dismiss="modal">
                        <span>J'ai compris ! </span><i class="far fa-arrow-alt-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-dialog modal-overflow-error " id="modal-overflow-error" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="icon-box">
                        <i class="fas fa-exclamation-circle text-white"></i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Erreur</h4>
                    {% if campaign.id is not null and campaign.config is not null %}
                        <p>La capacité globale de votre événement dépasse celle de la salle ({{ campaign.config.maxCapacity }}) !</p>
                    {% endif %}
                    <button class="btn btn-success" data-dismiss="modal">
                        <span>J'ai compris ! </span><i class="far fa-arrow-alt-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock  %}

{% block additional_javascripts %}
    {{ parent() }}
    <script>
        $('#app_bundle_ybcontract_artist_infos_type_venue').change(function(){
            var venueSelector = $(this);
            venueSelector.prop('disabled', true);
            $.ajax({
                url: "{{ path('campaign_venue_list_config') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    venueid: venueSelector.val()
                },
                success: function(configs){
                    venueSelector.prop('disabled', false);
                    var configSelect = $('#app_bundle_ybcontract_artist_infos_type_config');
                    configSelect.html('');
                    configSelect.append('<option value> Selectionne une configuration de la salle ' + venueSelector.find("option:selected").text() + ' ...</option>')
                    $.each(configs, function(key, config){
                        configSelect.append('<option value="' + config.id + '">' + config.name + '</option>')
                    });
                    $('#app_bundle_ybcontract_artist_infos_type_confirmVenue').attr('checked', false);
                },
                error: function(err){
                    venueSelector.prop('disabled', false);
                    alert("Problème lors du chargement ...");
                }
            })
        });
    </script>
    <script type="text/javascript">
        $(function() {
            yb_second_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter une commission</a>',
                remove:'<div class="input-group"><a class="btn btn-danger" href="#">Supprimer cette commission</a></div>'
            });

            yb_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter une date</a>',
                remove:'<a class="btn btn-danger" href="#">Supprimer cette date</a>'
            });

            {% if campaign.id is not null %}
                $('#app_bundle_ybcontract_artist_infos_type_confirmVenue').attr('checked', 'checked');
            {% endif %}

            var $chckbx = $('#yb_no_threshold_checkbox input[type="checkbox"]');
            {% if campaign.id is null %}
                $chckbx.on('change', function() {
                    $('.yb_threshold_only').toggle(!this.checked);
                });

                $chckbx.trigger("change");
            {% endif %}

            var $dateschckbx = $('#yb_no_subevents_checkbox input[type="checkbox"]');
            $dateschckbx.on('change', function() {
                $('.sub_events_only').toggle(!this.checked);
                $('.no_sub_events').toggle(this.checked);
            });

            $dateschckbx.trigger("change");

            $('.free-price-checkbox').on('change', function() {
                $(this).closest('.counterpart-row').find('.free-price-minimum').toggle(this.checked);
                $(this).closest('.counterpart-row').find('.counter-part-price').toggle(!this.checked);
            });
            $('.free-price-checkbox').trigger('change');

            $('.give-access-everywhere-cb').attr('checked','checked');

            $('.give-access-everywhere').on('change', function () {
                $(this).closest('.counterpart-row').find('.blocks-selection').toggle(!this.checked);
            });
            $('.give-access-everywhere').trigger('change');
            $('#app_bundle_ybcontract_artist_type_globalSoldout').change(function(){
                {% if campaign.id is not null and campaign.config is not null %}
                    if ($('#app_bundle_ybcontract_artist_type_globalSoldout').val() > {{ campaign.config.maxCapacity }}){
                        {% if campaign.config.hasOnlySeatedBlocks() %}
                            $('.finishBtn').attr('disabled', 'true');
                            $('.error-capacity').css('display', 'block');
                            $('#modal-overflow-error').modal();
                        {% else %}
                            $('.error-capacity').css('display', 'block');
                            hideCraueButtons();
                        {% endif %}
                    } else {
                        $('.error-capacity').css('display', 'none');
                        hideCustomButton();
                    }
                {% endif %}
            });

            {% if campaign.id is not null %}
                var $dropzone = $("div.dropzone");
                var mocks = [];
                {% for photo in campaign.campaignPhotos %}
                    mocks.push({
                        name: "{{ photo.filename }}",
                        url: "{{ absolute_url(asset(campaign.webPath(photo))) }}",
                        size: 12345
                    });
                {% endfor %}

                $dropzone.dropzone({
                    url: "{{ oneup_uploader_endpoint('yb_campaign') }}",
                    resizeWidth: 1000,
                    maxFiles: 5,
                    addRemoveLinks: true,
                    params: {
                        campaign: {{ campaign.id }},
                        code: "{{ campaign.code }}"
                    },
                    accept: function (file, done) {
                        console.log(file);
                        if ((file.type).toLowerCase() != "image/jpg" &&
                            (file.type).toLowerCase() != "image/gif" &&
                            (file.type).toLowerCase() != "image/jpeg" &&
                            (file.type).toLowerCase() != "image/png"
                        ) {
                            done("Invalid file");
                        }
                        else {
                            done();
                        }
                    },
                    removedfile: function(file) {
                        $.ajax({
                            method: 'get',
                            url: "{{ path('yb_members_campaign_remove_photo', {'id': campaign.id, 'code': campaign.code}) }}",
                            data: {
                                filename: file.previewElement.querySelector("[data-dz-name]").innerHTML
                            },
                            complete: function() {
                                file.previewElement.remove();
                            }
                        });
                    },
                    init: function() {
                        var i = 0;
                        while(i < mocks.length) {
                            var mock = mocks[i];
                            mock.accepted = true;

                            this.files.push(mock);
                            this.createThumbnailFromUrl(mock, mock.url);
                            this.emit('addedfile', mock);
                            this.emit("thumbnail", mock, mock.url);
                            this.emit('complete', mock);
                            i++;
                        }
                        $dropzone.options.maxFiles = $dropzone.options.maxFiles - i;
                    },
                    success: function(file, serverResponse) {
                        file.previewElement.querySelector("[data-dz-name]").innerHTML = serverResponse.newfilename;
                    }
                });
            {% endif %}
        });
        function hideCraueButtons(){
            $('.finishBtn').attr('disabled', 'true');
            $('.maxCapacityCheckBtn').css('display', 'block');
        }
        function hideCustomButtonAndModal(){
            $('#modal-overflow-attention').modal();
            $('.finishBtn').removeAttr('disabled');
            $('.maxCapacityCheckBtn').css('display', 'none');
        }
        function hideCustomButton(){
            $('.finishBtn').removeAttr('disabled');
            $('.maxCapacityCheckBtn').css('display', 'none');
        }
    </script>
{% endblock %}