{% extends "@App/YB/Members/base.html.twig" %}
{% form_theme form ':Form:custom_submit_button.html.twig' %}

{% block members_body %}
    {{ form_start(form) }}
    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li class="active"><span>{{ campaign.title }}</span></li>
            <li class="active"><span>Personnalisation des tickets</span></li>
        </ol>
    </section>
    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Personnalisation des tickets</h2>
        <div class="row">
            <div class="col-12">
                {{ form_widget(form.imageAdded) }}
                <div class="text-muted font-italic pb-2">
                    Le fichier image sera celui que vous avez associé à la campagne (si vous en avez associé un).
                </div>
            </div>
            <div class="col-12">
                <hr color="orange" size="2">
            </div>
            <div class="col-12">
                {{ form_widget(form.venueMapAdded) }}
                <div class="text-muted font-italic pb-2">
                    Seulement affiché si la salle a ajouté un plan de salle.
                </div>
            </div>
            <div class="col-12">
                <hr color="orange" size="2">
            </div>
            <div class="col-12">
                {{ form_widget(form.commuteAdded) }}
                <div class="transport-type" style="margin-left: 30px">
                    {{ form_widget(form.commuteSNCBAdded) }}
                    {{ form_widget(form.commuteSTIBAdded) }}
                    {{ form_widget(form.commuteTECAdded) }}
                </div>
                <div class="text-muted font-italic pb-2">
                    Seulement applicable pour les salles situées en Belgique.
                </div>
            </div>
            <div class="col-12">
                <hr color="orange" size="2">
            </div>
            <div class="col-12">
                {{ form_widget(form.publicTransportTextInfosAdded) }}
                <div class="text-muted font-italic pb-2">
                    Cette option est purement textuelle et peut être affichée en parallèle de l'option précédente.
                </div>
                <div class="transport-text" style="margin-left: 30px">
                    {{ form_row(form.publicTransportTextInfos) }}
                    <p style="font-size: 12px; text-align: right;"><span id="transport-wc">300</span> caractères restants</p>
                </div>
            </div>
            <div class="col-12">
                <hr color="orange" size="2">
            </div>
            <div class="col-12">
                {{ form_widget(form.customInfosAdded) }}
                <div class="text-muted font-italic pb-2">
                    Ce peut-être des informations sur l'événement, sur vous ou votre organisation.
                </div>
                <div class="custom-text" style="margin-left: 30px">
                    {{ form_row(form.customInfos) }}
                    <p style="font-size: 12px; text-align: right;"><span id="custom-wc">300</span> caractères restants</p>
                </div>
            </div>
            <div class="col-12">
                <hr color="orange" size="2">
            </div>
            <div class="col-12 text-center">
                <button class="btn-warning btn preview">Prévisualiser <i class="far fa-file-pdf"></i></button>
            </div>
            <div class="col-12 text-center">
                {{ form_row(form.submit) }}
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}

{% block additional_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('input#app_bundle_custom_ticket_type_commuteAdded').on('change', function(){
           $('.transport-type').toggle(this.checked);
        });
        $('input#app_bundle_custom_ticket_type_commuteAdded').trigger('change');

        $('input#app_bundle_custom_ticket_type_publicTransportTextInfosAdded').on('change', function(){
            $('.transport-text').toggle(this.checked);
        });
        $('input#app_bundle_custom_ticket_type_publicTransportTextInfosAdded').trigger('change');

        $('input#app_bundle_custom_ticket_type_customInfosAdded').on('change', function(){
            $('.custom-text').toggle(this.checked);
        });
        $('input#app_bundle_custom_ticket_type_customInfosAdded').trigger('change');

        var maxCharCustom = 300;
        var maxCharTransport = 140;

        var nbCharCustom = $('textarea#app_bundle_custom_ticket_type_customInfos').val().length;
        $('#custom-wc').html(maxCharCustom - nbCharCustom);

        var nbCharTransport = $('textarea#app_bundle_custom_ticket_type_publicTransportTextInfos').val().length;
        $('#transport-wc').html(maxCharTransport - nbCharTransport);

        counterCustom = function(){
            var text = $('textarea#app_bundle_custom_ticket_type_customInfos').val();
            var wc = text.length;
            var remaining = maxCharCustom - wc;
            if (wc > maxCharCustom - 1){
                $('textarea#app_bundle_custom_ticket_type_customInfos').val(
                    $('textarea#app_bundle_custom_ticket_type_customInfos').val().substring(0, maxCharCustom)
                );
                $('#custom-wc').html(0);
            } else {
                $('#custom-wc').html(remaining);
            }
        }
        $('textarea#app_bundle_custom_ticket_type_customInfos').keyup(counterCustom);

        counterTransport = function(){
            var text = $('textarea#app_bundle_custom_ticket_type_publicTransportTextInfos').val();
            var wc = text.length;
            var remaining = maxCharTransport - wc;
            if (wc > maxCharTransport - 1){
                $('textarea#app_bundle_custom_ticket_type_publicTransportTextInfos').val(
                    $('textarea#app_bundle_custom_ticket_type_publicTransportTextInfos').val().substring(0, maxCharTransport)
                );
                $('#transport-wc').html(0);
            } else {
                $('#transport-wc').html(remaining);
            }
        }
        $('textarea#app_bundle_custom_ticket_type_publicTransportTextInfos').keyup(counterTransport);

        $('.preview').click(
            previewTicket
        );

        function previewTicket(){
            var imageAdded = $('input#app_bundle_custom_ticket_type_imageAdded').prop('checked');
            console.log(imageAdded);
            var venueMapAdded = $('input#app_bundle_custom_ticket_type_venueMapAdded').prop('checked');
            var publicTransportTextInfosAdded = $('input#app_bundle_custom_ticket_type_publicTransportTextInfosAdded').prop('checked');
            console.log(publicTransportTextInfosAdded);
            var customInfosAdded = $('input#app_bundle_custom_ticket_type_customInfosAdded').prop('checked');
            var publicTransportTextInfos = publicTransportTextInfosAdded ? $('textarea#app_bundle_custom_ticket_type_publicTransportTextInfos').val() : "";
            var customInfos = customInfosAdded ? $('textarea#app_bundle_custom_ticket_type_customInfos').val() : "";
            var commuteAdded = $('input#app_bundle_custom_ticket_type_commuteAdded').prop('checked');
            $('.preview').prop('disabled', true); // avoid repeating request
            $.ajax({
                url: "{{ path('preview_pdf') }}",
                type: "POST",
                data: {
                    imageAdded: imageAdded,
                    venueMapAdded: venueMapAdded,
                    publicTransportTextInfosAdded: publicTransportTextInfosAdded,
                    customInfosAdded: customInfosAdded,
                    publicTransportTextInfos: publicTransportTextInfos,
                    customInfos: customInfos,
                    commuteAdded: commuteAdded,
                    campaign: {{ campaign.id }}
                },
                success: function (response) {
                    $('.preview').prop('disabled', false);
                    console.log(response);
                    window.open(response, '_blank', 'clearcache=yes');
                },
                error: function (err) {
                    $('.preview').prop('disabled', false);
                    console.log('Error');
                }
            });
        }
    </script>
{% endblock %}