{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}

    {% import '@App/YB/Macros/campaigns.html.twig' as macros %}

    {% if current_campaigns is not empty %}
        <section class="container pb-5">
            <h2>Campagnes en cours</h2>
            {% for campaign in current_campaigns %}
                {{ macros.campaign_row(campaign) }}
            {% endfor %}
        </section>
    {% endif %}

    <section class="container py-5">
        <h2>Tableau de bord</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('yb_members_campaign_new') }}"><i class="far fa-plus-square"></i> Nouvelle campagne</a>
                <div class="text-muted">Créez une campagne de vente de tickets pour votre événement, avec de nombreuses options de configuration.</div>
            </li>
            <li class="list-group-item">
                {#<a href="{{ path('yb_members_invoices') }}">#}<i class="far fa-credit-card"></i> Facturation{#</a>#}
                <div class="text-muted">(Bientôt) Consultez vos factures, les infos concernant notre mode de facturation et configurez vos infos de paiement.</div>
            <li class="list-group-item">
                <a href="{{ path('yb_members_my_organizations') }}"><i class="fa fa-group"></i> Mes organisations</a>
                <div class="text-muted">Gérez vos organisations, créez-en des nouvelles, rajouter des membres, etc.</div>
            </li>
            <li class="list-group-item">
                <i class="fas fa-plus-square"></i> Nouvelle salle
                <div class="text-muted">(Bientôt) Enregistrez votre salle, renseignez son adresse et créer un plan de salle simple.</div>
            </li>
            <li class="list-group-item">
                {% if false %}
                    <a href="{{ path('yb_members_my_organizations') }}">
                {% endif %}
                        <i class="fa fa-home"></i> Mes salles
                {% if false %}
                    </a>
                {% endif %}
                <div class="text-muted">(Bientôt) Retrouvez toutes les infos de vos différentes salles et modifiez-les en cas de besoin.</div>
            </li>
            <li class="list-group-item">
                {% if passed_campaigns|length > 0 %}
                    <a href="{{ path('yb_members_passed_campaigns') }}">
                {% endif %}
                <i class="far fa-clock"></i> Campagnes passées
                {% if passed_campaigns|length > 0 %}
                    </a>
                {% endif %}
                <div class="text-muted">Retrouvez les infos des campagnes que vous avez lancées par le passé et qui sont terminées.</div>
            </li>
            <li class="list-group-item">
                <a class="text-danger" href="{{ path('yb_logout') }}">Déconnexion</a>
                <div class="text-muted">Arrêtez votre session sur Ticked-it ; votre mot de passe sera demandé à votre prochaine connexion.</div>
            </li>
        </ul>
    </section>

{% endblock %}