{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}
    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li class="active"><span>Factures</span></li>
        </ol>
    </section>

    <section class="container py-5">
        <h2>Factures</h2>
        <div class="row col-12 justify-content-between">
            <div>
                <form>
                    <label>Affichage par:
                        <select>
                            <option value="date">Date</option>
                            <option value="org">Organisation</option>
                        </select>
                        <!--noscript-->
                        <input type="submit" value="OK" />
                        <!--/noscript-->
                    </label>
                </form>
            </div>
            <div>
                <a href="{{ path('yb_members_payment_options') }}">
                    <div class="btn btn-info"><i class="fa fa-info-circle"></i> Aide</div>
                </a>
            </div>
        </div>



        <div class="row mt-4">
            {% for invoiceDate, orgs in campaignsDate %}
                <div class="row col-12">
                    <h3> {{ invoiceDate }} </h3>
                    <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                       href="{{ url('yb_members_invoice_sold', {'id': 1}) }}">
                        <i class="fas fa-download text-primary"></i> Tout télécharger
                    </a>
                    {% for orgName, orgCampaigns in orgs %}

                        {% for campaignName, invoiceData in orgCampaigns %}
                            <div class="row col-12 col-md-12 {% if not invoiceData.validated %} bg-warning {% endif %}">
                                <div class="col-12 col-md-3">
                                    {{ orgName }} - {{ campaignName }}
                                </div>
                                <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                                   href="{{ url('yb_members_invoice_sold', {'id': 1}) }}">
                                    <i class="fas fa-download text-primary"></i> Télécharger
                                </a>

                                {% if not invoiceData.validated %}
                                    <a class="btn btn-sm btn-secondary col-12 col-md-2" target="_blank"
                                       href="{{ url('yb_members_invoice_sold', {'id': 1}) }}">
                                        Valider
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="row mt-4">
            {% for orgName, campaigns in campaignsOrg %}
            <div class="row col-12">
                <h3> {{ orgName }} </h3>
                <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                   href="{{ url('yb_members_invoice_sold', {'id': 1}) }}">
                    <i class="fas fa-download text-primary"></i> Tout télécharger
                </a>
                {% for campaignName, invoices in campaigns %}
                <div class="row col-12">
                    <h5>{{ campaignName }}</h5>
                    <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                       href="{{ url('yb_members_invoice_sold', {'id': 1}) }}">
                        <i class="fas fa-download text-primary"></i> Tout télécharger
                    </a>
                </div>
                    {% for invoiceDate, invoiceData in invoices %}
                        <div class="row col-12 col-md-12
                        {% if not invoiceData.validated %} bg-warning {% endif %}">
                            <div class="col-12 col-md-3">
                                {{ invoiceDate|date('m/Y') }}
                            </div>
                            <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                               href="{{ url('yb_members_invoice_sold', {'id': 1}) }}">
                                <i class="fas fa-download text-primary"></i> Télécharger
                            </a>

                            {% if not invoiceData.validated %}
                                <a class="btn btn-sm btn-secondary col-12 col-md-2" target="_blank"
                                   href="{{ url('yb_members_invoice_sold', {'id': 1}) }}">
                                    Valider
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}