{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}
    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li class="active"><span>Factures</span></li>
        </ol>
    </section>

    <section class="container py-5">
        <h2>Factures</h2>

        <div class="row col-12 justify-content-between">
            <a href="{{ path('yb_members_payment_options') }}">
                <div class="btn btn-info"><i class="fa fa-info-circle"></i> Aide</div>
            </a>
        </div>

        {% if campaigns|length > 0 %}
            <div class="container row mt-4">
                {% for campaign in campaigns %}
                    <div class="row col-12">
                        <h3><a class="link-secondary" target="_blank"
                               href="{{ path('yb_campaign', {'id': campaign.id}) }}">
                                {{ campaign.getTitle }}
                            </a></h3>
                        {% if admin %}
                        <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                           href="{{ url('yb_members_campaign_sold', {'id': campaign.id}) }}">
                            <i class="fas fa-download text-primary"></i> Ventes (Apercu)
                        </a>
                        <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                           href="{{ url('yb_members_campaign_fee', {'id': campaign.id}) }}">
                            <i class="fas fa-download text-primary"></i> Commissions (Apercu)
                        </a>
                        <a class="btn btn-sm btn-secondary col-12 col-md-2" target="_blank"
                           href="{{ url('yb_members_invoice_generate', {'id': campaign.id}) }}">
                            Générer
                        </a>
                        {% endif %}
                        {% for invoice in campaign.getInvoices %}
                            <div class="row col-12 {% if not invoice.userValidated %} bg-warning {% endif %}">
                                <h4>
                                    Facture du {{ invoice.getDateGenerated|date("d/m/Y") }}
                                    {% if invoice.userValidated %}
                                        <small>{{ invoice.invoiceIdentifier }}</small>
                                    {% endif %}
                                </h4>
                                <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                                   href="{{ url('yb_members_invoice_sold', {'id': invoice.id}) }}">
                                    <i class="fas fa-download text-primary"></i> Ventes
                                </a>
                                <a class="btn btn-sm btn-success col-12 col-md-2" target="_blank"
                                   href="{{ url('yb_members_invoice_fee', {'id': invoice.id}) }}">
                                    <i class="fas fa-download text-primary"></i> Commissions
                                </a>
                                {% if not invoice.userValidated %}
                                    <a class="btn btn-sm btn-secondary col-12 col-md-2"
                                       href="{{ url('yb_members_invoice_validate', {'id': invoice.id}) }}">
                                        Valider
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row mt-4">
                Vous n'avez aucune campagne
            </div>
        {% endif %}

    </section>
{% endblock %}