{% extends "@App/YB/Members/base.html.twig" %}

{% block members_body %}
    {{ form_start(form) }}
    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('yb_members_my_venues') }}">Mes salles</a></li>
            <li class="active"><span>{{ venue.name }}</span></li>
            <li class="active"><span>Ajout d'une configuration</span></li>
        </ol>
    </section>
    <div class="px-0 mt-3 container" style="text-align: right">
        <a class="btn btn-info" href="{{ path('help_venue') }}#sectionAddConfig" target="_blank"><i class="fa fa-info-circle"></i> Aide</a>
    </div>
    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Ajout d'une configuration </h2>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.name) }}
                {{ form_row(form.maxCapacity) }}
            </div>
            <div class="col-12" id="yb_venue_has_only_free_seating">
                {{ form_widget(form.onlyStandup) }}
            </div>
            <div class="col-12 col-md-6 row yb_free_seat_only">
                <div class="text-muted font-italic pb-2">
                    Si votre salle dispose des types de places suivantes, cochez les cases correspondantes :
                </div>
                <div class="col-12">{{ form_row(form.nbStandUp) }}</div>
                <div class="col-12">{{ form_row(form.nbSeatedSeats) }}</div>
                <div class="col-12">{{ form_row(form.nbBalconySeats) }}</div>
                <div class="col-12">{{ form_widget(form.hasFreeSeatingPolicy) }}</div>
            </div>
            <div class="col_12 col-md-6 row">
                <div class="text-muted font-italic pb-2">
                    Si votre salle peut accueillir des PMR, donnez vos informations pour que ces personnes puissent
                    vous contacter :
                </div>
                <div class="col-12" id="yb_venue_has_pmr_zone">
                    {{ form_widget(form.pmrAccessible) }}
                </div>
                <div class="col-12 yb_pmr_zone">
                    {{ form_row(form.phoneNumberPMR) }}
                </div>
                <div class="col-12 yb_pmr_zone">
                    {{ form_row(form.emailAddressPMR) }}
                </div>
            </div>
        </div>
    </section>
    <section class="container my-4 py-2 my-md-5 campaign-edit-section">
        <h2>Image</h2>
        <div class="row">
            <div class="col-12 col-md-6">
                <p style="color: darkgreen"><b>{{ form_label(form.imageFile) }}</b></p>
                <div class="text-text-muted font-italic pb-2">
                    Vous pouvez rajouter une photo de votre plan de salle afin de permettre aux acheteurs de
                    visualiser plus facilement l'agencement de votre salle.
                </div>
                {{ form_errors(form.imageFile) }}
                {{ form_widget(form.imageFile) }}
            </div>
            {% if form.vars.data is not null %}
                {% if form.vars.data.id is not null and form.vars.data.updatedAt is not null %}
                    <div class="col-12 col-md-6">
                        <p>{{ form.vars.data.image }}</p>
                        <img class="img-fluid" src="{{ yb_asset(form.vars.data.webPath(form.vars.data.image)) }}"/>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}

{% block additional_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% if form.vars.data.id is null %}
            $('#yb_venue_has_only_free_seating input[type="checkbox"]').attr('checked', 'checked');
        {% endif %}
        $('#yb_venue_has_only_free_seating input[type="checkbox"]').on('change', function () {
            $('.yb_free_seat_only').toggle(!this.checked);
        });
        $('#yb_venue_has_only_free_seating input[type="checkbox"]').trigger('change');
        $('#yb_venue_has_pmr_zone input[type="checkbox"]').on('change', function () {
            $('.yb_pmr_zone').toggle(this.checked);
        });
        $('#yb_venue_has_pmr_zone input[type="checkbox"]').trigger('change');
    </script>
{% endblock %}

