{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}
    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('yb_members_my_venues') }}">Mes salles</a></li>
            <li class="active"><span>{{ config.venue.name }}</span></li>
            <li class="active"><span>Ajout des blocs</span></li>
        </ol>
    </section>
    <div class="px-0 mt-3 container" style="text-align: right">
        <a class="btn btn-info" href="{{ path('help_venue') }}#sectionAddBlocks" target="_blank"><i class="fa fa-info-circle"></i> Aide</a>
    </div>
    {% form_theme form ':Form:bootstrap_4_layout.html.twig' '@App/YB/Form/block.html.twig'  ':Form:jquery.collection.html.twig' %}
    {{ form_start(form) }}
    <section class="container my-4 py-2 my-md-5 campaign-edit-section my-configurations">
        <div>
            <h2>Ma configuration : {{ config.name }}</h2>
        </div>
        <div class="text-muted font-italic pb-2">
            C'est ici que vous allez préciser les configurations de vos salles, vous pourrez indiquer combien il y a de rangées, combien il y a de sièges par rangées, etc.
        </div>
        <div class="col-12">
            {% if config.nbStandUp > 0 %}
                <div>Nombre de place debout : {{ config.nbStandUp }}</div>
            {% endif %}
            {% if config.nbSeatedSeats > 0 %}
                <div>Nombre de place assise (hors balcon) : {{ config.nbSeatedSeats }}</div>
            {% endif %}
            {% if config.nbBalconySeats > 0 %}
                <div>Nombre de place assise (sur balcon) : {{ config.nbBalconySeats }}</div>
            {% endif %}
        </div>
        <div class="col-12">
            {{ form_widget(form.blocks) }}
        </div>
        <div class="text-muted font-italic pb-2">
            Vous ne savez pas représenter votre salle entièrement car elle possède plusieurs blocs de sièges différents? Pas de soucis, ajoutez des blocs !
        </div>
        <div class="col-12">
            <hr size="4" color="orange">
        </div>
        {{ form_end(form) }}
    </section>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
{% endblock %}

{% block additional_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $(document).ready(function() {
                $('select.block-type').change(function () {
                        if ($(this).val() == 'Debout') {
                            $(this).closest('.venue-block').find('.hide-if-standup').hide();
                        } else {
                            $(this).closest('.venue-block').find('.hide-if-standup').show();
                        }
                    }
                );
            });
            /*yb_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter un bloc</a>',
                remove:'<a class="btn btn-danger" href="#">Supprimer le bloc</a>'
            });*/
            yb_second_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter un bloc</a>',
                remove:'<a class="btn btn-danger" href="#">Supprimer le bloc</a>'
            });
            yb_third_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter une rangée</a>',
                remove:'<a class="btn btn-danger" href="#">Supprimer la rangée</a>'
            })
            $('#is-squared input[type="checkbox"]').on('change', function(){
                $(this).closest('.venue-block').find('.hide-if-squared').toggle(this.checked);
                $(this).closest('.venue-block').find('.show-if-squared').toggle(!this.checked);
            });
            $('#is-squared input[type="checkbox"]').trigger('change');

            $('#free-placement input[type="checkbox"]').on('change', function(){
                $(this).closest('.venue-block').find('.hide-if-free-placement').toggle(!this.checked);
            });
            $('#free-placement input[type="checkbox"]').trigger('change');
        });
    </script>
{% endblock %}