<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="{% block description %}{% block description_part_1 %}{{ 'meta_description_1'|trans }}{% endblock %} {% block description_part_2 %}{{ 'meta_description_2'|trans }}{% endblock %}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="theme-color" content="#f08722">
        {% block additional_metas %}{% endblock %}

        <title>{% block headtitle %}Un-Mute{% endblock %}</title>
        {% block open_graph %}{% endblock %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        {% block stylesheets %}
            {% include ':patterns:stylesheets.html.twig' %}
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window,document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '234678010533782');
            fbq('init', '820632124956657');
            fbq('track', 'PageView');
            {% block fb_pixel_events %}
            {% endblock %}
        </script>
        <noscript>
            <img height="1" width="1"
                 src="https://www.facebook.com/tr?id=234678010533782&ev=PageView
&noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% if app.environment == 'prod' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFPJV6V"
                              height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        {% block flashes %}
            {% include ":patterns:notices.html.twig" %}
        {% endblock %}
        <div id="page_head">
            <noscript>
                <div class="noscript-warning">
                    {{ "noscript.warning"|trans }}
                </div>
            </noscript>
            <!--[if lte IE 8]>
                <div class="noscript-warning">
                    {{ "ie.warning"|trans }}
                </div>
            <![endif]-->
            {% block nav %}
                {% include ':patterns:header_nav.html.twig' with {'page': page|default('none')} %}
            {% endblock %}
            {% block header %}
                <header {% block header_attributes %}{% endblock %}>
                    {% block header_header %}{% endblock %}
                </header>
            {% endblock %}
        </div>

        <main id="main" {% block main_attributes %}{% endblock %}>
            {% block modal_login_form %}
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% include '@FOSUser/Security/login_content.html.twig' %}
                {% endif %}
            {% endblock %}

            {% block errors %}
                {% include ":patterns:errors.html.twig" %}
            {% endblock %}


            {% block infos %}
                {% include ":patterns:infos.html.twig" %}
            {% endblock %}

            {% block body %}{% endblock %}
            {% block js_vars %}{% endblock %}
        </main>


        {% block footer %}
            <footer class="text-center">
                <div class="mx-auto">
                    <a style="height:20px; line-height: 20px;" class="pt-1 ml-1 text-white" href="{{ facebook_page_url }}"><i style="font-size:20px; vertical-align:middle;" class="fab fa-facebook-square"></i></a> <a style="height:20px; line-height: 20px;" class="pt-1 ml-1 text-white" href="{{ instagram_page_url }}"><i style="font-size:20px; vertical-align:middle;" class="fab fa-instagram"></i></a>
                </div>

                <div class="d-inline-block mx-auto text-uppercase" id="footer-links">
                    <a href="{{ path('press') }}">{{ 'footer.press'|trans }}</a><br/>
                    <a href="{{ path('suggestionBox') }}">{{ 'footer.contact'|trans }}</a><br/>
                    {#<a href="{{ path('passed_festivals') }}">Campagnes passées</a><br/>#}
                    <a href="{{ path('conditions') }}">{{ 'footer.conditions'|trans }}</a>
                </div>
                <div class="mx-auto">
                    <span class="text-uppercase">© {{ 'now'|date('Y') }} UN-MUTE </span>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {% include 'patterns/javascripts.html.twig' %}
            {% if app.environment == 'prod' %}

                <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                    })(window,document,'script','dataLayer','GTM-KFPJV6V');</script>
                <!-- End Google Tag Manager -->

                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109142671-1"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                    gtag('config', 'UA-109142671-1');
                </script>
            {% endif %}
            {% block additional_javascripts %}{% endblock %}
        {% endblock %}

    </body>
</html>
