<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <title>{% block headtitle %}Un-Mute{% endblock %}</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

        {% block stylesheets %}
            {% stylesheets filter='scssphp, ?uglifycss' output="css/layout.min.css"
                "scss/layout.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            {% block header %}
                <nav id="menu">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        <a href="{{ path('fos_user_profile_show') }}">Profil</a>
                        <a href="{{ path('user_notifications') }}">Inbox</a>
                        <a href="{{ path('testmail') }}">Test mail</a>

                    {% if is_granted('ROLE_FAN') %}
                        <a href="{{ path('fan_artist_contracts') }}">Contrats en cours</a>
                        <a href="{{ path('fan_cart') }}">Panier</a>
                        <a href="{{ path('fan_paid_carts') }}">Paniers payés</a>
                        <a href="{{ path('fan_special_advantages') }}">Avantages spéciaux</a>
                        <a href="{{ path('fan_special_purchases') }}">Achats spéciaux</a>
                        <a href="{{ path('fan_my_artists') }}">Mes artistes</a>
                        <a href="{{ path('fan_artists') }}">Tous les artistes</a>
                    {% endif %}

                    {% else %}
                        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                    {% endif %}
                     <a href="{{ path('suggestionBox') }}">Boite à idées</a>
                </nav>
            {% endblock %}
        </header>

        <main>
            {% block flashes %}
                {% include ":patterns:notices.html.twig" %}
            {% endblock %}

            {% block errors %}
                {% include ":patterns:errors.html.twig" %}
            {% endblock %}

            {# later
            {% block breadcrumbs %}
                {{ wo_render_breadcrumbs() }}
            {% endblock %}
            #}

            {% block body %}{# Page body comes here #}{% endblock %}
            {% block js_vars %}{% endblock %}
        </main>


        <footer>
            {% block footer %}{# page footer comes here #}{% endblock %}
        </footer>

        {% block javascripts %}
            {% include 'patterns/javascripts.html.twig' %}
        {% endblock %}

    </body>
</html>
