<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <title>{% block headtitle %}Un-Mute{% endblock %}</title>
        {% block open_graph %}{% endblock %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        {% block stylesheets %}
            {% include ':patterns:stylesheets.html.twig' %}
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block body_attributes %}{% endblock %}>
        <header id="header">
            <noscript>
                <div class="noscript-warning">
                    {{ "noscript.warning"|trans }}
                </div>
            </noscript>
            <!--[if lte IE 8]>
                <div class="noscript-warning">
                    {{ "ie.warning"|trans }}
                </div>
            <![endif]-->
            {% block header %}
                {% include ':patterns:header_nav.html.twig' with {'home_header': false} %}
            {% endblock %}
        </header>

        <main id="main" {% block main_attributes %}{% endblock %}>
            {% block modal_login_form %}
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% include '@FOSUser/Security/login_content.html.twig' %}
                {% endif %}
            {% endblock %}

            {% block flashes %}
                {% include ":patterns:notices.html.twig" %}
            {% endblock %}

            {% block errors %}
                {% include ":patterns:errors.html.twig" %}
            {% endblock %}

            {% block infos %}
                {% include ":patterns:infos.html.twig" %}
            {% endblock %}

            {# later
            {% block breadcrumbs %}
                {{ wo_render_breadcrumbs() }}
            {% endblock %}
            #}

            {% block body %}{# Page body comes here #}{% endblock %}
            {% block js_vars %}{% endblock %}
        </main>


        {% block footer %}
            <footer {% block footer_attributes %}class="footer"{% endblock %}>
                <div class="footer-links row text-center">
                    <div class="col-xs-12 col-sm-4"><a href="{{ path('about') }}">à propos</a></div>
                    <div class="col-xs-12 col-sm-4"><a href="{{ path('suggestionBox') }}">contact</a></div>
                    <div class="col-xs-12 col-sm-4"><a href="{{ path('conditions') }}">conditions générales</a></div>
                </div>
                <div class="copyright row">
                    <span class="text-uppercase">© Un-Mute <a href="https://www.facebook.com/UnMuteasbl/"><img class="ml-2" height="20" src="{{ asset('images/facebook.jpg') }}" /></a></span>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {% include 'patterns/javascripts.html.twig' %}
            {% if app.environment == 'prod' %}
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109142671-1"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                    gtag('config', 'UA-109142671-1');
                </script>
            {% endif %}

        {# block jsValidatorInit %}
            {{ include('FpJsFormValidatorBundle::javascripts.html.twig') }}

            {{ js_validator_config() }}
            {{ init_js_validation() }}

            <script>
                $('button[type="submit"]').click(function(event) {
                        $(this).closest('form').jsFormValidator('submitForm', event);
                });
            </script>
        {% endblock #}
            {% block additional_javascripts %}{% endblock %}
        {% endblock %}

    </body>
</html>
