<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block headtitle %}Un-Mute{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            {% block header %}
                <nav id="menu">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        <a href="{{ path('fos_user_profile_edit') }}">Profil</a>
                        <a href="{{ path('user_notifications') }}">Inbox</a>
                        <a href="{{ path('testmail') }}">Test mail</a>

                    {% if is_granted('ROLE_ARTIST') %}
                        <a href="{{ path('artist_steps') }}">Paliers</a>
                        <a href="{{ path('artist_contracts') }}">Contrats</a>
                    {% endif %}

                    {% else %}
                        <a href="{{ path('user_registration') }}">Inscription</a>
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}
                </nav>

            {% endblock %}
        </header>

        <main>
            {% block flashes %}
                {% include ":patterns:notices.html.twig" %}
            {% endblock %}

            {% block errors %}
                {% include ":patterns:errors.html.twig" %}
            {% endblock %}

            {# later
            {% block breadcrumbs %}
                {{ wo_render_breadcrumbs() }}
            {% endblock %}
            #}

            {% block body %}{# Page body comes here #}{% endblock %}
        </main>


        <footer>
            {% block footer %}{% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
