{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{  parent() }}

    {% stylesheets '@SonataTranslationBundle/Resources/public/css/sonata-translation.css'
                    'bundles/app/dubrox/multidatespicker/jquery-ui.multidatespicker.css'
                    output='css/compiled/sonata-admin-custom.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
    <style>
        .dz-image img {
            width: 100%; /*else huge display bug */
        }
    </style>

{% endblock %}

{% block sonata_javascript_pool %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/dubrox/multidatespicker/jquery-ui.multidatespicker.js') }}"></script>
    <script type="text/javascript">
        $('document').ready(function() {
            var $multiDatesPicker = $('.multiDatesPicker');
            $multiDatesPicker.multiDatesPicker({dateFormat: "mm/dd/yy",separator: ","});
            var $datePicker = $('.datePicker');
            $datePicker.datepicker({dateFormat: 'mm/dd/yy'});
        });
    </script>
    <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation_bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dropzone.js') }}"></script>
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
            {% endif %}
            {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <span>{{ sonata_admin.adminPool.title }}</span>
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_top_nav_menu %}

{% endblock %}

{% block side_bar_after_nav %}
    {% if app.environment == 'dev' %}
        <p class="text-center" style="border-top: 1px solid #444444; padding-top: 10px">
            <a href="{{ path('jms_translation_index') }}">Traductions</a>
        </p>
    {% endif %}
{% endblock %}


{% block sonata_wrapper %}
    {{ parent() }}
{% endblock %}