{% for stat in statistics %}
    <tr>
        <td><input type="checkbox" id="checkbox{{ stat.id }}"></td>
        <td><a href="{{ path('admin_app_user_show',{'id': stat.user.id}) }}">{{ stat.user.displayName }}</a>
        </td>
        <td>{{ stat.statistic }}</td>
        <td>
            <button class="btn actionButton" onclick="selectSingleUser({{ stat.id }},{{ stat.level.id }},'displayRewardModal')">
                <span class="glyphicon glyphicon-gift"></span>
                Attribuer récompense
            </button>
            <button class="btn actionButton" onclick="selectSingleUser({{ stat.id }},{{ stat.level.id }},'displayEmailModal')">
                <span class="glyphicon glyphicon-envelope"></span>
                Envoyer un email
            </button>
        </td>
    </tr>
{% endfor %}