<div class="modal fade modalAction" id="modalAction" tabindex="-1" role="dialog"
     aria-labelledby="modalActionLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel">Envoyer un email</h3>
            </div>
            {% if recipients|length == 0 %}
                <div class="modal-body">
                    {% if message == 'warning' %}
                        <div class="alert alert-warning">
                            Veuillez sélectionner des utilisateurs
                        </div>
                    {% elseif message == 'error' %}
                        <div class="alert alert-error">
                            {{ exception }}
                        </div>
                    {% elseif message == 'success' %}
                        <div class="alert alert-success">
                            Envoie(s) effectué(s)
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="modal-body">
                    <div id="modalLoader">
                        {{ hidden_loader() }}
                    </div>
                    <div id="modalContent">
                        <div class="form-inline clearfix">
                            <div class="pull-left">
                                <label>Destinataires</label>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-link" data-toggle="collapse"
                                   data-target="#recipients">Afficher/Reduire</a>
                            </div>
                        </div>
                        <div id="recipients" class="collapse collapsable">
                            <table class="table table-bordered table-striped sonata-ba-list">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Nom complet</th>
                                    <th>Adresse email</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rec in recipients %}
                                    <tr>
                                        <td>{{ rec.user.id }}</td>
                                        <td>{{ rec.user.displayName }}</td>
                                        <td>{{ rec.user.email }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="mailObject">Objet de l'email</label>
                            <input id="mailObject" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="mailContent">Contenu de l'email</label>
                            <textarea id="mailContent" class="form-control" rows="10"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler
                            </button>
                            <button type="button" class="btn btn-primary" onclick="performAction({{ level_id }},'email')">Envoyer
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>