{% extends 'base.html.twig' %}

{% block headtitle %}Accréditations | Un-Mute{% endblock %}
{% block header %}{% include ':patterns:header.html.twig' with {'title': 'Accréditations', 'img': ''} %}{% endblock %}

{% block body %}
    <div class="container">

        <p class="my-4 font-weight-bold w-50">
            Vous êtes attaché de presse et vous souhaitez en savoir plus sur Un-Mute ? Vous aimeriez bénéficier d'accréditations pour l'un de nos festivals ? Remplissez le formulaire ci-dessous ou <a href="{{ path('suggestionBox') }}">contactez-nous</a> !
        </p>

        <div class="form-block mb-5">
            <div class="form-header"><h2>Demande d'accréditation</h2></div>
            <div class="form-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                 <div class="text-center">
                        <button type="submit"  name="g-recaptcha-response"
                                class="g-recaptcha btn btn-primary submit"
                                data-sitekey="6LfklYEUAAAAAMj_B1O7c8RvimKn5GFunxRPyiBz" data-callback="onrecaptcha"><i class="fa fa-paper-plane" aria-hidden="true"></i> Envoyer</button>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="separating-waves colored high prior"></div>
{% endblock %}

{% block additional_javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script async defer>
        function onrecaptcha() {
            $('form').submit();
        }
    </script>
{% endblock %}