{% extends 'base.html.twig' %}

{% block headtitle %}Bénévoles | Un-Mute{% endblock %}

{% block body %}
    <div class="container">

        <h2 class="text-center text-primary"><i class="fas fa-hands-helping"></i> Proposition de bénévolat</h2>
        <p class="my-4 d-none d-md-block">
            Vous aimeriez participer à la mise en place d'un de nos festivals ?
            Vous souhaitez aider notre équipe d'une façon ou d'une autre ?
            Remplissez le formulaire suivant ou <a href="{{ path('suggestionBox') }}">contactez-nous</a> !
        </p>

        <div class="content-box">
            <div class="content-box-content">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center">
                    <button type="submit"  name="g-recaptcha-response"
                            class="g-recaptcha btn btn-primary submit"
                            data-sitekey="6LfklYEUAAAAAMj_B1O7c8RvimKn5GFunxRPyiBz" data-callback="onrecaptcha"><i class="fa fa-paper-plane" aria-hidden="true"></i> Envoyer</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="separating-waves colored high prior"></div>
{% endblock %}


{% block additional_javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script async defer>
        function onrecaptcha() {
            $('form').submit();
        }
    </script>
{% endblock %}