{% extends ":patterns:card.html.twig" %}

{% block card_content %}

    {% set rotation = false %}
    {% set src = asset('images/artist-card-default.jpg') %}

    {% set photos = artist.allPhotos %}

    {% if photos is not empty %}
        {% set rotation = true %}
        {% set imgstring = '[' %}
        {% for photo in photos %}
            {% if loop.first %}
                {% set src = absolute_url(asset(artist.webPath(photo))) %}
            {% endif %}
            {% set imgstring = imgstring ~ '"' ~ absolute_url(asset(artist.webPath(photo))) ~ '"' %}
            {% if not loop.last %}
                {% set imgstring = imgstring ~ "," %}
            {% else %}
                {% set imgstring = imgstring ~ ']' %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="um-card{% if rotation %} images-rotation{% endif %}{% if bgwhite %} bg-white{% endif %}" {% if rotation %}data-images='{{ imgstring }}'{% endif %}>
        <div class="um-card-header w-100" style="background-image: url({{ src }});">
        </div>

        <!-- this is the content of the card with an optionnal span for â­ -->
        <div class="um-card-content">
            <h5>{% if news is defined and news %}{{ 'card.new_artist'|trans|raw }} - {% endif %} {{ artist.artistname }}</h5>
            <p>{{ preview(artist.shortDescription, 50)|raw }}</p>
        </div>

        <!-- this is the link that the card need to take to -->
        <a class="um-card-link" href="{{ path('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}"></a>
    </div>
{% endblock %}