{% extends ":patterns:card.html.twig" %}

{% block card_content %}

    {% set rotation = false %}
    {% set src = asset('images/artist-card-default.jpg') %}

    {% set photos = artist.allPhotos %}

    {% if photos is not empty %}
        {% for photo in photos %}
            {% if loop.first %}
                {% set src = absolute_url(asset(artist.webPath(photo))) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <a class="um-card-link" href="{{ path('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}">
    <div style="position: relative; left: 0; top: 0;">
            <div style="position: relative; top: 0; left: 0;">
                <img src="{{ src }}" width="300px" height="200px"/>
            </div>
            {% if hours is defined and hours is not null %}
                <span class="card-caption-2 position-absolute">{{ hours }}</span>
            {% endif %}
            <div style="background-color: black; position:absolute; bottom: 0; right: 0px; padding-left: 15px; padding-right: 15px; padding-top: 10px; border-radius: 10px 0 0 0">
                <p style="color: #E79A41">{{ artist.artistname }}</p>
            </div>
        </div>
        <div style="width: 300px">
            <div>
                <span class="d-none artist-genres">{% for genre in artist.genres %}{% if not loop.first %} {% endif %}<span class="jplist-{{ genre|slug }}">{{ genre }}</span>{% endfor %}</span>
                {% if artist.hasCurrentContract %}<span class="d-none artist-has-current-contract"></span>{% endif %}
            </div>
        </div>
    </a>
{% endblock %}