{% extends ":patterns:card.html.twig" %}

{% block card_content %}

    {% set rotation = false %}
    {% set src = asset('images/artist-card-default.jpg') %}

    {% set photos = artist.allPhotos %}

    {% if photos is not empty %}
        {% for photo in photos %}
            {% if loop.first %}
                {% set src = absolute_url(asset(artist.webPath(photo))) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {#<a class="um-card-link" href="{{ path('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}">
    <div style="position: relative; left: 0; top: 0;">
            <div style="position: relative; top: 0; left: 0;">
                <img src="{{ src }}" width="300px" height="200px"/>
            </div>
            {% if hours is defined and hours is not null %}
                <span class="card-caption-2 position-absolute">{{ hours }}</span>
            {% endif %}
            <div style="background-color: black; position:absolute; bottom: 0; right: 0; padding-left: 15px; padding-right: 15px; padding-top: 10px; border-radius: 10px 0 0 0">
                <p style="color: #E79A41"><span class="artist-name">{{ artist.artistname }}</span></p>
            </div>
        </div>
        <div style="width: 300px">
            <div>
                <span class="d-none artist-genres">{% for genre in artist.genres %}{% if not loop.first %} {% endif %}<span class="jplist-{{ genre|slug }}">{{ genre }}</span>{% endfor %}</span>
                {% if artist.hasCurrentContract %}<span class="d-none artist-has-current-contract"></span>{% endif %}
            </div>
        </div>
    </a>#}
    <a class="um-card-link" href="{{ path('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}">
    <div class="bg-white">
        <div class="mx-auto w-100 position-relative">
            <div class="w-100 defaultHeightBg ratio-23 artist-card" style="background-image: url({{ src }});"></div>
            {% if hours is defined and hours is not null %}
                <span class="card-caption-2 position-absolute">{{ hours }}</span>
            {% endif %}
            <span class="card-caption position-absolute artist-name">{{ artist.artistname }}</span>
        </div>

        <!-- this is the content of the card with an optionnal span for â­ -->
        <div>
            <span class="d-none artist-genres">{% for genre in artist.genres %}{% if not loop.first %} {% endif %}<span class="jplist-{{ genre|slug }}">{{ genre }}</span>{% endfor %}</span>
            {% if artist.hasCurrentContract %}<span class="d-none artist-has-current-contract"></span>{% endif %}
        </div>

        <!-- this is the link that the card need to take to -->

    </div>
    </a>
{% endblock %}