{% extends ':patterns:card.html.twig' %}

{% block card_content %}

    {% set rotation = false %}
    {% set src = asset('images/contract-card-default.jpg') %}

    {% set artist = contract.artist %}
    {% set photos = artist.allPhotos %}

    {% set url_event = path('artist_contract', {'id': contract.id, 'slug': contract.artist.slug}) %}

    {% if photos is not empty %}
        {% set rotation = true %}
        {% set imgstring = '[' %}
        {% for photo in photos %}
            {% if loop.first %}
                {% set src = absolute_url(asset(artist.webPath(photo))) %}
            {% endif %}
            {% set imgstring = imgstring ~ '"' ~ absolute_url(asset(artist.webPath(photo))) ~ '"' %}
            {% if not loop.last %}
                {% set imgstring = imgstring ~ "," %}
            {% else %}
                {% set imgstring = imgstring ~ ']' %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="um-card position-relative{% if rotation %} images-rotation{% endif %}{% if bgwhite %} bg-white{% endif %}" {% if rotation %}data-images='{{ imgstring }}'{% endif %}>
        <div class="um-card-header w-100" style="background-image: url({{ src }});">
            <span class="um-card-date btn-primary sharp p-2{% if contract.state in contract.successfulStates %} successful-progress-bg{% endif %}">
                {{ contract.dateConcert|date('j') }} {{ contract.dateConcert|date('M')|trans }}
            </span>
        </div>

        <div class="w-100 position-relative">
            {% if contract.state in contract.successfulStates %}
                <div class="progress um-card-progress successful-progress py-3">
                    <div class="progress-bar" style="width:100%">
                        <span class="text-white text-uppercase">{{ 'confirmed'|trans|raw }}</span>
                    </div>
                </div>
            {% endif %}

            {% set progress_100 = contract.percentObjective %}
            <div class="progress um-card-progress{% if contract.state in contract.successfulStates %} invisible{% endif %}">
                <div class="progress-bar" style="padding-left: 2rem;width:{{ progress_100 }}%">
                    <span class="progress-bar-percent">{{ progress_100 }}%</span>
                </div>
            </div>

            <div class="um-card-content w-100">
                <h5>{% if news is defined and news %}{{ 'card.new_event'|trans|raw }} - {% endif %}{{ contract.artist.artistname }}</h5>
                <p>
                    {% if contract.hallConcert is not null %}{{ contract.hallConcert.getName }} | {{ contract.hallConcert.province }}
                    {% else %}{{ contract.province is not null ? contract.province : contract.artist.province }}
                    {% endif %}
                </p>
                {% if clickable is defined and not clickable %}
                    {% if contract.soldOut %}
                        <a class="btn small btn-secondary" href="{{ url_event }}">
                            Sold out
                        </a>
                    {% else %}
                        <a class="btn small btn-primary" href="{{ url_event }}">
                            Tickets
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if clickable is not defined or clickable %}
            <a class="um-card-link" href="{{ path('artist_contract', {'id': contract.id, 'slug': contract.artist.slug}) }}"></a>
        {% endif %}
    </div>
{% endblock %}