{% extends ':patterns:card.html.twig' %}

{% block card_content %}

    {% set rotation = false %}
    {% set src = asset('images/contract-card-default.jpg') %}

    {% set artist = contract.artist %}
    {% set photos = artist.allPhotos %}

    {% if photos is not empty %}
        {% set rotation = true %}
        {% set imgstring = '[' %}
        {% for photo in photos %}
            {% if loop.first %}
                {% set src = absolute_url(asset(artist.webPath(photo))) %}
            {% endif %}
            {% set imgstring = imgstring ~ '"' ~ absolute_url(asset(artist.webPath(photo))) ~ '"' %}
            {% if not loop.last %}
                {% set imgstring = imgstring ~ "," %}
            {% else %}
                {% set imgstring = imgstring ~ ']' %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="um-card{% if rotation %} images-rotation{% endif %}{% if bgwhite %} bg-white{% endif %}" {% if rotation %}data-images='{{ imgstring }}'{% endif %}>
        <div class="um-card-header w-100" style="background-image: url({{ src }});">
            <span class="um-card-date btn-primary sharp p-2">
                {{ contract.dateConcert|date('j') }} {{ contract.dateConcert|date('M')|trans }}
            </span>
        </div>

        <div class="um-card-content w-100">
            <h5>{% if news is defined and news %}NOUVEAU - {% endif %} Concert de {{ contract.artist.artistname }}</h5>
            <p>{{ contract.province is not null ? contract.province : contract.artist.province }}</p>
        </div>

        <a class="um-card-link" href="{{ path('artist_contract', {'id': contract.id, 'slug': contract.artist.slug}) }}"></a>
    </div>
{% endblock %}