{% extends ':patterns:card.html.twig' %}

{% block card_content %}

    {% set rotation = false %}
    {% set src = asset('images/hall-card-default.jpg') %}

    {% if hall.photos is not empty %}
        {% set rotation = true %}
        {% set imgstring = '[' %}
        {% for photo in hall.photos %}
            {% if loop.first %}
                {% set src = absolute_url(asset(hall.webPath(photo))) %}
            {% endif %}
            {% set imgstring = imgstring ~ '"' ~ absolute_url(asset(hall.webPath(photo))) ~ '"' %}
            {% if not loop.last %}
                {% set imgstring = imgstring ~ "," %}
            {% else %}
                {% set imgstring = imgstring ~ ']' %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if no_rotation_hall is defined and no_rotation_hall %}
        {% set rotation = false %}
    {% endif %}

    <div class="um-card{% if rotation %} images-rotation{% endif %}{% if bgwhite %} bg-white{% endif %}" {% if rotation %}data-images='{{ imgstring }}'{% endif %}>

        <div class="um-card-header" style="background-image: url({{ src }});">
        </div>

        <!-- this is the content of the card with an optionnal span for â­ -->
        <div class="um-card-content">
            <h5 class="hall-name">{{ hall.name }}</h5>
            <p>{{ hall.address }}</p>
            <p>{{ preview(hall.getShortDescription(), 100)|raw }}</p>
            {% set province_slug, step_slug
                    =   "jplist-" ~ hall.province|slug,
                        "jplist-" ~ hall.step.slug
            %}
            <span class="d-none hall-province {{ province_slug }}">{{ hall.province }}</span>
            <span class="d-none hall-step {{ step_slug }}">{{ hall.step }}</span>
            <span class="d-none hall-capacity">{{ hall.capacity }}</span>

            {% if hall.website is not empty %}
                <a class="btn small btn-outline-primary" target="_blank" href="{{ absolute_url(hall.website) }}">{{ 'more_info'|trans }}</a>
            {% endif %}
        </div>


    </div>
{% endblock %}