{% extends "AppBundle:Bases:base_artist.html.twig" %}

{% block body %}

    <h1>Profil de l'artiste {{ artist.artistname }}</h1>

    {% if app.user.owns(artist) %}
        <a href="{{ path('artist_profile_edit', {'id': artist.id}) }}">Modifier le profil</a>
    {% endif %}

    {% if artist.profilepic is not null %}
        <img src="{{ asset(artist.profilepic.webPath) }}" />
    {% endif %}

    {% for photo in artist.photos %}
        <img src="{{ asset(photo.webPath) }}" />
    {% endfor %}

    {% for video in artist.videos %}
        {{ video.embedVideo|raw }}
    {% endfor %}

{% endblock %}