{% extends "base.html.twig" %}

{% block body %}
    {% if currentContracts is not empty %}
        <h2>Contrats en cours</h2>
        <ul>
        {% for contract in currentContracts %}
            <li>#{{ contract.id }} : palier visé = <a href="{{ path('step', {'id': contract.step.id}) }}">{{ contract.step.name }}</a>
                ; artiste concerné = <a href="{{ path('fan_artist_profile', {'id': contract.artist.id}) }}">{{ contract.artist.artistname }}</a> <br />
                <a href="{{ path('fan_see_contract', {'id': contract.id}) }}">Soutenir</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}