{% extends "base.html.twig" %}

{% block body %}

    <h1>Avantages spéciaux</h1>

    <p>Pour débloquer un avantage spécial, il vous faut des <strong>crédits bonus</strong>. <br />
    Vous avez <span id="nb_credits_fan">{{ app.user.credits }}</span> crédits bonus.</p>

    {% if advantages is not empty %}

        <ul>
        {% for adv in advantages %}
            <li>{{ adv.name }} (prix en crédits : {{ adv.priceCredits }}) <a href="#" class="toggleAdvantageDescription">description</a> <br />

                <blockquote style="display: none;">
                    {{ adv.description }}
                </blockquote>

                <select>
                    {% for i in 0..adv.availableQuantity %}
                        <option value="{{ i }}" {% if loop.first %}selected="selected"{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>
                <button class="deblock-advantage-button" type="submit" advantage="{{ adv.id }}" price="{{ adv.priceCredits }}" id="submit_advantage_{{ adv.id }}">Débloquer</button>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Pas d'avantages spéciaux à débloquer pour l'instant.</p>
    {% endif %}

{% endblock %}

{% block js_vars %}
    <div id="modal-dialog">
    </div>
    <div
        id="js-vars"
        data-vars="{{ {'ajax_path': path('fan_ajax_deblock_advantage') }|json_encode|e('html_attr') }}">
    </div>
{% endblock %}

{% block javascripts_with_jquery %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/cart.js') }}"></script>
{% endblock %}