{% extends 'base.html.twig' %}

{% block header %}

    {{ parent() }}

    <nav>
        Artiste <b>{{ artist.artistName }}</b>
        <a href="{{ path('artist_home', {'id':artist.id}) }}">Accueil</a>
        <a href="{{ path('artist_profile', {'id':artist.id}) }}">Profil</a>
        <a href="{{ path('artist_contracts', {'id':artist.id}) }}">Contrats</a>
        <a href="{{ path('artist_steps', {'id':artist.id}) }}">Nouveau concert</a>
    </nav>

{% endblock %}