{% extends 'yb/base.html.twig' %}
{% trans_default_domain 'yb' %}

{% block headtitle %}{{ campaign.getTitle }}{% endblock %}
{% block meta_description %}{{ campaign.getDescription|slice(0,100) }}{% endblock %}
{% set photo = campaign.photo is not null ? campaign.photo : false %}

{% block open_graph %}
    {% set og_src = photo ? campaign.webPath(photo) : 'images/illustration-guitars.jpg' %}
    <meta property="og:title"
          content="{{ campaign.getTitle }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url"
          content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:image" content="{{ yb_asset(og_src) }}"/>
    <meta property="og:description" content="{{ campaign.getDescription|slice(0,100) }}"/>
{% endblock %}

{% block header_container %}
    <header class="masthead campaign-masthead text-white" {% if photo %}style="background-image: url('{{ yb_asset(campaign.webPath(photo)) }}');"{% endif %} >
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">{{ campaign.getTitle }}</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="container py-4">
        {% set is_event = campaign.dateEvent is not null %}

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="mb-2">
                {% if campaign.isDraft %}
                    <div class="alert alert-dark" role="alert">
                        Cette campagne est en mode <b>brouillon</b>. Vous la voyez parce que vous faites partie de l'organisation qui l'organise. Pour la rendre accessible au grand public, rendez-vous dans <a href="{{ path('yb_members_dashboard') }}">votre tableau de bord</a>.
                    </div>
                {% endif %}
                <div>
                    <b>Organisé par {% if campaign.organization.published %}<a href="{{ path('yb_organization', {'id':campaign.organization.id}) }}">{% endif %}{{ campaign.organization.name|raw|nl2br }}{% if campaign.organization.published %}</a>{% endif %}</b>
                </div>
                </div>
                {% if is_event %}
                    <div class="mb-2">
                        {% if campaign.hasSubEvents %}
                            <b>Dates : {% for se in campaign.getSubEvents %}{% if not loop.first %}, {% endif %}{{ se }}{% endfor %}</b>
                        {% else %}
                            <b>Date : {{ campaign.dateEvent|date('d/m/Y') }}</b>
                        {% endif %}
                    </div>
                {% endif %}

                {{ campaign.getDescription|bbcode_filter('my_default_filter') }}

                {% if campaign.campaignPhotos is not empty %}
                    {% for photo in campaign.campaignPhotos %}
                        <img class="img-fluid d-block py-3 mx-auto" src="{{ yb_asset(campaign.webPath(photo)) }}" />
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-12 col-lg-5">
                {% if not campaign.noThreshold %}
                    <div>
                        <h3>Financement participatif</h3>
                        {% if campaign.successful %}
                            <p>Cet événement a fait l'objet d'une campagne de financement participatif et est <b>confirmé</b>. Si vous commandez des tickets, vous les recevrez immédiatement.</p>
                        {% elseif campaign.failed %}
                            <p>Cet événement a fait l'objet d'une campagne de financement participatif et est <b>annulé</b> parce que l'objectif de la campagne n'a pas été atteint. Les acheteurs ont été intégralement remboursés.</p>
                        {% elseif campaign.pending %}
                            <p>Le financement participatif a eu lieu et aujourd'hui est la <b>date de validation</b> de cet événement.</p>
                            {% if campaign.pendingSuccessful %}
                                <p>Si vous avez acheté vos tickets, ils vous seront très bientôt envoyés.</p>
                            {% else %}
                                <p>En fonction de la décision de l'organisateur, la campagne peut se poursuivre (vous recevrez alors vos tickets si vous en avez commandé, et vous pourrez à nouveau en commander) ou s'annuler (vous serez alors remboursé si vous avez acheté des tickets).</p>
                            {% endif %}
                        {% else %}
                            <p>Cet événement ne sera confirmé que si son organisateur estime qu'il a atteint son objectif à la date de validation (le {{ campaign.dateEnd|date('d/m/Y') }}). Si l'événement est annulé parce que son objectif n'est pas atteint, tous les tickets achetés seront intégralement remboursés.</p>
                        {% endif %}
                        <p>Avancement actuel par rapport à l'objectif initial :</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped{% if campaign.successful or campaign.pendingSuccessful %} bg-success{% elseif campaign.failed %} bg-danger{% endif %}" role="progressbar" style="width: {{ campaign.percentObjective }}%" aria-valuenow="{{ campaign.percentObjective }}" aria-valuemin="0" aria-valuemax="100">{{ campaign.percentObjective }}%</div>
                        </div>
                    </div>
                {% endif %}
                <div class="mt-5{% if campaign.noThreshold %} mt-lg-3{% endif %}">
                    <h3>Commander{% if is_event %} des tickets{% endif %}</h3>

                    {% if campaign.isCrowdable and form.purchases|length > 0 %}
                        {{ form_start(form) }}

                        {% for purchase in form.purchases %}
                            {% set counterpart = purchase.vars.value.counterpart %}
                            <div class="counterpart-form p-3 my-2 border">

                                <div class="quantity-error-display" style="display:none;"></div>
                                <div class="free-price-error-display" style="display:none;"></div>

                                <div class="form-group form-row">
                                    {{ form_errors(purchase) }}

                                    <div class="col-8 col-sm-9 col-lg-8">
                                        <label class="font-weight-bold">{{ counterpart.name }}{% if counterpart.freePrice %} (prix libre, minimum {{ counterpart.minimumPrice }} €){% endif %}</label>
                                    </div>
                                    {% if counterpart.freePrice %}
                                        <div class="col-4 col-sm-3 col-lg-4">
                                            <div class="w-90 position-relative mb-2">
                                                {{ form_widget(purchase.free_price_value, {'attr':  {'min': counterpart.minimumPrice}}) }} <span class="free-price-euro-sign position-absolute">€</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-4 col-sm-3 col-lg-4">
                                            <span class="counterpart-price d-none">{{ counterpart.price }}</span>{% if counterpart.isFree %}Gratuit{% else %}{{ counterpart.price }} €{% endif %}
                                        </div>
                                    {% endif %}
                                    {% set max_cp = campaign.nbPurchasable(counterpart) %}
                                    <div class="col-8 col-sm-9 col-lg-8">{{ counterpart.getDescription|raw }}</div>
                                    <div class="col-4 col-sm-3 col-lg-4">
                                        <div class="container px-0">
                                            {% if max_cp == 0 or campaign.isOutOfStockCp(counterpart) %}
                                                <p>Il n'y a plus de tickets de ce type disponibles. (SOLD OUT)</p>
                                                {% do purchase.setRendered(purchase.quantity) %}
                                            {% else %}
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-dark btn-number"  data-type="minus" data-field="">
                                                            <i class="text-white fas fa-minus"></i>
                                                        </button>
                                                    </span>
                                                    {{ form_widget(purchase.quantity) }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-dark btn-number" data-type="plus" data-max="{{ max_cp }}" data-field="">
                                                            <i class="text-white fas fa-plus"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="text-right">
                            <span class="pr-2" id="totals">
                                TOTAL : <span id="cart-total">0</span> € pour <span id="quantity-total">0</span> ticket(s)
                            </span>
                            {{ form_widget(form.submit) }}
                        </div>


                        {{ form_end(form) }}

                    {% else %}
                        {% if campaign.passed %}
                            <p>Cette campagne est terminée et il n'est donc plus possible d'acheter des tickets.</p>
                        {% elseif campaign.pending %}
                            <p>Il n'est actuellement pas possible de contribuer à cette campagne car elle est en cours d'examination par son organisateur. Vous saurez bientôt si elle est validée ou non.</p>
                        {% elseif campaign.soldOut %}
                            <p>Cette campagne est sold out, il n'est donc plus possible d'acheter des tickets.</p>
                        {% elseif form.purchases|length == 0 %}
                            <p>Il n'y a pas encore de tickets mis en vente ; les organisateurs sont en train de paramétrer l'événement.</p>
                        {% else %}
                            <p>Il n'est actuellement pas possible d'acheter des tickets.</p>
                        {% endif %}
                    {% endif %}
                </div>

                {% if campaign.address is not null %}
                    <div class="mt-5">
                        <h3>Lieu</h3>

                        <p>Adresse : {{ campaign.address }}</p>
                        <div class="embed-responsive embed-responsive-16by9">
                                    <iframe
                                            class="embed-responsive-item"
                                            frameborder="0" style="border:0"
                                            src="https://www.google.com/maps/embed/v1/place?key={{ maps_api_key }}&q={{ campaign.address|url_encode }}" allowfullscreen>
                        </iframe>
                        </div>
                    </div>

                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}