{% extends "yb/base.html.twig" %}
{% trans_default_domain 'yb' %}

{% block nav_details_links %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ path('yb_index') ~ "#services"}}">{{ 'menu.services'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ path('yb_index') ~ "#pricing"}}">{{ 'menu.pricing'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ path('yb_index') ~ "#contact"}}">{{ 'menu.contact'|trans }}</a>
    </li>
{% endblock %}

{% block header %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">{{ 'home.headline'|trans }}</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12">
                            <a type="submit" class="js-scroll-trigger btn btn-lg btn-secondary" href="#services">{{ 'home.cta'|trans }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <section id="about">
        <div class="container p-5">
            <h2>{{ 'home.about.title'|trans }}</h2>
            <p class="big">
                {{ 'home.about.content'|trans|nl2br }}
            </p>
        </div>
    </section>

    <!-- Icons Grid -->
    <section class="features-icons bg-light p-3 p-md-5" id="services">
        <div class="container">
            <h2>{{ 'home.services.title'|trans }}</h2>
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-ticket-alt mx-auto"></i>
                        </div>
                        <h3>{{ 'home.services.ticketing.title'|trans }}</h3>
                        <p class="lead mb-0">{{ 'home.services.ticketing.content'|trans }}</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-bullseye mx-auto"></i>
                        </div>
                        <h3>{{ 'home.services.flexibility.title'|trans }}</h3>
                        <p class="lead mb-0">{{ 'home.services.flexibility.content'|trans }}</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-hand-holding-usd mx-auto"></i>
                        </div>
                        <h3>{{ 'home.services.no_risk.title'|trans }}</h3>
                        <p class="lead mb-0">{{ 'home.services.no_risk.content'|trans }}</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="fas fa-lock mx-auto"></i>
                        </div>
                        <h3>{{ 'home.services.security.title'|trans }}</h3>
                        <p class="lead mb-0">{{ 'home.services.security.content'|trans }}</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters" id="services-step-1">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h3>{{ 'home.examples.example_1.title'|trans }}</h3>
                    <p class="lead mb-0">{{ 'home.examples.example_1.content'|trans }}</p>
                </div>
            </div>
            <div class="row no-gutters" id="services-step-2">
                <div class="col-lg-6 text-white showcase-img"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h3>{{ 'home.examples.example_2.title'|trans }}</h3>
                    <p class="lead mb-0">{{ 'home.examples.example_2.content'|trans }}</p>
                </div>
            </div>
            <div class="row no-gutters" id="services-step-3">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h3>{{ 'home.examples.example_3.title'|trans }}</h3>
                    <p class="lead mb-0">{{ 'home.examples.example_3.content'|trans }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="pricing" class="p-3 p-md-5">
        <div class="container">
            <h2>{{ 'home.pricing.title'|trans }}</h2>
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow my-auto">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ 'home.pricing.campaign_1.title'|trans }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            {{ 'home.pricing.campaign_1.list'|trans|raw }}
                        </ul>
                        <a class="js-scroll-trigger btn btn-lg btn-block btn-secondary" href="#contact">{{ 'home.pricing.contact_us'|trans }}</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow my-auto">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ 'home.pricing.campaign_2.title'|trans }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            {{ 'home.pricing.campaign_2.list'|trans|raw }}
                        </ul>
                        <a class="js-scroll-trigger btn btn-lg btn-block btn-secondary" href="#contact">{{ 'home.pricing.contact_us'|trans }}</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow my-auto">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ 'home.pricing.campaign_custom.title'|trans }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            {{ 'home.pricing.campaign_custom.list'|trans|raw }}
                        </ul>
                        <a class="js-scroll-trigger btn btn-lg btn-block btn-secondary" href="#contact">{{ 'home.pricing.contact_us'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2 class="section-header text-left">{{ 'home.contact.title'|trans }}</h2>
            <h3>{{ 'home.contact.subtitle'|trans }}</h3>
        </div>
        <div class="contact-section">
            <div class="container">
                {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-12 col-md-6 form-line">
                            <div class="form-group">
                                {{ form_row(form.name) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                {{ form_row(form.message) }}
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> {{ 'home.contact.send'|trans }}</button>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
    </section>
{% endblock %}