{% extends 'yb/base.html.twig' %}
{% trans_default_domain 'yb' %}

{% if cart.contracts|length == 1 %}
    {% set campaign = cart.first.contractArtist %}
    {% set photo = campaign.photo is not null ? campaign.photo : false %}

    {% block header_container %}
        <header class="masthead checkout-masthead text-white" {% if photo %}style="background-image: url('{{ absolute_url(asset(campaign.webPath(photo))) }}');"{% endif %} >
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h1 class="mb-5 small">{{ campaign.getTitle }}</h1>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
{% endif %}

{% block body %}
    <div class="container py-5" id="order-recapitulation">
        <h2>Votre commande</h2>

        <p class="text-right">
            Numéro de commande: <span class="text-muted">{{ cart.barcodeText }}</span>
            <br />Date de la commande : {{ cart.date|fancy_date }}
            <br />Etat de la commande : {{ cart.state }}
        </p>

        {% for contract in cart.contracts %}
            <h3>{{ contract.contractArtist.getTitle }}</h3>
            <p><i class="far fa-calendar-alt"></i>
                {% if campaign.hasSubEvents %}
                    {% for se in campaign.getSubEvents %}{% if not loop.first %}, {% endif %}{{ se.date|fancy_date }}{% endfor %}
                {% else %}
                    {{ campaign.dateEvent|date('d/m/Y') }}
                {% endif %}
                <br />
                <a href="{{ path('yb_campaign', {'id': contract.contractArtist.id}) }}" target="_blank"><i class="fas fa-external-link-alt"></i> Voir les infos de cet événement</a>
            </p>
            <ul class="list-group">
                {% for purchase in contract.purchases %}
                    <li class="list-group-item">{{ purchase }} <span class="text-muted">- {{ purchase.amount }} € {% if purchase.counterpart.freePrice %}(prix unitaire de {{ purchase.freePriceValue }} € choisi librement){% endif %}</span></li>
                {% endfor %}
            </ul>
            {% if not contract.refunded and contract.counterpartsSent %}
                <p><a href="{{ url('yb_get_tickets', {'code': contract.barcodeText}) }}"><i class="fas fa-file-download"></i> Télécharger les tickets</a></p>
            {% endif %}
        {% endfor %}

        <div class="py-2 text-right">
            TOTAL : {{ cart.amount }} €
        </div>

        <p>
            Cette page constitue une confirmation de commande mais n'est pas un droit d'entrée.
            Il vous faut présenter vos tickets sur un support lisible afin d'accéder aux événements auxquels ils donnent accès.
            {% if cart.contracts|length == 1 and cart.first.contractArtist.isEvent and cart.first.counterPartsSent %}Ces tickets sont disponibles sur cette page et vous ont été envoyés par e-mail.{% endif %}
        </p>
    </div>
{% endblock %}