{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <h3 class="text-center mb-3">Bienvenue chez Un-Mute !</h3>

        <div class="content-box">
            <div class="content-box-content row mt-3">
                <div class="col-12 col-md-8 my-auto">
                    {% if app.user %}
                        <p class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.firstname}) }}</p>
                    {% else %}
                        <p class="text-center">Vous avez bien vérifié votre compte. Bienvenue chez Un-Mute !</p>
                    {% endif %}

                    <p class="text-center"><a href="{{ path('catalog_crowdfundings') }}" class="btn btn-primary small">Voir les concerts à soutenir</a></p>

                    {% if targetUrl %}
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                    {% endif %}
                </div>
                <div class="d-none d-md-block col-md-4">
                    <img class="img-fluid um-icon" src="{{ asset('images/icons/advantages-producer.png') }}" />
                </div>
            </div>
        </div>

    </div>
{% endblock fos_user_content %}
