{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="row">
        <div class="form-group col-12">
            {{ form_row(form.email) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
        </div>

        <div class="form-group col-12">
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.newsletter) }}
        </div>
    </div>
    <div class="text-center">
        <input class="btn btn-primary sharp text-uppercase"
               type="submit"
               id="_submit"
               name="_submit"
               value="{{ 'registration.submit'|trans }}"/>
    </div>
{{ form_end(form) }}
