{% macro organization_row(organization, currentUser) %}
    
    {% import '@App/YB/Macros/organization_member.html.twig' as macros %}

    <div class="">
        <h3>{{ organization.getName|nl2br }}</h3>
        <!-- quand on est super admin, on voit tout le monde -->
        {% if currentUser.getRoleForOrganization(organization) == 3 or currentUser.getRoleForOrganization(organization) == 2 %}
            <table class="table" width="100%" cellspacing="2" cellpadding="0" border="0" align="center" bgcolor="#FF9900">
                {% for member in organization.getMembers %}
                    {{ macros.organization_member_row(currentUser, member, organization) }}
                {% endfor %}
            </table>
        <!-- quand on est simple admin ou membre, on ne voit pas Pierre et Gonzague -->
        {% else %}
            <table class="table">
                {% for member in organization.getNonSuperAdminMembers %}
                    {{ macros.organization_member_row(currentUser, member, organization) }}
                {% endfor %}
            </table>
        {% endif %}
        <p><a class="link-secondary" href="{{ path('yb_members_add_to_organization', {'id': organization.getId}) }}">Rajouter un membre à cette organisation...</a></p>
        <p><a class="link-secondary" href="{{ path('yb_members_quit_organization', {'id': organization.getId}) }}">Quitter cette organisation...</a></p>
    </div>

{% endmacro %}
