<div class="content-box-header">
    <h3>{{ 'static_menu.title'|trans|raw }}</h3>
</div>
<nav id="toc-nav" data-toggle="toc" class="navbar nav-pills navbar-expand-md content-box-content">
    <ul class="flex-column">
        <li class="nav-item"><a href="{{ path('about') }}">{{ 'static_menu.about'|trans|raw }}</a></li>
        {% if 'team' not in no_link %}<li class="nav-item"><a href="{{ path('team') }}">{{ 'static_menu.team'|trans|raw }}</a></li>{% endif %}
        {% if 'faq' not in no_link %}<li class="nav-item"><a href="{{ path('faq') }}">{{ 'static_menu.faq'|trans|raw }}</a></li>{% endif %}
        <li class="nav-item"><a href="{{ path('catalog_artists') }}">{{ 'static_menu.catalog_artists'|trans|raw }}</a></li>
        <li class="nav-item"><a href="{{ path('catalog_halls') }}">{{ 'static_menu.catalog_halls'|trans|raw }}</a></li>
        <li class="nav-item"><a href="{{ path('catalog_crowdfundings') }}">{{ 'static_menu.catalog_events'|trans|raw }}</a></li>
        <li class="nav-item"><a href="{{ path('conditions') }}">{{ 'static_menu.conditions'|trans|raw }}</a></li>
        <li class="nav-item"><a href="{{ path('suggestionBox') }}">{{ 'static_menu.contact'|trans|raw }}</a></li>
    </ul>
</nav>