{% extends "AppBundle:Bases:base_artist.html.twig" %}

{% block body %}

    <div>
        <h2>Artiste "{{ artist.artistname }}" - Résumé de votre évolution :</h2>

        <ul>
            <li>Phase : <a href="{{ path('artist_steps', {'id': artist.id}) }}">{{ artist.phase.name }}</a></li>
            <li><a href="{{ path('artist_contracts', {'id': artist.id}) }}">Contrats passés</a></li>
            {% if currentContract is not null %}
                <li>Palier en cours de contrat : <a href="{{ path('user_see_contract', {'id': currentContract.id}) }}">{{ currentContract.step.name }}</a></li>
            {% endif %}
            <li><a href="{{ path('artist_profile', {'id':artist.id}) }}">Voir mon profil</a></li>
        </ul>

    </div>

{% endblock  %}