{% extends "AppBundle:Bases:base_artist.html.twig" %}

{% block body %}

    <h1>Paliers</h1>

    {#
    <div id="available-phases">

    {% set overleveled = false %}

    {% for phase in phases %}
        {% if phase.num > artist.phase.num and not overleveled %}
            </div>
            <div id="unavailable-phases">
            {% set overleveled = true %}
        {% endif %}
        Phase #{{ phase.num }} : {{ phase.name }} {% if overleveled %}(non débloquée){% endif %}
        #}
        <ul>
        {% for step in steps %}
            <li>Palier #{{ loop.index }} : {{ step.name }} (type : {{ step.type.name }})
                {% if currentContract is null %}
                    <a href="{{ path('artist_new_contract', {'id': artist.id, 'step_id': step.id}) }}">viser</a>
                {% elseif currentContract is not null and currentContract.step.id == step.id %}
                    <a href="{{ path('fan_see_contract', {'id': currentContract.id}) }}">EN COURS</a>
                {% endif %}
                    <a href="{{ path('step', {'id': step.id}) }}">infos</a>
            </li>
        {% endfor %}
        </ul>
    {#
        {% endfor %}
        </div>
    #}
{% endblock %}