{% extends ":patterns:card.html.twig" %}

{% block card_content %}

    {% if project.coverpic is null %}
        {% set src = asset('x/images/project-card-default.jpg') %}
    {% else %}
        {% set src = absolute_url(asset(project.webPath(project.coverpic))) %}
    {% endif %}

    <div class="x-card">
        <div class="x-card-header w-100" style="background-image: url({{ src }});">
            <div class="project-artistname search-filter">
                {{ project.artist.artistname }}
            </div>
            {% if project.isClosed %}
                {% if project.successful %}
                    <div class="project-successful">
                        réussite&nbsp;<i class="fas fa-check-circle"></i>
                    </div>
                {% endif %}
            {% else %}
                <span class="d-none project-ongoing"></span>
            {% endif %}
        </div>

        <div class="x-card-content">
            {% set category_slug = "jplist-" ~ project.category.name|slug %}
            <h5 class="project-title search-filter">{{ project.title }}</h5>
            <div class="my-2">
                <div class="badge badge-warning project-category {{ category_slug }}">{{ project.category.name }}</div>
                <div class="badge badge-info search-filter">{% for tag in project.tags %}{% if not loop.first %} {% endif %}<div class="badge badge-info jplist-{{ tag }}">{{ tag }}</div>{% endfor %}</div>
            </div>
            <p>
                <b>{{ project.collectedAmount }} €</b> {% if project.hasThreshold %}sur {{ project.threshold }} €{% else %}récoltés {% endif %}
                &nbsp;
                {% if project.isPassed %}
                    <b>{{ project.dateEnd|date('d/m/Y') }}</b> date de fin
                {% else %}
                    <b>{{ project.remainingTime }}</b>
                {% endif %}
                &nbsp;
                <b>{{ project.nbContributors }}</b> contributeur(s)
            </p>

            {% if project.hasThreshold %}
                 <div class="progress">
                    <div class="progress-bar {% if project.isPassed and project.progressPercent >= 100 %}bg-success{% endif %}" role="progressbar" style="width: {{ project.progressPercent }}%;" aria-valuenow="{{ project.progressPercent }}" aria-valuemin="0" aria-valuemax="100"><div class="card-funds" >{{ project.progressPercent}}%</div></div>
                </div>
            {% endif %}
        </div>

        <!-- this is the link that the card need to take to -->
        <a class="x-card-link" href="{{ path('x_project', {'id': project.id, 'slug': project.slug}) }}"></a>

    </div>
{% endblock %}