{% trans_default_domain 'FOSUserBundle' %}

{% if login_fixed is not defined %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
 {% endif %}   <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% if error is defined and error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <!-- content of the modal itself ➡️ in this case the form -->
            <div class="modal-body">
                <div class="container">
                    <!-- design of the modal header -->
                    <div class="login-header">
                        <div class="h-line"></div>
                        <!-- titre de la section -->
                        <div class="login-header-title">
                            <h4 class="login-rounded-title">Connexion</h4>
                        </div>
                    </div>
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <div class="form-group">
                            {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
                            <input type="text" class="form-control" id="username" name="_username" {% if last_username is defined %}value="{{ last_username }}"{% endif %} placeholder="{{ 'security.login.username'|trans }}" required="required" />
                        </div>
                        <div class="form-group">
                            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                            <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox pr-3" for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="form-check-input custom-control-input" />
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ 'security.login.remember_me'|trans }}</span>
                            </label>
                        </div>

                        <div class="mb-4 mt-1">
                            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a> | <a href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="text-center">
                            <button class="btn btn-primary text-uppercase" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if login_fixed is not defined %}
</div>
{% endif %}