{% extends "XBundle::base.html.twig" %}

{% block body %}

    <section class="container px-0 mt-4">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{{ path('x_artist_dashboard') }}">Tableau de bord</a>
            <a class="breadcrumb-item" target="_blank" href="{{ path('x_project', {'id': project.id, 'slug' : project.slug}) }}">{{ project.title }}</a>
            <a class="breadcrumb-item" href="{{ path('x_artist_project_products', {'id': project.id}) }}">Article mis en vente</a>
            {% if product.id is null %}
                <span class="breadcrumb-item active">Ajouter un article</span>
            {% else %}
                <span class="breadcrumb-item active">Mettre à jour "{{ product.name }}"</span>
            {% endif %}
        </nav>
    </section>

    {% form_theme form ':Form:bootstrap_4_layout.html.twig' ':Form:jquery.collection.html.twig' %}

    {{ form_start(form) }}

    <section class="container my-4 py-2 my-md-5 project-section">
        <h2>Article</h2><hr>
        <div class="row">
            <div class="col-12" {% if product.id is not null %}style="display: none"{% endif %}>
                <div class="text-muted font-italic">
                    Précisez d'abord si l'article mis en vente est un ticket ou non en cochant la mention ci-dessous. Ce comportement ne pourra plus être modifié une fois l'article créé.
                </div>
                {{ form_widget(form.isTicket) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-12">
                {{ form_row(form.description) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.supply) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.maxAmountPerPurchase) }}
            </div>
            <div class="col-12">
                <div{% if product.id is not null and product.productsSold > 0 %} style="display:none;"{% endif %}>
                    {{ form_widget(form.freePrice) }}
                </div>
                <div class="free-price-min" style="display:none;">
                    {{ form_row(form.minimumPrice) }}
                    {{ form_errors(form.minimumPrice) }}
                    <div{% if product.id is not null and product.productsSold > 0 %} disabled="disabled"{% endif %}>
                        {{ form_widget(form.minimumPrice) }}
                    </div>
                </div>
                <div class="price">
                    {{ form_label(form.price) }}
                    {{ form_errors(form.price) }}
                    <div{% if product.id is not null and product.productsSold > 0 %} disabled="disabled"{% endif %}>
                        {{ form_widget(form.price) }}
                    </div>
                </div>
            </div>
            {% if product.id is not null%}
                {% if not product.isTicket %}
                    <div class="col-12 col-md-7 product-photo">
                        {{ form_row(form.photo) }}
                    </div>
                {% else %}
                    {% do form.photo.setRendered %}
                {% endif %}
                {% if product.photo is not null %}
                    <div class="col-12 col-md-3">
                        <img class="img-fluid" src="{{ asset(product.webPath(product.photo)) }}" />
                    </div>
                {% endif %}
            {% else %}
                <div class="col-12 col-md-7 product-photo">
                    {{ form_row(form.photo) }}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="container my-4 py-2 my-md-5 project-section">
        <h2>Options</h2><hr>
        {% if product.id is not null and product.options is empty and product.productsSold > 0 %}
            <div class="text-muted font-italic pb-2">Vous ne pouvez plus ajouter d'options pour cet article car il a déjà été vendu au moins une fois.</div>
            {% do form.options.setRendered %}
        {% else %}
            <div class="text-muted font-italic pb-2">Vous pouvez ajouter des options pour les articles que vous mettez en vente.</div>
            {{ form_widget(form.options) }}
        {% endif %}
    </section>
    
    {{ form_end(form) }}

{% endblock %}

{% block additional_javascripts %}

    <script type="text/javascript" src="{{ absolute_url(asset('js/lib/jquery.collection.js')) }}"></script>

    <script type="text/javascript">
        function x_options_collection(options) {
            $('.options-collection').collection($.extend({
                up: '',
                down: '',
                add_at_the_end: true,
                add: '<a href="#">Ajouter</a>',
                prefix: 'options-collection'
            }, options));
        }

        function x_choices_collection(options) {
            $('.choices-collection').collection($.extend({
                up: '',
                down: '',
                add_at_the_end: true,
                add: '<a href="#">Ajouter</a>',
                prefix: 'choices-collection'
            }, options));
        }

        $(function() {
            x_options_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter une option</a>',
                remove:'<a class="btn btn-danger" href="#">Supprimer cette option</a>'
            });

            x_choices_collection({
                add:'<a class="btn btn-outline-secondary mt-3" href="#"><i class="fas fa-plus-square text-secondary"></i> Ajouter un choix</a>',
                remove:'<a class="btn btn-danger" href="#">Supprimer ce choix</a>'
            });
            
            {% if product.id is null %}
                $('.is-ticket-checkbox').on('change', function() {
                    $('.product-photo').toggle(!this.checked);
                });
                $('.is-ticket-checkbox').on('change'),
            {% endif %}

            $('.free-price-checkbox').on('change', function() {
                $('.free-price-min').toggle(this.checked);
                $('.price').toggle(!this.checked);
            });
            $('.free-price-checkbox').trigger('change');
        });
    </script>
{% endblock %}