{% extends "XBundle::base.html.twig" %}

{% block body %}

    <style>
        a:hover {
            text-decoration: none;
        }
    </style>

    <section class="container px-0 mt-4">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{{ path('x_artist_dashboard') }}">Tableau de bord</a>
            <a class="breadcrumb-item" target="_blank" href="{{ path('x_project', {'id': project.id, 'slug' : project.slug}) }}">{{ project.title }}</a>
            <span class="breadcrumb-item active">Articles mis en vente</span>
        </nav>
    </section>
    
    <section class="container my-4 py-2 my-md-4">
        {% if products is empty %}
            <p>Pas d'articles en vente</p>
        {% else %}
            {% for product in products %}
                <div class="products-row border my-3 px-2">
                    <div class="row">
                        <div class="col-4 col-md-2 my-2">{% if product.photo is not null %}<img src="{{ asset(product.webPath(product.photo)) }}" width="90px" height="90px"/>{% endif %}</div>
                        <div class="col-4 col-md-1 my-2"><b>{{ product.name }}</b></div>
                        <div class="col-4 col-md-3 my-2">{{ product.description | bbcode_filter('my_default_filter') }}</div>
                        {% if product.options is not empty %}

                        <div class="col-4 col-md-2 my-2">
                        <p>Option(s)</p>
                            {% for option in product.options %}
                                <p>{{ option }}<p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="col-4 col-md-1 my-2">
                            {% if product.freePrice %}
                                <p>Prix libre</p><b>{{ product.minimumPrice }} €</b> (prix minimum)
                            {% else %}
                                <b>{{ product.price }} €</b>
                            {% endif %}
                        </div>
                        <div class="col-4 col-md-1 my-2"><b>{{ product.supply }}</b> en stock</div>
                        <div class="col-4 col-md-1 my-2"><b>{{ product.productsSold }}</b> vendus(s)</div>
                    </div>

                    {% if not project.isPassed %}
                    <div class="col-12 my-2">
                        {% if product.validated %}
                            <a class="btn btn-primary" href="{{ path('x_artist_product_update', {'id': project.id, 'idProd': product.id}) }}">Modifier</a>
                            {% if product.productsSold == 0 %}
                                &nbsp;<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ product.id }}">
                                    Supprimer
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Supprimer l'article "{{ product }}"</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Vous êtes sur le point de supprimer cet article. Êtes-vous sûr de continuer ?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{{ path('x_artist_product_delete', {'id': project.id, 'idProd': product.id}) }}">
                                                    <input class="btn btn-danger" type="submit" value="Supprimer"/>
                                                </form>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="text-muted font-italic pb-2">
                                En cours de validation
                            </div>
                        {% endif %}    
                    </div>
                    {% endif %}

                </div>
            {% endfor %}
        {% endif %}

        {% if not project.isPassed %}
            <a href="{{ path('x_artist_product_add', {'id': project.id}) }}"><i class="far fa-plus-square"></i> Ajouter un article</a>
        {% endif %}

    </section>

{% endblock %}