{% extends "XBundle::base.html.twig" %}

{% block body %}

    <section class="container px-0 mt-4">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{{ path('x_artist_dashboard') }}">Tableau de bord</a>
            <a class="breadcrumb-item" target="_blank" href="{{ path('x_project', {'id': project.id, 'slug' : project.slug}) }}">{{ project.title }}</a>
            <a class="breadcrumb-item" href="{{ path('x_artist_project_products', {'id': project.id}) }}">Article mis en vente</a>
            {% if product.id is null %}
                <span class="breadcrumb-item active">Ajouter un article</span>
            {% else %}
                <span class="breadcrumb-item active">Mettre à jour "{{ product.name }}"</span>
            {% endif %}
        </nav>
    </section>

    {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}

    {{ form_start(form) }}

    <section class="container my-4 py-2 my-md-5 project-section">
        <h2>Article</h2><hr>
        <div class="row">
            <div class="col-12 col-md-6 text-muted font-italic" {% if product.id is not null %}style="display: none"{% endif %}>
                <p>Précisez d'abord si l'article mis en vente est un ticket ou non en cochant la mention ci-contre. Ce comportement ne pourra plus être modifié une fois l'article créé.</p>
            </div>
            <div class="col-12 col-md-6" {% if product.id is not null %}style="display: none"{% endif %}>
                {{ form_widget(form.isTicket) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-12">
                {{ form_row(form.description) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.supply) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.maxAmountPerPurchase) }}
            </div>
            <div class="col-12">
                <div{% if product.id is not null and product.productsSold > 0 %} style="display:none;"{% endif %}>
                    {{ form_widget(form.freePrice) }}
                </div>
                <div class="free-price-min" style="display:none;" {% if product.id is not null and product.productsSold > 0 %} disabled="disabled"{% endif %}>
                    {{ form_row(form.minimumPrice) }}
                </div>
                <div class="price" {% if product.id is not null and product.productsSold > 0 %} disabled="disabled"{% endif %}>
                    {{ form_row(form.price) }}
                </div>
            </div>

            {% if product.id is not null%}
                {% if not product.isTicket %}
                    <div class="col-12 col-md-7 product-photo">
                        {{ form_row(form.imageFile) }}
                    </div>
                {% else %}
                    {% do form.photo.setRendered %}
                {% endif %}
                {% if product.image is not null %}
                    <div class="col-12 col-md-3">
                        <img class="img-fluid" src="{{ asset(product.webPath(product.image)) }}" />
                    </div>
                {% endif %}
            {% else %}
                <div class="col-12 product-photo">
                    {{ form_row(form.imageFile) }}
                </div>
            {% endif %}
        </div>
    </section>

    {% if product.id is not null and not product.isTicket %}
    <section class="container my-4 py-2 my-md-5 project-section">
        <h2>Options</h2><hr>
        {% if product.productsSold > 0 %}
            <div class="text-muted font-italic pb-2">Vous ne pouvez plus ajouter d'options pour cet article car il a déjà été vendu au moins une fois.</div>
        {% else %}
            <div class="text-muted font-italic pb-2">Vous pouvez ajouter des options pour les articles que vous mettez en vente.</div>
        {% endif %}
        <div id="options-container">
            {{ render(controller('XBundle:XArtist:getProductOptions', {'id': product.id})) }}
        </div>
        <div id="optionsModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Gestion des options</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="loader">{{ hidden_loader(false, false) }}</div>
                    <div id="optionsModalBody" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div{% if product.productsSold > 0 %} style="display: none"{% endif %}>
            <button class="btn btn-outline-primary create-option" data-url="{{ path('x_product_create_option', {'id': product.id}) }}"><i class="fas fa-plus-circle"></i> Ajouter une option</button>
        </div>
    </section>
    {% endif %}

    {{ form_end(form) }}

    <!-- Modal success add product -->
    {% set notice_bag = app.request.session.flashbag.get('x_notice_success_product') %}
    {% if notice_bag is not empty %}
        {% for message in notice_bag %}
            <!-- Modal HTML -->
            <div class="modal-notice modal fade in">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="icon-box">
                                <i class="far fa-check-circle"></i>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body text-center">
                            <h4>Merci !</h4>
                            <p>{{ message }}</p>
                            <button class="btn btn-success" data-dismiss="modal">
                                <span>Ajouter des options</span>
                            </button>
                            <form action="{{ path('x_artist_project_products', {'id': project.id}) }}">
                                <input class="btn btn-success" type="submit" value="Passer cet étape"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}


{% block additional_javascripts %}

    {{ parent() }}

    <script type="text/javascript">

        function loader() {
            $('#loader').show();
            $('#optionsModalBody').html('');
        }
        function hideLoader() {
            $('#loader').hide();
        }

        $('#loader').hide();

        $('.create-option').click(function(e) {
            e.preventDefault();
            loader();
            $('#optionsModal').modal();
            $.get($(this).data('url'), function(data) {
                hideLoader();
                $('#optionsModalBody').html(data);
            });
        });

        $('.edit-option').click(function(e) {
            e.preventDefault();
            loader();
            $('#optionsModal').modal();
            $.get($(this).data('url'), function(data) {
                hideLoader()
                $('#optionsModalBody').html(data);
            });
        });

        $('.delete-option').click(function(e) {
            e.preventDefault();
            loader();
            $('#optionsModal').modal();
            $.get($(this).data('url'), function(data) {
                hideLoader();
                $('#optionsModalBody').html(data);
            });
        });

        {% if product.id is null %}
            $('.is-ticket-checkbox').on('change', function() {
                $('.product-photo').toggle(!this.checked);
            });
            $('.is-ticket-checkbox').on('change'),
        {% endif %}

        $('.free-price-checkbox').on('change', function() {
            $('.free-price-min').toggle(this.checked);
            $('.price').toggle(!this.checked);
        });
        $('.free-price-checkbox').trigger('change');

    </script>
{% endblock %}