{% extends "AppBundle:Notifications:base.html.twig" %}



{% set title = 'Concert de ' ~  artist ~ ' - résultat des courses' %}
{%- set content -%}
    <p>Cher producteur,<br /> <br />
    L’artiste {{ artist }} que vous aviez décidé de soutenir n’a pas pu récolter assez de fonds pour permettre l’organisation de son <a href="{{ path('artist_contract', {'id': contract_id}) }}">{{ step }}</a>.<br /> <br />
    Il n’y aura donc pas de concert organisé et vous serez remboursé(e) de l’entièreté du prix des places achetées.<br /> <br />
    Envie de voir {{ artist }} en concert malgré tout ? Soutenez-le à nouveau lors d’un prochain évènement !<br /> <br />
    Envie de soutenir d’autres artistes ? Découvrez <a href="{{ path('catalog_crowdfundings') }}">nos événements en cours de récolte de tickets.</a><br /> <br />
    À bientôt,<br /> <br />
    L’équipe Un-Mute
    </p>
{%- endset -%}