{% macro project_row(project) %}

    <hr>
    <div class="row mt-4" {% if not project.validated %} disabled="disabled" {% endif %}>
        <div class="col-12">
            <h3><b>{{ project.title }}</b></h3>
            <h5>Artiste associé : <b>{{ project.artist.artistname }}</b></h5>
            <div class="mt-2">
                 <h4><b>{{ project.collectedAmount }} €</b>{% if project.hasThreshold %} sur {{ project.threshold }} € {% else %} récoltés{% endif %}</h4>
            </div>
            <div class="mt-2">
                Clotûre du financement : {% if not project.isPassed %}<b>{{ project.remainingTime }}</b>{% else %}<b>{{ project.dateEnd|date('d/m/Y \\à H:i') }}</b>{% endif %}
            </div>
        </div>

        <div class="col-12 col-md-2 mt-2">
            <b>{{ project.nbDonations }}</b> don(s)<br />
            <b>{{ project.nbSales }}</b> vente(s)<br />
            <b>{{ project.nbContributors }}</b> contributeur(s)
        </div>

        <div class="col-12 col-md-2 mt-2">
            <i class="fas fa-eye text-primary"></i> <a class="link-secondary" target="_blank" href="{{ path('x_project', {'id': project.id, 'slug' : project.slug}) }}">Détails du projet</a>
        </div>

        {% if not project.isPassed %}
            <div class="col-12 col-md-2">
                <i class="fas fa-edit text-primary"></i> <a class="link-secondary" href="{{ path('x_artist_project_update', {'id': project.id}) }}">Mettre à jour les informations</a>
            </div>
        {% endif %}

        <div class="col-12 col-md-2">
            <i class="fas fa-list text-primary"></i> <a class="link-secondary" href="{{ path('x_artist_project_contributions', {'id': project.id}) }}">Détails des dons et des ventes</a>
        </div>

        <div class="col-12 col-md-2">
            <i class="fas fa-clipboard text-primary"></i> <a class="link-secondary" href="{{ path('x_artist_project_products', {'id': project.id}) }}">Articles mis en vente</a>
        </div>

        <div class="col-12 col-md-2">
            <i class="fas fa-comment text-primary"></i> <a class="link-secondary" href="{{ path('x_artist_project_transactional_message', {'id': project.id}) }}">Envoyer un message transactionnel</a>
        </div>

        {% if project.hasThreshold %}
            <div class="col-12 mt-2">
                Progression : <b>{{ project.progressPercent }}%</b>
                <div class="progress">
                    <div class="progress-bar {% if project.isPassed and project.progressPercent >= 100 %}bg-success{% endif %}" role="progressbar" style="width: {{ project.progressPercent }}%" aria-valuenow="{{ project.progressPercent }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        {% endif %}

        {% if project.validated and project.collectedAmount == 0 %}
            <div class="col-12 mt-4">
                <div class="text-muted font-italic pb-2">
                    Tant que le montant récolté est de 0 €, vous avez la possibilité de supprimer le projet.
                </div>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ project.id }}">
                    Supprimer le projet
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Supprimer le projet "{{ project }}"</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Vous êtes sur le point de supprimer ce projet. Êtes-vous sûr de continuer ?
                            </div>
                            <div class="modal-footer">
                                <form action="{{ path('x_artist_project_delete', {'id': project.id}) }}">
                                    <input class="btn btn-danger" type="submit" value="Supprimer"/>
                                </form>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if project.isPassed and project.isPending and project.collectedAmount > 0 %}
            <div class="col-12 mt-4">

                <div class="text-muted font-italic pb-2">
                    La date de clotûre du financement du projet est arrivé à son terme {% if project.hasThreshold %} mais le montant visé n'a pas été atteint{% endif %}. Voulez-vous {% if project.hasThreshold %}tout de même{% endif %} confirmer le projet ?
                </div>

                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmModal{{ project.id }}">
                    Confirmer le projet
                </button>&nbsp;

                <!-- Modal -->
                <div class="modal fade" id="confirmModal{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalLabel">Confirmer le projet "{{ project }}"</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Vous êtes sur le point de confirmer ce projet et donc d'expédier tous les tickets si vous en avez mis en vente. Êtes-vous sûr de continuer ?
                            </div>
                            <div class="modal-footer">
                                <form action="{{ path('x_artist_project_confirm', {'id': project.id}) }}">
                                    <input class="btn btn-success" type="submit" value="Confirmer"/>
                                </form>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#refundModal{{ project.id }}">
                    Annuler le projet
                </button>

                <!-- Modal -->
                <div class="modal fade" id="refundModal{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="refundModalLabel">Annuler le projet "{{ project }}"</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Vous êtes sur le point d'annuler ce projet et donc de rembourser tous les éventuels contributeurs. Êtes-vous sûr de continuer ?
                            </div>
                            <div class="modal-footer">
                                <form action="{{ path('x_artist_project_refund', {'id': project.id}) }}">
                                    <input class="btn btn-danger" type="submit" value="Annuler"/>
                                </form>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endif %}

        {% if project.isPassed and not project.isPending %}
            <div class="col-12 mt-4 text-center">
                <h5>État du projet : {% if project.successful %}<b style="color: green;">Réussite</b> {% elseif project.failed %}<b style="color: red;">Échec</b>{% endif %}</h5>
            </div>
        {% endif %}
        
    </div>

{% endmacro %}