{% extends 'AppBundle:Mail/YB:baseEmailLayout.html.twig' %}
{% autoescape false %}
    {% spaceless %}
        {% block title %}{{ subject }}{% endblock %}

        {% block content %}

            {{ email_content('yb.order.recap.intro', {
                '%date%': cart.date|date('d/m/Y'),
                '%order_url%': email_link(url('yb_order', {'code': cart.barcodeText}))
            })|raw }}

            {% for contract in cart.contracts %}
                {% set threshold_announced = contract.contractArtist.ticketsSent %}
                {% if not threshold_announced and not contract.contractArtist.noThreshold %}
                    <br />{{ email_content('yb.order.recap.threshold', {'%threshold%':contract.contractArtist.threshold, '%date_end%':contract.contractArtist.dateEnd|date('d/m/Y')})|raw }}
                    {% set threshold_announced = true %}
                {% endif %}
                <h3>{{ contract.contractArtist.getTitle }}</h3>

                <ul>
                    {% for purchase in contract.purchases %}
                        <li>{{ purchase }} - {{ purchase.amount }} €</li>
                    {% endfor %}
                </ul>
            {% endfor %}


            {{ email_content('yb.order.recap.outro', {
            })|raw }}

        {% endblock %}
    {% endspaceless %}
{% endautoescape %}