{% trans_default_domain 'yb' %}
<!DOCTYPE html>
<html lang="en{# app.request.locale #}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="theme-color" content="#f08722">

    <title>{% block headtitle %}Ticked-it!{% endblock %}</title>
    {% block open_graph %}{% endblock %}
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        {% stylesheets filter='scssphp, cssrewrite' output="css/compiled/yb/layout.min.css"
            "yb/yb.scss"
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="apple-touch-icon" sizes="152x152" href="{{ yb_asset('images/favicon/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ yb_asset('images/favicon/favicon-flat-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ yb_asset('images/favicon/favicon-flat-16x16.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ yb_asset('images/favicon/favicon-flat.ico') }}">
	<link rel="manifest" href="{{ yb_asset('images/favicon/site.webmanifest') }}">
	<link rel="mask-icon" href="{{ yb_asset('images/favicon/safari-pinned-tab.svg') }}" color="#df790e">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="apple-mobile-web-app-title" content="Ticked-it!">
	<meta name="application-name" content="Ticked-it!">
	<meta name="msapplication-TileColor" content="#da532c">
</head>
<body>
{% if app.environment == 'prod' %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5LTWLR"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}

<noscript>
    <div class="noscript-warning">
        {{ "noscript.warning"|trans({}, 'messages') }}
    </div>
</noscript>
<!--[if lte IE 8]>
<div class="noscript-warning">
    {{ "ie.warning"|trans({}, 'messages') }}
</div>
<![endif]-->

{% block js_body %}
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="{{ asset('js/backup/jquery-3.2.0.min.js') }}"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
{# popper.js needed to use bootstrap modals #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="https://js.stripe.com/v3/"></script>
<script src="https://js.stripe.com/v2/"></script>

<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
{% endblock %}

{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top {% block navbar_additional_classes %}{% endblock %}" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger font-weight-bold" href="{{ path('yb_index') ~ "#home"}}">
                <img src="{{ yb_asset('images/logo.svg') }}" alt="Ticked-it!" class="img-fluid">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('yb_index') ~ "#home"}}">{{ 'menu.home'|trans }}</a>
                    </li>
                    {% block nav_details_links %}
                    {% endblock %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('yb_index') ~ "#contact"}}">{{ 'menu.contact'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block header_container %}
<header id="home" class="masthead text-white text-center" style="background-image:url('{{ absolute_url(asset('yb/images/illustration-guitars.jpg')) }}')">
    {% block header %}
    {% endblock %}
</header>
{% endblock %}

<main id="main" {% block main_attributes %}{% endblock %}>
    {% block error_modals %}
        {% set error_bag = app.request.session.flashbag.get('error') %}
        {% if error_bag is not empty %}
            {% for message in error_bag %}
                {{ yb_error(message)|raw }}
            {% endfor %}
        {% endif %}
        {% if (form is defined and form is not null and not form.vars.valid) %}
            {{ yb_error('<p>'~ 'error.form_error'|trans ~ '</p>' ~ form_errors(form))|raw }}
        {% endif %}
        {% if (errors is defined and errors|length > 0) %}
            {% for error in errors %}
                {{ yb_error(error)|raw }}
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block notices %}
        {% set notice_bag = app.request.session.flashbag.get('yb_notice') %}
        {% if notice_bag is not empty %}
            {% for message in notice_bag %}
            <!-- Modal HTML -->
            <div class="modal-notice modal fade in">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="icon-box">
                                <i class="far fa-check-circle"></i>
                            </div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body text-center">
                            <h4>{{ 'notice.title'|trans }}</h4>
                            <p>{{ message }}</p>
                            <button class="btn btn-success" data-dismiss="modal">
                                <span>{{ 'notice.back'|trans }}</span><i class="far fa-arrow-alt-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    </div>
    {% block body %}{% endblock %}
</main>

    <footer class="footer bg-light">
        {% block footer %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a class="js-scroll-trigger" href="{{ path('yb_index') ~ "#about"}}">{{ 'footer.about'|trans }}</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a class="js-scroll-trigger" href="{{ path('yb_index') ~ "#contact"}}">{{ 'footer.contact'|trans }}</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="{{ path('yb_terms') }}">{{ 'footer.terms'|trans }}</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="{{ path('yb_login') }}">{% if not app.user %}Connexion{% else %}Tableau de bord{% endif %}</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">{{ 'footer.copyright'|trans({'%year%': 'now'|date('Y')})|nl2br }}</p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>

{% block javascripts %}

    {% javascripts filter='jsqueeze' output='js/compiled/yb/main.js'
    'yb/js/yb.js'
    'yb/js/dropzone.js'
    'yb/js/jplist.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        Dropzone.prototype.defaultOptions.dictDefaultMessage = "{{ 'dictDefaultMessage'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictFallbackMessage = "{{ 'dictFallbackMessage'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictFallbackText = "{{ 'dictFallbackText'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictFileTooBig = "{{ 'dictFileTooBig'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictInvalidFileType = "{{ 'dictInvalidFileType'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictResponseError = "{{ 'dictResponseError'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictCancelUpload = "{{ 'dictCancelUpload'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "{{ 'dictCancelUploadConfirmation'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictRemoveFile = "{{ 'dictRemoveFile'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "{{ 'dictMaxFilesExceeded'|trans({}, 'dropzone') }}";
    </script>

    {% if app.environment == 'prod' %}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P5LTWLR');</script>
        <!-- End Google Tag Manager -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109142671-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-109142671-2');
        </script>
    {% endif %}
    {% block additional_javascripts %}{% endblock %}
{% endblock %}

</body>
</html>