{% extends "XBundle::base.html.twig" %}

{% block body %}

    <div class="container py-5" id="sales-recap">
        <h2>Récapitulatif des ventes</h2>
        {% for product in project.products %}
            {% if product.deletedAt is null %}
            <div class="my-3 py-2">
                <h3>{{ product.name }}</h3>
                <p><b>{{ product.productsSold }}</b> vendu(s) au total {% if product.productsSold > 0 and product.options is not empty %}dont:{% endif %}</p>

                {% if product.productsSold > 0 %}
                    {% if product.options is not empty %}
                            {% for option in product.options %}
                                <ul>
                                    {% for choice in option.choices %}
                                        <li><b>{{ project.getNbPerChoice(product, choice) }}</b> {{ choice }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                    {% endif %}
                {% endif %}

                {#% if product.productsSold > 0 %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4 col-md-4"><b>Nom de l'acheteur</b></div>
                                <div class="col-4 col-md-4"><b>Email</b></div>
                                <div class="col-4 col-md-4"><b>Quantité commandée</b></div>
                            </div>
                        </li>
                        {% for sale in sales %}
                            {% for purchase in sale.purchases %}
                                {% if purchase.product == product %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-4 col-md-4">{{ sale.displayName }}</div>
                                            <div class="col-4 col-md-4">{{ sale.email }}</div>
                                            <div class="col-4 col-md-4">{{ purchase.quantity }}</div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %#}

            </div>
            {% endif %}
        {% endfor %}
    <div>

{% endblock %}