<section class="container-fluid bg-black text-center text-gray p-4">
    <h2 class="text-primary">Financement participatif</h2>

    <div class="font-weight-light my-3 mx-auto text-center w-md-75">
        Chaque affiche est soumise à une campagne de financement participatif propre et ne sera validée que si la campagne se solde en succès. C'est le moment de soutenir les artistes qui constituent nos 5 affiches&nbsp;!
        <button type="button" class="info-btn" data-toggle="tooltip" data-placement="top" title="Participez directement à la validation de la scène sur laquelle se produira votre artiste préféré ! Chaque ticket acheté avant le 10 mars 2020 à minuit fait augmenter la jauge des points à collecter pour valider une scène."><i class="fas fa-info-circle" style="color: orange"></i></button>
    </div>

    <div class="row text-white">
        <div class="col-6 text-uppercase my-auto">
            <span class="font-weight-light">Date de validation</span><br />
            <b class="text-white">{{ contractArtist.dateEnd|date('d/m/Y') }}</b>{% set orders = contractArtist.nbOrdersPaid %}
        </div>
        <div class="col-6 text-uppercase">
            <div class="d-inline-block align-middle">
                <span class="font-weight-light">{{ ('event.'~contractArtist.state)|trans({'%soldout_percentage%':contractArtist.percentSoldOutRelativeToObjective})|raw }}</span>
                {% if orders > 0 %}<br />
                    <b class="text-white">{{ orders }} contributeur{% if orders > 1 %}s{% endif %}</b>
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <div class="row mt-5">
            {% set l = contractArtist.lineUps|length %}
            {% for lineUp in contractArtist.lineUps %}
                {% set percent = lineUp.getPercentageObjective %}
                {% set color = lineUp.isSuccessful ? 'green' : lineUp.isFailed ? 'red' : 'orange' %}
                {% set text = lineUp.isSoldOut ? 'SOLD OUT' : lineUp.isSuccessful ? 'Confirmé. Prochain objectif&nbsp;: le sold out &nbsp;!' : lineUp.isFailed ? 'Annulé' : 'Campagne en cours' %}
                {% set sizexs = big is defined and big ? 6 : 4 %}
                {% set sizemd = big is defined and big ? 4 : 2 %}
                {% set offset = l == 5 ? loop.index == 1 ? ' offset-md-1' : loop.index == 4 ? ' offset-2 offset-md-0' : '' %}
                <div class="col-{{ sizexs }} col-md-{{ sizemd~offset }} px-2 pb-3 text-center">
                    <h3 class="text-primary small-title">{{ lineUp.festivalDay.date|date('l')|trans }} - {{ lineUp.getName }}</h3>
                    <div class="small font-weight-light">{% for performance in lineUp.performances %}{{ performance.artist }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
                    <div class="d-inline-block">
                        <div class="c100 p{{ min(percent, 100) }} {{ color }}">
                            <span class="{{ color}}">{{ percent }} %</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="text-center status-txt text-{{ color }}">{{ text|raw }}</div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>