{% macro menu_logo(home_header = false) %}
    <li id="menuLogo"{% if not home_header %} class="d-none d-lg-inline-block"{% endif %}>
        <a href="{{ path('homepage') }}#home" class="scroll"><img id="nav-logo" {% if not home_header %}class="opacity-1"{% endif %} src="{{ asset('images/wave.png') }}" /></a>
    </li>
{% endmacro %}

{% import _self as nav_macros %}

<nav id="mainNav" class="navbar navbar-inverse navbar-expand-lg {% if not home_header %}stickytop{% else %} sticky-animation{% endif %}">

    {% if not home_header %}
        {% include ':patterns:perma-links.html.twig' %}
    {% endif %}

    <button id="navbar-toggler-button" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-inverse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto text-center pt-3 pt-md-0">

            <li class="d-inline-block d-lg-none nav-item">
                <a class="nav-link scroll" href="{{ path('homepage') }}#home">{{ 'header.nav.home'|trans|raw }}</a>
            </li>

            <li class="nav-item left-nav-item{% if not home_header %} stickytop{% endif %}">
                <a class="nav-link scroll" href="{{ path('homepage') }}#about">{{ 'header.nav.about'|trans|raw }}</a>
            </li>

            <li class="nav-item left-nav-item{% if not home_header %} stickytop{% endif %}">
                <a class="nav-link" href="{{ path('catalog_artists') }}">{{ 'header.nav.artists'|trans|raw }}</a>
            </li>

            <li class="nav-item left-nav-item{% if not home_header %} stickytop{% endif %}">
                <a class="nav-link" href="{{ path('catalog_sales') }}">Ventes</a>
            </li>

            {{ nav_macros.menu_logo(home_header) }}


            <li class="nav-item right-nav-item{% if not home_header %} stickytop{% endif %}">
                <a class="nav-link scroll" href="{{ path('homepage') }}#festivals">{{ 'header.nav.events'|trans|raw }}</a>
            </li>

            <li class="nav-item right-nav-item{% if not home_header %} stickytop{% endif %}">
                <a class="nav-link" href="{{ path('volunteering') }}">Bénévoles</a>
            </li>

            <li class="nav-item right-nav-item{% if not home_header %} stickytop{% endif %}">
                <a class="nav-link" href="{{ path('tickets_marketplace') }}">{{ 'header.nav.tickets'|trans|raw }}</a>
            </li>



            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item inscription-link d-inline-block d-lg-none">
                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">{{ 'header.nav.sign_up'|trans|raw }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>