{% if home_header is defined and home_header %}
    <header id="home-header" class="header container-fluid">
        <div class="container">
            <div class="d-flex align-items-start flex-column">
                <a class="mt-4" href="#"><img id="logo" style="height:200px;" class="img-fluid" src="{{ asset('images/logo/logo.png') }}" /></a>
                <h1 class="text-white text-bold">Un-Mute</h1>
                <div id="headline">Envie de devenir producteur de ta scène locale ?</div>
                <p class="soustitre">Les artistes émergents belges se réunissent pour lancer une campagne de vente de tickets en ligne, débouchant sur l'organisation d'un festival de découverte musicale en cas de succès.</p>
                <a class="btn btn-reserver" href="{{ path('tickets_marketplace') }}">RÉSERVER UN TICKET</a>
            </div>
        </div>
    </header>
{% else %}
    <header class="header container-fluid" style="background-image:{% if img_absolute is defined and img_absolute %}{{ img }}{% else %} {{ asset('images/headers/'~img) }}{% endif %}">
        <div class="page-header">
            <h1 class="text-center">{{ title|raw }}</h1>
        </div>
    </header>
{% endif %}

