{% macro menu_logo(home_header = false) %}
    <li id="menuLogo"{% if not home_header %} class="d-none d-lg-inline-block"{% endif %}>
        <a href="{{ path('homepage') }}#home" class="scroll"><img id="nav-logo" {% if not home_header %}class="opacity-1"{% endif %} src="{{ asset('images/wave.png') }}" /></a>
    </li>
{% endmacro %}

{% import _self as nav_macros %}
<nav class="navbar navbar-expand-md navbar-fixed-top sticky">
    <a class="navbar-brand" href="#"><img class="toplogo" src="images/logo.png"></a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link scroll" href="{{ path('homepage') }}#festivals">{{ 'header.nav.events'|trans|raw }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('catalog_artists') }}">{{ 'header.nav.artists'|trans|raw }}</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('tickets_marketplace') }}">{{ 'header.nav.tickets'|trans|raw }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link scroll" href="{{ path('homepage') }}#about">{{ 'header.nav.about'|trans|raw }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('volunteering') }}">{{ 'footer.volunteering'|trans }}</a>
            </li>
        </ul>
        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="{{ path('fos_user_security_login') }}">{{ 'header.nav.sign_in'|trans|raw }}</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary get-started-btn mt-1 mb-1 rounded-pill text-white" aria-expanded="false">{{ 'header.nav.sign_up'|trans|raw }}</a>
                </li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item dropdown d-inline-block">
                    <a id="dropdownMenuButton" class="btn uppercase dropdown-toggle px-1 px-md-2 px-lg-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ 'header.nav.my_account'|trans|raw }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('user_my_artists') }}">{{ 'header.nav.my_artists'|trans|raw }}</a>
                        <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'header.nav.my_profile'|trans|raw }}</a>
                        <a class="dropdown-item" href="{{ path('user_paid_carts') }}">{{ 'header.nav.my_orders'|trans|raw }}</a>
                        {% if is_granted('ROLE_TICKETING') %}<a class="dropdown-item" href="{{ path('ticketing_index') }}">Ticketing</a>{% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('sonata_admin_dashboard') }}">Administration</a>
                        {% endif %}
                        <a class="dropdown-item logout-link" href="{{ path('fos_user_security_logout') }}">{{ 'header.nav.log_out'|trans|raw }}</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>