{# ALL javascripts #}
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>

<script>window.jQuery || document.write('<script type="text/javascript" src="{{ asset('js/backup/jquery-3.2.0.min.js') }}"><\/script>')</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script src="https://js.stripe.com/v3/"></script>
<script src="https://js.stripe.com/v2/"></script>

<div id="fb-root"></div>
<script type="text/javascript">
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            testAPI();
        } else {

        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ facebook_api_id }}',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
        });

        FB.Event.subscribe('xfbml.render', function(response) {
            var spinner = document.getElementsByClassName("fb-spinner");

            for(var i = 0; i < spinner.length; i++) {
                spinner[i].removeAttribute("style");
                spinner[i].removeChild(spinner[i].childNodes[0]);
            }
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        {% set expanded_locale = expanded_locales[app.request.locale] is defined ? expanded_locales[app.request.locale] : app.request.locale %}
        js.src = "https://connect.facebook.net/{{ expanded_locale }}/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function testAPI() {
        FB.api('/me', function(response) {
            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
        });
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>

{# popper.js needed to use bootstrap modals #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{% javascripts filter='jsqueeze' output='js/compiled/main.js'
    'js/lib/*'
    'js/general/*'
    'js/carousel/*'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if app.request.locale != 'en' %}
    <script type="text/javascript">
        Dropzone.prototype.defaultOptions.dictDefaultMessage = "{{ 'dictDefaultMessage'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictFallbackMessage = "{{ 'dictFallbackMessage'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictFallbackText = "{{ 'dictFallbackText'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictFileTooBig = "{{ 'dictFileTooBig'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictInvalidFileType = "{{ 'dictInvalidFileType'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictResponseError = "{{ 'dictResponseError'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictCancelUpload = "{{ 'dictCancelUpload'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "{{ 'dictCancelUploadConfirmation'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictRemoveFile = "{{ 'dictRemoveFile'|trans({}, 'dropzone') }}";
        Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "{{ 'dictMaxFilesExceeded'|trans({}, 'dropzone') }}";
    </script>
{% endif %}

{#

    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>



#}