{% if not home_header and not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div id="inscription-perma-link">
        {% block inscription_perma_link %}
            <a class="btn btn-primary text-uppercase inscription-link header-button text-white d-none d-{% if home_header %}md{% else %}lg{% endif %}-inline-block" href="{{ path('fos_user_registration_register') }}">{{ 'header.nav.sign_up'|trans|raw }}</a>
        {% endblock %}
    </div>
{% endif %}

<div id="not-auth-perma-links">
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{ block('language_switcher_link') }}
        {% if home_header %}{{ block('inscription_perma_link') }}{% endif %}
        {% block header_login_link %}<a class="btn btn-primary text-uppercase header-button" data-toggle="modal" data-target="#loginModal" href="{{ path('fos_user_security_login') }}">{{ 'header.nav.sign_in'|trans|raw }}</a>{% endblock %}

    {% else %}

        {% set unseen_nb = unseen_notifs_nb() %}
        {% set last_notifs = last_notifs(5) %}

        {% block language_switcher_link %}
            <div class="dropdown d-inline-block">
                {% if enabled_locales|length > 1 %}
                    <a id="language_switcher" href="#" role="button" data-toggle="dropdown" data-target="#" class="btn btn-primary px-1 px-md-2 px-lg-3 mr-1">{{ app.request.locale }}</a>

                    <div class="dropdown-menu locales-dropdown min-width-auto" role="menu" aria-labelledby="language_switcher">
                        {% for locale in enabled_locales %}
                            <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': locale})) }}">{{ locale|upper }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {#
        <div class="dropdown d-inline-block">
            <a id="notifs-toggler" href="{{ path('user_notifications') }}" {% if last_notifs is not empty %}role="button" data-toggle="dropdown" data-target="#"{% endif %} class="btn btn-primary py-0 px-1 px-md-2 px-lg-3 mr-1">
                <img src="{{ asset('images/note.svg') }}" class="responsive-img py-2"/>
                {% if unseen_nb > 0 %}
                    <span class="color-secondary p-1 rounded-circle">{{ unseen_nb }}</span>
                {% endif %}
            </a>
        #}
            {% if last_notifs is not empty %}
                <div class="modal fade" id="notifs-modal" tabindex="-1" role="dialog" aria-labelledby="notifs-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal-body">
                                {{ hidden_loader(false) }}
                                <div id="notifs-modal-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {#
                <ul class="dropdown-menu notifications-menu-preview" role="menu" aria-labelledby="notifs-toggler">
                    <div class="notifications-menu-preview-heading"><h4 class="menu-title"><a href="{{ path('user_notifications') }}">{{ 'header.nav.all_notifications'|trans|raw }}</a></h4>
                    </div>
                    <div class="notifications-menu-preview-wrapper">
                        {% for notif in last_notifs %}
                            {{ preview_menu_notification(notif)|raw }}
                        {% endfor %}
                    </div>
                </ul>
            {% endif %}
        </div>
        #}
        <div class="dropdown d-inline-block">
            <a id="dropdownMenuButton" class="btn uppercase dropdown-toggle px-1 px-md-2 px-lg-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ 'header.nav.my_account'|trans|raw }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('user_my_artists') }}">{{ 'header.nav.my_artists'|trans|raw }}</a>
                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'header.nav.my_profile'|trans|raw }}</a>
                <a class="dropdown-item" href="{{ path('user_paid_carts') }}">{{ 'header.nav.my_orders'|trans|raw }}</a>
                <a class="dropdown-item" href="{{ path('user_notifications') }}">{{ 'header.nav.my_notifications'|trans|raw }}{% if unseen_nb > 0 %} ({{ unseen_nb }}){% endif %}</a>
                {#<a class="dropdown-item" href="{{ path('user_rewards') }}">{{ 'header.nav.my_rewards'|trans|raw }}</a>#}
                {% if is_granted('ROLE_TICKETING') %}<a class="dropdown-item" href="{{ path('ticketing_index') }}">Ticketing</a>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="{{ path('pot_index') }}">Pots communs</a>
                    <a class="dropdown-item" href="{{ path('sonata_admin_dashboard') }}">Administration</a>
                {% endif %}
                <a class="dropdown-item logout-link" href="{{ path('fos_user_security_logout') }}">{{ 'header.nav.log_out'|trans|raw }}</a>
            </div>
        </div>
    {% endif %}
</div>