<section class="container-fluid p-5">
    <div class="row">
        <div class="col-12 col-md-4 offset-md-2 text-left my-auto">
            <h2 class="no-upper">{{ contractArtist.getTitle }}</h2>
            <div class="font-weight-bold"><i class="text-primary fas fa-calendar-alt"></i> {{ contractArtist.displayDates }}</div>
            <div class="font-weight-bold"><i class="text-primary fas fa-map-marker-alt"></i> {{ contractArtist.displayHalls }}</div>

            {% if not contractArtist.crowdable %}
                <p class="w-50 font-weight-bold">Il n'est pas possible à l'heure actuelle d'acheter de tickets pour ce festival.</p>
            {% endif %}
        </div>
        {% if more_info is defined and more_info %}
            <div class="col-12 col-md-4 text-right my-auto">
                <a class="btn btn-primary text-uppercase" href="{{ path('artist_contract', {'id': contractArtist.id, 'slug': contractArtist.getSlug}) }}">Plus d'infos</a>
            </div>
        {% endif %}
    </div>

    {% if contractArtist.crowdable %}
        {% for purchase in contract.children.purchases %}
            <div class="row my-2 counterpart-form">
                {% set counterpart = purchase.vars.value.counterpart %}
                <div class="col-12 col-md-4 offset-md-2 py-3 y-middle bg-black text-center round-left">
                    <label><h3 class="text-primary text-uppercase m-0">{{ counterpart.name }}</h3></label>
                </div>

                <div class="col-12 col-md-5 py-2 y-middle bg-white row round-right h-100">
                    <div class="col-6 col-md-8 py-2 my-auto">
                        <div>{{ form_errors(purchase) }}</div>
                        <p class="font-weight-light">{{ counterpart.getDescription|raw }}</p>
                        <div class="font-weight-bold counterpart-price">{{ counterpart.price }} €</div>

                        {% if counterpart.potentialArtists is not empty %}
                            <div class="select2-artists">
                                Si vous venez en particulier pour un artiste, mentionnez-le :
                                {{ form_widget(purchase.artist) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-4 col-md-2 py-2 my-auto">
                        {% if counterpart.disabled %}
                            {% do purchase.setRendered(true) %}
                            <p><i>Pas disponible pour l'instant</i></p>
                        {% elseif counterpart.getNbAvailable() == 0 %}
                            {% do purchase.setRendered(true) %}
                            <p><i>SOLD OUT</i></p>
                        {% else %}
                            <div class="count-input space-bottom" data-price="{{ counterpart.price }}">
                                <a class="incr-btn" data-action="decrease" href="#">–</a>
                                {{ form_widget(purchase.quantity) }}
                                <a class="incr-btn" data-action="increase"
                                   data-max="{{ contractArtist.nbAvailable(counterpart) }}"
                                   href="#">&plus;</a>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% do contract.setRendered %}
</section>