{% extends "base.html.twig" %}

{% set owned = app.user is not null and (app.user.owns(artist) or is_granted('ROLE_ADMIN'))  %}

{% set og_src = absolute_url(asset('images/artist-card-default.jpg')) %}

{% set photos = artist.allPhotos %}

{% if photos is not empty %}
    {% set og_src = absolute_url(asset(artist.webPath(photos|first))) %}
{% endif %}

{% block open_graph %}
    <meta property="og:title" content="{{ artist.artistname }} | Un-Mute"  />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    <meta property="og:image" content="{{ og_src }}" />
{% endblock %}

{% block description %}{{ 'meta_description_artist'|trans({'%artist%': artist.artistname}) }} {{ artist.shortDescription }}{% endblock %}

{% if artist.visible %}
    {% block headtitle %}{{ artist.artistname }}{% endblock %}
{% endif %}

{% block body %}
    <div class="container container-large-margins w-md-75 mx-auto">
        {% if artist.deleted %}
            <h2>{{ 'artist_profile.see.deleted.title'|trans|raw }}</h2>
            <p>{{ 'artist_profile.see.deleted.content'|trans|raw }}</p>
        {% elseif not artist.visible and not owned %}
            <h2>{{ artist }}</h2>
            <p>{{ 'artist_profile.see.invisible.content'|trans|raw }}</p>
        {% else %}
            <div id="artist-profile-photos-carousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                <div class="carousel-inner h-100">
                    {% if artist.profilepic is not null %}
                        <div class="carousel-item active h-100 w-100">
                            <div class="mx-auto d-block h-100 w-100 artist-profile-carousel-photo" style="background-image:url('{{ asset(artist.webPath(artist.profilepic)) }}')">
                            </div>
                        </div>
                    {% endif %}
                    {% for photo in artist.photos %}
                        <div class="carousel-item {% if artist.profilepic is null and loop.first %}active{% endif %} h-100 w-100">
                            <div class="mx-auto d-block h-100 w-100 artist-profile-carousel-photo" style="background-image:url('{{ asset(artist.webPath(photo)) }}')">
                            </div>
                        </div>
                    {% else %}
                        {% if artist.profilepic is null %}
                            <div class="carousel-item active h-100 w-100">
                                <div class="mx-auto d-block h-100 w-100 artist-profile-carousel-photo">
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if artist.allPhotos|length > 1 %}
                    <a class="carousel-control-prev" href="#artist-profile-photos-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon rounded-circle btn-primary bg-primary p-2 p-md-3" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                    </a>
                    <a class="carousel-control-next" href="#artist-profile-photos-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon rounded-circle btn-primary bg-primary p-2 p-md-3" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                {% endif %}
                <div class="artist-profile-title"><h3>{{ artist.artistname }}</h3></div>
            </div>

            <ul class="nav nav-tabs nav-justified artist-profile-tabs mt-5">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="home" aria-expanded="true" href="#artist-profile-home">{{ 'artist_profile.see.tabs.profile'|trans|raw }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="bio" aria-expanded="false"  href="#artist-profile-bio">{{ 'artist_profile.see.tabs.biography'|trans|raw }}</a>
                </li>
                {% if owned %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{ path('artist_profile_edit', {'id':artist.id}) }}">{{ 'artist_profile.see.tabs.edition'|trans|raw }}</a>
                    </li>
                {% endif %}
            </ul>

            <div class="content-box">
                {% if not artist.validated and not artist.visible and owned %}
                    <p class="p-info">{{ 'artist_profile.see.owned.to_be_examined'|trans|raw }}</p>
                {% elseif artist.validated and not artist.visible and owned %}
                    <p class="p-info">{{ 'artist_profile.see.owned.invisible'|trans|raw }}</p>
                {% elseif not artist.validated and artist.visible and owned %}
                    <p class="p-info">{{ 'artist_profile.see.owned.not_validated'|trans|raw }}</p>
                {% endif %}

                <div class="tab-content artist-profile-content content-box-content border-left pl-md-5">
                    <div class="tab-pane active" id="artist-profile-home" role="tabpanel">

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="um-label um-semi-bold pr-2">
                                    {{ 'artist_profile.see.short_description'|trans|raw }}
                                </div>
                                <p>
                                    {{ artist.getShortDescription()|nl2br }}
                                </p>
                            </div>
                            <div class="col-12 col-md-6">
                                {% if artist.genres is not empty %}
                                    <div class="um-label um-semi-bold">{{ 'artist_profile.see.genres'|trans|raw }}</div>
                                    <ul class="um-list">
                                        {% for genre in artist.genres %}
                                            <li>{{ genre }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>

                        {% if current_sales is not empty %}
                            <h4 class="mt-4">{{ 'artist_profile.see.current_sales'|trans|raw }}</h4>
                            <div class="list-group">
                             {% for sale in current_sales %}
                                <a href="{{ path('artist_contract_sales', {'id': sale.id, 'slug': sale.artist.slug}) }}" class="list-group-item list-group-item-action">
                                    {{ sale.getTitle }}
                                </a>
                            {% endfor %}
                            </div>
                        {% endif %}

                        <h4 class="mt-4">{{ 'artist_profile.see.videos.title'|trans|raw }}</h4>
                        {% for video in artist.videos %}
                            {{ video.embedVideo|raw }}
                        {% else %}
                            <p>{{ 'artist_profile.see.videos.empty'|trans|raw }}</p>
                        {% endfor %}

                        {% if artist.hasOneLink %}
                            <h4 class="mt-4">{{ 'artist_profile.see.links.title'|trans|raw }}</h4>
                            <ul class="um-list">
                                {% if artist.website is not null and artist.website is not empty %}
                                    <li>
                                        <a href="{{ artist.website }}">{{ 'artist_profile.see.links.website'|trans|raw }}</a>
                                    </li>
                                {% endif %}
                                {% if artist.spotify is not null and artist.spotify is not empty %}
                                    <li>
                                        <a href="{{ artist.spotify }}">{{ 'artist_profile.see.links.spotify'|trans|raw }}</a>
                                    </li>
                                {% endif %}
                                {% if artist.twitter is not null and artist.twitter is not empty %}
                                    <li>
                                        <a href="{{ artist.twitter }}">{{ 'artist_profile.see.links.twitter'|trans|raw }}</a>
                                    </li>
                                {% endif %}
                                {% if artist.facebook is not null and artist.facebook is not empty %}
                                    <li>
                                        <a href="{{ artist.facebook }}">{{ 'artist_profile.see.links.facebook'|trans|raw }}</a>
                                    </li>
                                {% endif %}
                                {% if artist.instagram is not null and artist.bandcamp is not empty %}
                                    <li>
                                        <a href="{{ artist.instagram }}">{{ 'artist_profile.see.links.instagram'|trans|raw }}</a>
                                    </li>
                                {% endif %}
                                {% if artist.soundcloud is not null and artist.soundcloud is not empty %}
                                    <li>
                                        <a href="{{ artist.soundcloud }}">{{ 'artist_profile.see.links.soundcloud'|trans|raw }}</a>
                                    </li>
                                {% endif %}
                                {% if artist.bandcamp is not null and artist.bandcamp is not empty %}
                                    <li>
                                        <a href="{{ artist.bandcamp }}">{{ 'artist_profile.see.links.bandcamp'|trans|raw }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}

                        {% set currentContract = artist.currentContract %}
                        {% if currentContract %}
                            <h3 class="mt-4">{{ 'artist_profile.see.current_event'|trans|raw }}</h3>
                            {% for currentContract in artist.currentContracts %}
                                {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': currentContract, 'md': 12, 'xs': 12} %}
                            {% endfor %}
                        {% endif %}

                        {% for contract in artist.passedSuccessfulContracts() %}
                            {% if loop.first %}
                                <h3 class="mt-4">{{ 'artist_profile.see.passed_events'|trans|raw }}</h3>
                            {% endif %}
                            {% include 'AppBundle:Public/Card:contract_artist.html.twig' %}
                        {% endfor %}
                    </div>

                    <div id="artist-profile-bio" class="tab-pane" role="tabpanel">
                        <h3>{{ 'artist_profile.see.tabs.biography'|trans|raw }}</h3>
                        <p>{{ artist.getBiography()|nl2br }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block additional_javascripts %}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "MusicGroup",
      "url": "{{ url('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}",
      {% if artist.allPhotos is not empty %}
      "image": [
        {% for photo in artist.allPhotos %}
            "{{ absolute_url(asset(artist.webPath(photo))) }}"{% if not loop.last %},{% endif %}
        {% endfor %}
       ],
       {% endif %}
      "name": "{{ artist.artistname }}",
      {% if artist.website is not empty %}
        "sameAs": "{{ artist.website }}",
      {% endif %}
      "description": "{{ artist.shortDescription }}"
    }
    </script>


{% endblock %}