{% extends "base.html.twig" %}

{% set owns = app.user is not null ? app.user.owns(contract.artist) : false %}
{% set state = contract.state %}

{% block body %}
    <div class="container">
        <h2>Soutenir le groupe {{ contract.artist.artistname }} dans sa tentative de réaliser le palier "{{ contract.step.getName }}"</h2>

        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="col-12">
                    <h3 class="rounded-title">Infos</h3>
                </div>
                {# TODO if artist is not defined and app.user.owns(contract.artist) %}
                    <a href="{{ path('artist', {'id': contract.artist.id, 'contract_id': contract.id}) }}">Modifier</a>
                {% endif #}

                <ul>
                    <li> État du crowdfunding :
                        {% if state == 'state.success' %}
                            <div class="success">Passé (réussi)</div>
                        {% elseif state == 'state.refunded' %}
                            <div>Annulé</div>
                        {% elseif state == 'state.failed' %}
                            <div>Objectif non atteint</div>
                        {% elseif state == 'state.success-ongoing' %}
                            <div class="success">Objectif atteint ; places encore en vente !</div>
                        {% elseif state == 'state.success-soldout' %}
                            <div class="success">Objectif atteint (SOLD OUT)</div>
                        {% elseif state == 'state.ongoing' %}
                            <div>En cours</div>
                        {% elseif state == 'state.pending' %}
                            <div>En attente de confirmation d'un administrateur</div>
                        {% endif %}
                    </li>
                    <li>
                        Date de début du contrat : {{ contract.date|date('d/m/Y') }}
                    </li>
                    <li>
                        Date de fin du contrat : {{ contract.dateEnd|date('d/m/Y') }}
                    </li>
                    <li>
                        Palier : {{ contract.step.getName }}
                    </li>
                    <li>
                        Province : {{ contract.province }}
                    </li>
                    <li>
                        Tickets vendus : {{ contract.ticketsSold }} / {{ contract.step.minTickets }}
                    </li>

                    {% if contract.motivations is not empty %}
                        <li>
                            {% if owns %}
                                <textarea id="motivations-textarea">{#
                                    #}{{ contract.motivations }}{#
                                #}</textarea>
                                <button type="submit" id="update-motivations-button" contract="{{ contract.id }}">Mettre à jour</button>
                            {% else %}
                                <div>{{ contract.motivations }}</div>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>

        {% if state not in contract.uncrowdableStates %}
            <div class="col-xs-12 col-md-4">
                <div class="col-12">
                    <h3 class="rounded-title">Acheter un ticket</h3>
                </div>

                {% for article in contract.step.counterParts %}
                    <div class="mb-3">
                    {% set tickets_left = contract.nbAvailable(article) %}
                    {{ article.getName }} (prix : {{ article.price }} €, nombre restant : {{ tickets_left }}) :
                    <select>
                        {% set max_to_purchase = min(tickets_left, 10) %}
                        {% for i in 0..max_to_purchase %}
                            <option value="{{ i }}" {% if loop.first %}selected="selected"{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    {% if app.user %}
                        <button class="btn btn-primary add-to-cart-button" type="submit" counterpart="{{ article.id }}" contract="{{ contract.id }}" id="submit_counterpart_{{ article.id }}">Ajouter au panier</button>
                    {% endif %}
                    </div>
                {% endfor %}
                {% if not app.user %}
                    <p class="text-italic">Vous devez être connecté pour acheter des tickets ! <a href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a></p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal" href="{{ path('fos_user_security_login') }}">Connexion</button>
                {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block js_vars %}
    {% set path_artist = owns ? path('artist_ajax_update_motivations', {'id': contract.artist.id}) : "" %}
    <div id="modal-dialog">
    </div>
    <div
        id="js-vars"
        data-vars="{{ {'ajax_path_add_to_cart': path('user_ajax_add_to_cart'),
                       'ajax_path_update_motivations': path_artist}|json_encode|e('html_attr') }}">
    </div>
{% endblock %}
