{% extends "base.html.twig" %}

{% block body %}

    <div class="container container-large-margins w-75 mx-auto">
            <div id="artist-profile-photos-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner h-100">
                    {% if artist.profilepic is not null %}
                        <div class="carousel-item active h-100 w-100">
                            <div class="mx-auto d-block h-100 w-100 artist-profile-carousel-photo" style="background-image:url('{{ asset(artist.webPath(artist.profilepic)) }}')">
                            </div>
                        </div>
                    {% endif %}
                    {% for photo in artist.photos %}
                        <div class="carousel-item {% if artist.profilepic is null and loop.first %}active{% endif %} h-100 w-100">
                            <div class="mx-auto d-block h-100 w-100 artist-profile-carousel-photo" style="background-image:url('{{ asset(artist.webPath(photo)) }}')">
                            </div>
                        </div>
                    {% else %}
                        <div class="carousel-item active h-100 w-100">
                            <div class="mx-auto d-block h-100 w-100 artist-profile-carousel-photo">
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="artist-profile-title"><h3>{{ artist.artistname }}</h3></div>
            </div>

        <ul class="nav nav-tabs nav-justified artist-profile-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="home" aria-expanded="true" href="#artist-profile-home">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="bio" aria-expanded="false"  href="#artist-profile-bio">Biographie</a>
            </li>
            {#
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="details" aria-expanded="false"  href="#artist-profile-details">Détails</a>
            </li>
            #}
            {% if app.user is not null and app.user.owns(artist) %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="{{ path('artist_profile_edit', {'id':artist.id}) }}">Édition</a>
                </li>
            {% endif %}
        </ul>

        <div class="content-box">
            <div class="tab-content artist-profile-content content-box-content border-left">
                <div class="tab-pane active" id="artist-profile-home" role="tabpanel">
                    <p>{{ artist.getShortDescription()|nl2br }}</p>
                    {% set currentContract = artist.currentContract %}


                    <h3 class="mt-4">Vidéos</h3>
                    {% for video in artist.videos %}
                        {{ video.embedVideo|raw }}
                    {% else %}
                        <p>Cet artiste n'a pas encore de vidéo à montrer.</p>
                    {% endfor %}

                    {% if artist.website is not null
                        or artist.spotify is not null
                        or artist.twitter is not null
                        or artist.facebook is not null
                    %}
                        <h4 class="mt-4">Liens</h4>
                        <ul class="um-list">
                            {% if artist.website is not null %}
                                <li>
                                    <a href="{{ artist.website }}">Voir le site Web</a>
                                </li>
                            {% endif %}
                            {% if artist.spotify is not null %}
                                <li>
                                    <a href="{{ artist.spotify }}">Suivre sur Spotify</a>
                                </li>
                            {% endif %}
                            {% if artist.twitter is not null %}
                                <li>
                                    <a href="{{ artist.twitter }}">Suivre sur Twitter</a>
                                </li>
                            {% endif %}
                            {% if artist.facebook is not null %}
                                <li>
                                    <a href="{{ artist.facebook }}">Suivre sur Facebook</a>
                                </li>
                            {% endif %}
                        </ul>

                    {% endif %}


                    {% if currentContract is not null %}
                        <h3 class="mt-4">Crowdfunding en cours</h3>
                        {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': currentContract} %}
                    {% endif %}

                    {% for contract in artist.otherSuccessfulContracts(currentContract) %}
                        {% if loop.first %}
                            <h3 class="mt-4">Crowdfundings accomplis par le passé</h3>
                        {% endif %}
                        {% include 'AppBundle:Public/Card:contract_artist.html.twig' %}
                    {% endfor %}
                </div>

                <div id="artist-profile-bio" class="tab-pane" role="tabpanel">
                    <h3>Biographie</h3>
                    <p>{{ artist.getBiography()|nl2br }}</p>
                </div>

                {#
                <div id="artist-profile-details" class="tab-pane" role="tabpanel">
                    <h3>Détails</h3>
                </div>
                #}
            </div>
        </div>
    </div>

{% endblock %}