{% extends "base.html.twig" %}

{% set owned = app.user is not null and (app.user.owns(artist) or is_granted('ROLE_ADMIN'))  %}

{% set og_src = absolute_url(asset('images/artist-card-default.jpg')) %}

{% set photos = artist.allPhotos %}

{% if photos is not empty %}
    {% set og_src = absolute_url(asset(artist.webPath(photos|first))) %}
{% endif %}

{% block open_graph %}
    <meta property="og:title" content="{{ artist.artistname }} | Un-Mute"  />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    <meta property="og:image" content="{{ og_src }}" />
{% endblock %}

{% block description %}{{ 'meta_description_artist'|trans({'%artist%': artist.artistname}) }} {{ artist.shortDescription }}{% endblock %}

{% if artist.visible %}
    {% block headtitle %}{{ artist.artistname }} | Un-Mute{% endblock %}
{% endif %}

{% block nav %}
    {% include ':patterns:header_nav.html.twig' with {'page': 'artists'} %}
{% endblock %}

{% block header %}
    {% if artist.deleted %}
        {% include ':patterns:header.html.twig' with {'title': 'artist_profile.see.deleted.title'|trans, 'img':''} %}
    {% elseif not artist.visible and not owned %}
        {% include ':patterns:header.html.twig' with {'title': artist.__toString, 'img': ''} %}
    {% else %}
        {% if artist.profilepic is not null %}
            {% include ':patterns:header.html.twig' with {'title': artist.__toString, 'img_absolute': true, 'img': asset(artist.webPath(artist.profilepic)), 'huge': true, 'sepia': false} %}
        {% else %}
            {% include ':patterns:header.html.twig' with {'title': artist.__toString} %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if artist.deleted %}
            <p class="w-75 font-weight-bold">{{ 'artist_profile.see.deleted.content'|trans|raw }}</p>
        {% elseif not artist.visible and not owned %}
            <p class="w-75 font-weight-bold">{{ 'artist_profile.see.invisible.content'|trans|raw }}</p>
        {% else %}
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8 p-5 text-center">
                    <div class="container">
                        {% if not artist.validated and not artist.visible and owned %}
                            <p class="alert alert-warning" role="alert">{{ 'artist_profile.see.owned.to_be_examined'|trans|raw }}</p>
                        {% elseif artist.validated and not artist.visible and owned %}
                            <p class="alert alert-warning" role="alert">{{ 'artist_profile.see.owned.invisible'|trans|raw }}</p>
                        {% elseif not artist.validated and artist.visible and owned %}
                            <p class="alert alert-warning" role="alert">{{ 'artist_profile.see.owned.not_validated'|trans|raw }}</p>
                        {% endif %}
                        <h2 class="text-uppercase">Profil</h2>

                        {% if owned %}
                            <div class="text-right pb-4">
                                <a class="btn btn-outline-primary" href="{{ path('artist_profile_edit', {'id':artist.id}) }}">{{ 'artist_profile.see.tabs.edition'|trans|raw }}</a>
                            </div>
                        {% endif %}

                        {% if artist.genres is not empty %}
                            <div class="mx-auto font-weight-bold my-3">
                                {% for genre in artist.genres %}
                                    <div class="text-uppercase text-left d-inline-block"><i class="text-primary fas fa-circle"></i> {{ genre }}</div><br />
                                {% endfor %}
                            </div>
                            <p class="font-weight-bold my-3">
                                {{ artist.getShortDescription()|nl2br }}
                            </p>
                        {% endif %}
                        {% if artist.hasOneLink %}
                            <div id="artist-links" class="my-2">
                                {% if artist.website is not null and artist.website is not empty %}
                                    <a class="p-3" href="{{ artist.website }}"><i class="fas fa-external-link-alt text-dark"></i></a>
                                {% endif %}
                                {% if artist.spotify is not null and artist.spotify is not empty %}
                                    <a class="p-3" href="{{ artist.spotify }}"><i class="fab fa-spotify text-dark"></i></a>
                                {% endif %}
                                {% if artist.twitter is not null and artist.twitter is not empty %}
                                    <a class="p-3" href="{{ artist.twitter }}"><i class="fab fa-twitter text-dark"></i></a>
                                {% endif %}
                                {% if artist.facebook is not null and artist.facebook is not empty %}
                                    <a class="p-3" href="{{ artist.facebook }}"><i class="fab fa-facebook-square text-dark"></i></a>
                                {% endif %}
                                {% if artist.instagram is not null and artist.bandcamp is not empty %}
                                    <a class="p-3" href="{{ artist.instagram }}"><i class="fab fa-instagram text-dark"></i></a>
                                {% endif %}
                                {% if artist.soundcloud is not null and artist.soundcloud is not empty %}
                                    <a class="p-3" href="{{ artist.soundcloud }}"><i class="fab fa-soundcloud text-dark"></i></a>
                                {% endif %}
                                {% if artist.bandcamp is not null and artist.bandcamp is not empty %}
                                    <a class="p-3" href="{{ artist.bandcamp }}"><i class="fab fa-bandcamp text-dark"></i></a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 p-0 mr-0">
                    <div id="artist-profile-photos-carousel" class="carousel slide h-100" data-ride="carousel" data-interval="8000">
                        <div class="carousel-inner h-100">
                            {% for photo in artist.photos %}
                                <div class="carousel-item {% if loop.first %}active{% endif %} h-100 w-100">
                                    <div class="mx-auto d-block h-100 w-100 artist-profile-carousel-photo" style="background-image:url('{{ asset(artist.webPath(photo)) }}')">
                                    </div>
                                </div>
                            {% else %}
                                {% if artist.profilepic is not null %}
                                    <div class="carousel-item active h-100 w-100">
                                        <div class="mx-auto d-block h-100 w-100 artist-profile-carousel-photo" style="background-image:url('{{ asset(artist.webPath(artist.profilepic)) }}')">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-12 bg-dark text-white text-center pt-4 pb-5">
                    <div class="container">
                        <h2 class="text-uppercase text-primary">Biographie</h2>
                        <p class="font-weight-light">{{ artist.getBiography()|nl2br }}</p>
                    </div>
                </div>

                <div class="col-12 bg-white text-center pt-4 pb-5">
                    <div class="container">
                        <h2 class="mt-4 text-uppercase">{{ 'artist_profile.see.videos.title'|trans|raw }}</h2>
                        <div class="row">
                            {% for video in artist.videos %}
                                <div class="col-6">{{ video.embedVideo|raw }}</div>
                            {% else %}
                                <p class="font-weight-bold w-75">{{ 'artist_profile.see.videos.empty'|trans|raw }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block additional_javascripts %}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "MusicGroup",
      "url": "{{ url('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}",
      {% if artist.allPhotos is not empty %}
      "image": [
        {% for photo in artist.allPhotos %}
            "{{ absolute_url(asset(artist.webPath(photo))) }}"{% if not loop.last %},{% endif %}
        {% endfor %}
       ],
       {% endif %}
      "name": "{{ artist.artistname }}",
      {% if artist.website is not empty %}
        "sameAs": "{{ artist.website }}",
      {% endif %}
      "description": "{{ artist.getShortDescription }}"
    }
    </script>

    <script type="text/javascript">
        var $carousel = $('#artist-profile-photos-carousel');

        function carouselResize() {
            var height = $carousel.outerHeight();
            var width = $carousel.outerWidth();

            var max = Math.min(Math.min($(window).height(), $(window).width()), Math.max(height, width));
            $carousel.css('min-height', max);
            $carousel.css('min-width', max);

        }

        $( window ).resize(function() {
           carouselResize();
        });
        carouselResize();
    </script>



{% endblock %}