{% extends "base.html.twig" %}

{% set artist = contract.artist %}

{% block open_graph %}
    <meta property="og:title" content="{{ contract.dateConcert|date('j') }} {{ contract.dateConcert|date('M')|trans }} - {{ contract.step.getName }} de {{ contract.artist.artistname }} | Un-Mute"  />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" />
    {% set og_src = absolute_url(asset('images/contract-card-default.jpg')) %}

    {% set photos = artist.allPhotos %}

    {% if photos is not empty %}
        {% set og_src = absolute_url(asset(artist.webPath(photos|first))) %}
    {% endif %}
    <meta property="og:image" content="{{ og_src }}" />
{% endblock %}

{% set owns = app.user is not null ? app.user.owns(contract.artist) : false %}
{% set state = contract.state %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">{{ contract.artist.artistname }} souhaite organiser un {{ contract.step.getName }}</h2>
            </div>
        </div>

        {% set tickets_left = contract.step.maxTickets - contract.ticketsSold %}
        <div class="row mt-4">
            <div class="col-12 col-lg-8">
                <div class="content-box">
                    <div class="content-box-content text-center">

                        <h3 class="mb-3">Infos</h3>

                        <div class="col-12 row equal content-box-row">
                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    Date du concert
                                </div>
                                <div class="contract-info-content">
                                    {{ contract.dateConcert|date('d/m/Y') }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    Début des ventes
                                </div>
                                <div class="contract-info-content">
                                    {{ contract.date|date('d/m/Y') }}
                                </div>
                            </div>

                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    Date de validation
                                </div>
                                <div class="contract-info-content">
                                    {{ contract.dateEnd|date('d/m/Y') }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 row equal content-box-row no-border-top">
                            <div class="col-12 content-box-col">
                                <span class="contract-info-title pr-2">
                                    Catégorie de salle
                                </span>

                                <span class="contract-info-content pr-1">
                                {{ contract.step }}<a href="#" data-toggle="popover" title="{{ contract.step }}" class="ml-2 px-1 py-0 btn btn-outline-primary"
                                                      data-content="{{ contract.step.getDescription }}<br />
                                                      <a href='{{ path('faq') }}'>Plus d'infos</a>">?</a>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 content-box-col">
                            <span class="contract-info-title pr-2">
                                état des ventes
                            </span>
                            <span class="contract-info-content pr-1">
                                {% if state is constant('STATE_SUCCESS_PASSED', contract) %}
                                    Objectif atteint
                                {% elseif state is constant('STATE_REFUNDED', contract) %}
                                    Annulé
                                {% elseif state is constant('STATE_FAILED', contract) %}
                                    Objectif non atteint
                                {% elseif state is constant('STATE_SUCCESS_ONGOING', contract) %}
                                    Objectif atteint
                                {% elseif state is constant('STATE_SUCCESS_CLOSED', contract) %}
                                    Objectif atteint
                                {% elseif state is constant('STATE_SUCCESS_SOLDOUT', contract) %}
                                    Objectif atteint (SOLD OUT)
                                {% elseif state is constant('STATE_ONGOING', contract) %}
                                    En cours
                                {% elseif state is constant('STATE_PENDING', contract) %}
                                    En cours d'examination par l'équipe Un-Mute
                                {% endif %}
                            </span>
                            {% if state not in contract.uncrowdableStates %}
                                <span class="text-positive um-semi-bold"><img class="green-check" src="{{ asset('images/green-check.png') }}" />Places encore en vente</span>
                            {% endif %}
                        </div>

                        <div class="col-12 row equal content-box-row">
                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    Région du concert
                                </div>
                                <div class="contract-info-content">
                                    {{ contract.province ?: 'Sans préférence' }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    Tickets achetés par des producteurs
                                </div>
                                <div class="contract-info-content">
                                    {{ contract.ticketsSold }}
                                </div>
                            </div>

                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    Tickets encore en vente
                                </div>
                                <div class="contract-info-content">
                                    {{ tickets_left }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 content-box-col">
                            <span class="contract-info-title pr-2">
                               Nombre de tickets nécessaires pour concrétisation du concert
                            </span>
                            <span class="contract-info-content">
                                {{ contract.step.minTickets }}
                            </span>
                            <div class="progress">
                                <div class="progress-bar" style="padding-left: 1rem;width:{{ contract.ticketsSold * 100 // contract.step.minTickets }}%"></div>
                            </div>
                            <div class="text-right text-primary small font-weight-bold">
                                {{ contract.ticketsSold * 100 // contract.step.minTickets }}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-box-content">

                        <h3 class="mb-3 text-center">À propos de l'artiste</h3>

                        <div class="um-semi-bold">{{ artist.artistname }}</div>
                        <p>{{ artist.getShortDescription }}</p>

                        {% if artist.genres is not empty %}
                            <div class="mb-3">
                                <span class="contract-info-title small">Styles musicaux</span>
                                {% for genre in artist.genres %} {{ genre }} {% endfor %}
                            </div>
                        {% endif %}

                        <p class="text-center"><a href="{{ path('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}" class="btn btn-outline-primary">Voir le profil</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="col-12 content-box">
                    <div class="content-box-header">
                        {% if state not in contract.uncrowdableStates %}
                            <p class="text-uppercase small font-weight-bold">{{ tickets_left }} tickets disponibles</p>
                        {% endif %}

                        <h3>Achetez vos tickets</h3>
                    </div>
                    <div class="content-box-content">
                    {% if state not in contract.uncrowdableStates %}
                        {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}

                        {% if app.user %}
                            {{ form_start(form) }}
                        {% endif %}

                        {% for purchase in form.purchases %}
                            {% set counterpart = purchase.vars.value.counterpart %}
                            <div class="counterpart-form">

                                <div class="form-group form-row">
                                    {{ form_errors(purchase) }}

                                    <div class="col-8">
                                        <label class="counterpart-label">{{ counterpart.name }}</label>
                                    </div>
                                    <div class="col-4 counterpart-price">
                                        {{ counterpart.price }} €
                                    </div>
                                    <div class="col-8">{{ counterpart.getDescription|raw }}</div>
                                    <div class="col-4">
                                        <div class="container px-0">
                                            <div class="count-input space-bottom">
                                                <a class="incr-btn" data-action="decrease" href="#">–</a>
                                                {{ form_widget(purchase) }}
                                                <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if app.user %}
                            {{ form_widget(form.submit) }}
                            {{ form_end(form) }}
                        {% else %}
                            <p class="text-italic">Vous devez être connecté pour acheter des tickets ! <a href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a></p>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal" href="{{ path('fos_user_security_login') }}">Connexion</button>
                        {% endif %}

                    {% else %}
                        <p class="text-uppercase small font-weight-bold">Il n'est plus possible d'acheter des tickets pour cet événement.</p>
                    {% endif %}
                    </div>
                </div>

                {% if state not in contract.uncrowdableStates and potential_halls is not empty %}
                    <div class="col-12 content-box mt-4">
                        <div class="content-box-header">
                            <h3>Salles potentielles</h3>
                        </div>
                        <div class="content-box-content">
                            <div id="carouselHallsIndicators" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for hall in potential_halls %}
                                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                                            {% include 'AppBundle:Public/Card:hall.html.twig' with {'xs': 12, 'md':12, 'no_rotation_hall':true} %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if potential_halls|length > 1 %}
                                    <a class="carousel-control-prev" href="#carouselHallsIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon rounded-circle btn-primary bg-primary p-1" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselHallsIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon rounded-circle btn-primary bg-primary p-1" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js_vars %}
    <div id="modal-dialog">
    </div>
{% endblock %}
