{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h2>Soutenir le groupe {{ contract.artist.artistname }} dans sa tentative de réaliser le palier "{{ contract.step.getName }}"</h2>

        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="col-12">
                    <h3 class="rounded-title">Infos</h3>
                </div>
                {# TODO if artist is not defined and app.user.owns(contract.artist) %}
                    <a href="{{ path('artist', {'id': contract.artist.id, 'contract_id': contract.id}) }}">Modifier</a>
                {% endif #}

                <ul>
                    <li>
                        Date de début du contrat : {{ contract.date|date('d/m/Y') }}
                    </li>
                    <li>
                        Date de fin du contrat : {{ contract.dateEnd|date('d/m/Y') }}
                    </li>
                    <li>
                        Palier : {{ contract.step.getName }}
                    </li>
                    <li>
                        Tickets vendus : {{ contract.ticketsSold }} / {{ contract.step.minTickets }}
                    </li>

                    {% if contract.motivations is not empty %}
                        <li>
                            {% if app.user.owns(contract.artist) %}
                                <textarea id="motivations-textarea">{#
                                    #}{{ contract.motivations }}{#
                                #}</textarea>
                                <button type="submit" id="update-motivations-button" contract="{{ contract.id }}">Mettre à jour</button>
                            {% else %}
                                <div>{{ contract.motivations }}</div>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-xs-12 col-md-4">
                {% if app.user %}
                    {% set tickets_left = contract.step.maxTickets - contract.ticketsSold %}
                    <div class="col-12">
                        <h3 class="rounded-title">Acheter des tickets</h3>
                        <p>Il reste encore {{ tickets_left }} tickets, faites votre choix !</p>
                    </div>
                    {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}

                    {% for purchase in form.purchases %}
                        {% set counterpart = purchase.vars.value.counterpart %}
                        <div class="counterpart-form">

                            <div class="form-group">
                                {{ form_errors(purchase) }}
                                <label class="counterpart-label">{{ counterpart.name }} ({{ counterpart.price }}</label>
                                <p>{{ counterpart.description|raw }}</p>
                                {{ form_widget(purchase) }}
                            </div>
                        </div>
                    {% endfor %}
                    {{ form_widget(form.submit) }}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js_vars %}
    {% set path_artist = app.user and app.user.owns(contract.artist) ? path('artist_ajax_update_motivations', {'id': contract.artist.id}) : "" %}
    <div id="modal-dialog">
    </div>
    <div
            id="js-vars"
            data-vars="{{ {'ajax_path_update_motivations': path_artist}|json_encode|e('html_attr') }}">
    </div>
{% endblock %}
