{% extends "base.html.twig" %}

{% set owns = app.user is not null ? app.user.owns(contract.artist) : false %}
{% set state = contract.state %}

{% block body %}

    <div class="container">
        <h2>Soutenir le groupe {{ contract.artist.artistname }} dans sa tentative de réaliser le palier "{{ contract.step.getName }}"</h2>

        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="col-12">
                    <h3 class="rounded-title">Infos</h3>
                </div>
                {# TODO if artist is not defined and app.user.owns(contract.artist) %}
                    <a href="{{ path('artist', {'id': contract.artist.id, 'contract_id': contract.id}) }}">Modifier</a>
                {% endif #}

                <ul>
                    <li> État du crowdfunding :
                        {% if state == 'state.success' %}
                            <div class="success">Passé (réussi)</div>
                        {% elseif state == 'state.refunded' %}
                            <div>Annulé</div>
                        {% elseif state == 'state.failed' %}
                            <div>Objectif non atteint</div>
                        {% elseif state == 'state.success-ongoing' %}
                            <div class="success">Objectif atteint ; places encore en vente !</div>
                        {% elseif state == 'state.success-soldout' %}
                            <div class="success">Objectif atteint (SOLD OUT)</div>
                        {% elseif state == 'state.ongoing' %}
                            <div>En cours</div>
                        {% elseif state == 'state.pending' %}
                            <div>En attente de confirmation d'un administrateur</div>
                        {% endif %}
                    </li>
                    <li>
                        Date de début du contrat : {{ contract.date|date('d/m/Y') }}
                    </li>
                    <li>
                        Date de fin du contrat : {{ contract.dateEnd|date('d/m/Y') }}
                    </li>
                    <li>
                        Palier : {{ contract.step.getName }}
                    </li>
                    <li>
                        Province : {{ contract.province ?: 'Sans préférence' }}
                    </li>
                    <li>
                        Tickets vendus : {{ contract.ticketsSold }} / {{ contract.step.minTickets }}
                    </li>

                    {% if contract.motivations is not empty %}
                        <li>
                            {% if owns and state not in contract.uncrowdableStates %}
                                <textarea id="motivations-textarea">{#
                                    #}{{ contract.motivations }}{#
                                #}</textarea>
                                <button type="submit" id="update-motivations-button" contract="{{ contract.id }}">Mettre à jour</button>
                            {% else %}
                                <div>{{ contract.motivations }}</div>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-12 col-md-4">
                {% if state not in contract.uncrowdableStates %}
                    {% set tickets_left = contract.step.maxTickets - contract.ticketsSold %}
                    <div class="col-12">
                        <h3 class="rounded-title">Acheter des tickets</h3>
                        <p>Il reste encore {{ tickets_left }} tickets, faites votre choix !</p>
                    </div>
                    {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}
                    {{ form_start(form) }}

                    {% for purchase in form.purchases %}
                        {% set counterpart = purchase.vars.value.counterpart %}
                        <div class="counterpart-form">

                            <div class="form-group">
                                {{ form_errors(purchase) }}
                                <label class="counterpart-label">{{ counterpart.name }} ({{ counterpart.price }} €)</label>
                                <p>{{ counterpart.description|raw }}</p>
                                {{ form_widget(purchase) }}
                            </div>
                        </div>
                    {% endfor %}
                    {% if app.user %}
                        {{ form_widget(form.submit) }}
                    {% endif %}
                    {{ form_end(form) }}
                {% endif %}
                {% if not app.user %}
                    <p class="text-italic">Vous devez être connecté pour acheter des tickets ! <a href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a></p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal" href="{{ path('fos_user_security_login') }}">Connexion</button>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js_vars %}
    {% set path_artist = owns ? path('artist_ajax_update_motivations', {'id': contract.artist.id}) : "" %}
    <div id="modal-dialog">
    </div>
    <div
            id="js-vars"
            data-vars="{{ {'ajax_path_update_motivations': path_artist}|json_encode|e('html_attr') }}">
    </div>
{% endblock %}
