{% extends "base.html.twig" %}

{% set owns = app.user is not null ? app.user.owns(contract.artist) : false %}
{% set state = contract.state %}

{% block body %}

    <div class="container">
        <h2 class="text-center">{{ contract.artist.artistname }} souhaite organiser un concert dans une salle "{{ contract.step.getName }}"</h2>

        <p class="my-4 p-info">
            ... et sur cette page, vous avez la possibilité de l'aider en achetant des tickets pour ce concert. Une fois le nombre de tickets requis atteint, <strong>nous confirmerons l'organisation du concert</strong>.
            Il ne vous restera plus qu'à en profiter. <a href="{{ path('about') }}">En savoir plus sur notre fonctionnement</a>
        </p>

        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="col-12">
                    <h3 class="rounded-title">Infos</h3>
                </div>
                {# TODO if artist is not defined and app.user.owns(contract.artist) %}
                    <a href="{{ path('artist', {'id': contract.artist.id, 'contract_id': contract.id}) }}">Modifier</a>
                {% endif #}

                <ul class="um-list">
                    <li>
                        Date du concert : {{ contract.preferences.date|date('d/m/Y') }}
                    </li>
                    <li> État du crowdfunding :
                        {% if state == 'state.success' %}
                            <span class="success">Passé (réussi)</span>
                        {% elseif state == 'state.refunded' %}
                            <span>Annulé</span>
                        {% elseif state == 'state.failed' %}
                            <span>Objectif non atteint</span>
                        {% elseif state == 'state.success-ongoing' %}
                            <span class="success">Objectif atteint ; places encore en vente !</span>
                        {% elseif state == 'state.success-soldout' %}
                            <span class="success">Objectif atteint (SOLD OUT)</span>
                        {% elseif state == 'state.ongoing' %}
                            <span>En cours</span>
                        {% elseif state == 'state.pending' %}
                            <span>En attente de confirmation d'un administrateur</span>
                        {% endif %}
                    </li>
                    <li>
                        Date de début du crowdfunding : {{ contract.date|date('d/m/Y') }}
                    </li>
                    <li>
                        Date de fin du crowdfunding : {{ contract.dateEnd|date('d/m/Y') }}
                    </li>
                    <li>
                        Type de concert souhaité : {{ contract.step.getName }}
                    </li>
                    <li>
                        Région du concert : {{ contract.province ?: 'Sans préférence' }}
                    </li>
                    <li>
                        Tickets achetés par des producteurs : {{ contract.ticketsSold }}
                    </li>
                    <li>
                        Nombre de tickets nécessaires pour concrétisation du concert : {{ contract.step.minTickets }}
                        <div class="progress">
                            <div class="progress-bar" style="padding-left: 1rem;width:{{ contract.ticketsSold * 100 / contract.step.minTickets }}%">{{ contract.ticketsSold * 100 / contract.step.minTickets }}%</div>
                        </div>
                    </li>
                    <li>
                        {% set tickets_left = contract.step.maxTickets - contract.ticketsSold %}
                        Nombre de tickets encore en vente : {{ tickets_left }}
                    </li>

                    {% if contract.motivations is not empty or owns %}
                        <li> Motivations de l'artiste :
                            {% if not owns or state in contract.uncrowdableStates %}
                                {% block contract_artist_motivations %}{% if contract.motivations is not empty %}<div class="contract-motivations">{{ contract.motivations|nl2br }}</div>{% endif  %}{% endblock %}
                            {% else %}
                                <ul class="nav nav-tabs" id="contract-motivations-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tab-see-motivations" id="tab-see-motivations-trigger" aria-selected="true">Voir</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tab-edit-motivations" id="tab-edit-motivations-trigger" aria-selected="true">Modifier</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="contract-motivations-tab-content">
                                    <div class="tab-pane fade show active" id="tab-see-motivations" role="tabpanel" aria-labelledby="tab-see-motivations-trigger">
                                        {{ block('contract_artist_motivations') }}
                                    </div>
                                    <div class="tab-pane fade" id="tab-edit-motivations" role="tabpanel" aria-labelledby="tab-edit-motivations-trigger">
                                        <div class="form-group">
                                            <textarea class="form-control" id="motivations-textarea">{#
                                                #}{{ contract.motivations }}{#
                                            #}</textarea>
                                            <br />
                                            <a class="btn btn-secondary" target="_blank" href="{{ path('user_ajax_update_motivations', {'id': contract.id}) }}" id="update-motivations-button">Mettre à jour</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-12 col-md-4">
                {% if state not in contract.uncrowdableStates %}
                    <div class="col-12">
                        <h3 class="rounded-title">Acheter des tickets</h3>
                        <p>Il reste encore {{ tickets_left }} tickets, faites votre choix !</p>
                    </div>
                    {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}

                    {% if app.user %}
                        {{ form_start(form) }}
                    {% endif %}

                    {% for purchase in form.purchases %}
                        {% set counterpart = purchase.vars.value.counterpart %}
                        <div class="counterpart-form">

                            <div class="form-group">
                                {{ form_errors(purchase) }}
                                <label class="counterpart-label">{{ counterpart.name }} ({{ counterpart.price }} €)</label>
                                <p>{{ counterpart.description|raw }}</p>
                                {{ form_widget(purchase) }}
                            </div>
                        </div>
                    {% endfor %}
                    {% if app.user %}
                        {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    {% endif %}
                {% endif %}
                {% if not app.user %}
                    <p class="text-italic">Vous devez être connecté pour acheter des tickets ! <a href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a></p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal" href="{{ path('fos_user_security_login') }}">Connexion</button>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js_vars %}
    <div id="modal-dialog">
    </div>
{% endblock %}
