{% extends "base.html.twig" %}

{% set artist = contract.artist %}

{% block open_graph %}
    <meta property="og:title" content="{{ contract.dateConcert|date('j') }} {{ contract.dateConcert|date('M')|trans }} - {{ 'event.og_title'|trans({'%artist%':contract.artist.artistname})|raw }}"  />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" />
    {% set og_src = absolute_url(asset('images/contract-card-default.jpg')) %}

    {% set photos = artist.allPhotos %}

    {% if photos is not empty %}
        {% set og_src = absolute_url(asset(artist.webPath(photos|first))) %}
    {% endif %}
    <meta property="og:image" content="{{ og_src }}" />
{% endblock %}

{% set owns = app.user is not null ? app.user.owns(contract.artist) : false %}
{% set state = contract.state %}

{% set hall_confirmed = (contract.hallConcert is not null) %}
{% set hall_potential = (state not in contract.uncrowdableStates and potential_halls is not empty) %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h2 class="text-center">{{ 'event.title'|trans({'%artist%':contract.artist.artistname})|raw }}</h2>
            </div>
        </div>

        {% if state not in contract.uncrowdableStates and contract.isLastSellingDate %}
            <p class="p-info"><img width="70" class="um-icon float-left float-md-none d-none d-sm-inline-block" src="{{ asset('images/icons/artist.png') }}" />{{ 'event.lastday.tickets'|trans|raw }}</p>
        {% elseif state not in contract.successfulStates and contract.isDeadlineDate %}
            <p class="p-info"><img width="70" class="um-icon float-left d-none d-sm-inline-block" src="{{ asset('images/icons/artist.png') }}" />{{ 'event.lastday.deadline'|trans({'%artist%': artist.artistname})|raw }}</p>
        {% elseif contract.isInTestPeriod %}
            <p class="p-info mt-3">{{ 'event.prevalidation'|trans|raw }}</p>
        {% endif %}

        {% for promo in contract.currentPromotions if not contract.inTestPeriod %}
            <p class="p-promo mt-3">{{ 'event.promo'|trans({'%end_date%': promo.endDate|date('d/m/Y'), '%nb_organic_needed%': promo.nbOrganicNeeded, '%nb_promotional%': promo.nbPromotional})|raw }}</p>
        {% endfor %}
        {% set max_tickets = contract.maxTickets %}
        {% set tickets_left = contract.totalNbAvailable %}
        <div class="row mt-4">
            <div class="col-12 col-lg-8">
                <div class="content-box">
                    <div class="content-box-content text-center">

                        <h3 class="mb-3">{{ 'event.infos.title'|trans|raw }}</h3>

                        <div class="col-12 row equal content-box-row">
                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    {{ 'event.infos.date'|trans|raw }}
                                </div>
                                <div class="contract-info-content">
                                    {{ contract.dateConcert|date('d/m/Y') }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title{% if contract.isInTestPeriod %} invisible{% endif %}">
                                    {{ 'event.infos.opening_date'|trans|raw }}
                                </div>
                                <div class="contract-info-content{% if contract.isInTestPeriod %} invisible{% endif %}">
                                    {{ contract.startDate|date('d/m/Y') }}
                                </div>
                            </div>

                            <div class="col-12 col-md-4 content-box-col">

                                {% if state in contract.successfulStates %}
                                    {% if state is constant('STATE_SUCCESS_SOLDOUT', contract) %}
                                        <div class="um-label">
                                            SOLD <br /> OUT
                                        </div>
                                    {% else %}
                                        <div class="contract-info-title">
                                            {{ 'event.infos.closing_date'|trans|raw }}
                                        </div>
                                        <div class="contract-info-content">
                                            {{ contract.lastSellingDate|date('d/m/Y') }}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="contract-info-title{% if contract.isInTestPeriod %} invisible{% endif %}">
                                        {{ 'event.infos.validation_date'|trans|raw }}
                                    </div>
                                    <div class="contract-info-content{% if contract.isInTestPeriod %} invisible{% endif %}">
                                        {{ contract.dateEnd|date('d/m/Y') }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12 row equal content-box-row no-border-top">
                            <div class="col-12 content-box-col">
                                <span class="contract-info-title pr-2">
                                    {{ 'event.infos.step'|trans|raw }}
                                </span>

                                <span class="contract-info-content pr-1">
                                {{ contract.step }}<a href="#" data-toggle="popover" title="{{ contract.step }}" class="ml-2 px-1 py-0 btn btn-outline-primary"
                                                      data-content="{{ contract.step.getDescription }}<br />
                                                      <a href='{{ path('faq') }}'>{{ 'more_info'|trans|raw }}">?</a>
                                </span>
                            </div>
                        </div>

                        <div class="col-12 content-box-col">
                            <span class="contract-info-title pr-2">
                                {{ 'event.infos.state'|trans|raw }}
                            </span>
                            <span class="contract-info-content pr-1">
                                {{ ('event.'~state)|trans|raw }}
                            </span>
                            {% if state not in contract.uncrowdableStates %}
                                <span class="text-positive um-semi-bold"><img class="green-check" src="{{ asset('images/green-check.png') }}" />{{ 'event.stillselling'|trans|raw }}</span>
                            {% endif %}
                        </div>

                        <div class="col-12 row equal content-box-row">
                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    {{ 'event.infos.province'|trans|raw }}
                                </div>
                                <div class="contract-info-content">
                                    {% if hall_confirmed %}
                                        {{ contract.hallConcert.province }}
                                    {% else %}
                                        {{ contract.province ?: 'event.infos.no_province'|trans|raw }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    {{ 'event.infos.tickets_sold'|trans|raw }}
                                </div>
                                <div class="contract-info-content">
                                    {{ contract.totalBookedTicketsMajored }}
                                </div>
                            </div>

                            <div class="col-12 col-md-4 content-box-col">
                                <div class="contract-info-title">
                                    {{ 'event.infos.tickets_left'|trans|raw }}

                                </div>
                                <div class="contract-info-content">
                                    {{ max(0, tickets_left) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12 content-box-col">
                            <span class="contract-info-title pr-2">
                                 {{ 'event.infos.tickets_objective'|trans|raw }}
                            </span>
                            <span class="contract-info-content">
                                {{ contract.step.minTickets }}
                            </span>
                            {% set progress_100 = contract.percentObjective %}
                            <div class="progress">
                                <div class="progress-bar{% if state in contract.successfulStates %} successful-progress-bg{% endif %}" style="padding-left: 1rem;width:{{ progress_100 }}%"></div>
                            </div>
                            <div class="text-right small font-weight-bold text-uppercase{% if state in contract.successfulStates %} successful-progress-text{% else %} text-primary{% endif %}">
                                {% if state in contract.successfulStates %}{{ 'confirmed'|trans|raw }}{% else %}{{ progress_100 }}%{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-box-content">

                        <h3 class="mb-3 text-center"> {{ 'event.about_host.title'|trans|raw }}</h3>

                        <div class="um-semi-bold">{{ artist.artistname }}</div>
                        <p>{{ artist.getShortDescription }}</p>

                        {% if artist.genres is not empty %}
                            <div class="mb-3">
                                <span class="contract-info-title small"> {{ 'event.about_host.genres'|trans|raw }}</span>
                                {% for genre in artist.genres %} {{ genre }} {% endfor %}
                            </div>
                        {% endif %}

                        <p class="text-center"><a href="{{ path('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}" class="btn btn-outline-primary"> {{ 'event.about_host.see_profile'|trans|raw }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="col-12 content-box">
                    <div class="content-box-header">
                        <h3>{{ 'event.lineup.title'|trans|raw }}</h3>
                    </div>
                    <div class="content-box-content">
                        <table class="content-box-table">
                            <tbody>
                                <tr>
                                    <td class="contract-info-title">{{ 'event.lineup.host'|trans|raw }}</td>
                                    <td><a href="{{ path('artist_profile', {'id': contract.artist.id, 'slug': contract.artist.slug}) }}">{{ contract.artist.artistname }}</td>
                                </tr>
                                {% set i = 1 %}
                                {% for coartist_artist in contract.coartistsList %}
                                    {% set coartist = coartist_artist.artist %}
                                    <tr>
                                        <td class="contract-info-title"> {{ 'event.lineup.invited'|trans|raw }}&nbsp;{{ i }}</td>
                                        <td><a href="{{ path('artist_profile', {'id': coartist.id, 'slug': coartist.slug}) }}">{{ coartist.artistname }}</a></td>
                                    </tr>
                                    {% set i = i + 1 %}
                                {% endfor %}
                                {% if i <= 2 %}
                                    {% for j in i..2 %}
                                        <tr>
                                            <td class="contract-info-title"> {{ 'event.lineup.invited'|trans|raw }}&nbsp;{{ j }}</td>
                                            <td><i> {{ 'event.lineup.tbc'|trans|raw }}</i></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 content-box mt-4">
                    <div class="content-box-header">
                        {% if state not in contract.uncrowdableStates %}
                            <p class="text-uppercase small font-weight-bold"> {{ 'event.buy_tickets.tickets_left'|trans({'%tickets%':tickets_left})|raw }}</p>
                        {% endif %}

                        <h3>{{ 'event.buy_tickets.title'|trans|raw }}</h3>
                    </div>
                    <div class="content-box-content">
                    {% if state not in contract.uncrowdableStates %}
                        {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}

                        {{ form_start(form) }}

                        {% for purchase in form.purchases %}
                            {% set counterpart = purchase.vars.value.counterpart %}
                            <div class="counterpart-form">

                                <div class="form-group form-row">
                                    {{ form_errors(purchase) }}

                                    <div class="col-8">
                                        <label class="counterpart-label">{{ counterpart.name }}</label>
                                    </div>
                                    <div class="col-4 counterpart-price">
                                        {{ counterpart.price }} €
                                    </div>
                                    <div class="col-8">{{ counterpart.getDescription|raw }}</div>
                                    <div class="col-4">
                                        <div class="container px-0">
                                            <div class="count-input space-bottom">
                                                <a class="incr-btn" data-action="decrease" href="#">–</a>
                                                {{ form_widget(purchase) }}
                                                <a class="incr-btn" data-action="increase" data-max="{{ tickets_left }}" href="#">&plus;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                            {#
                            <p class="text-italic">{{ 'login.necessary_for_tickets'|trans|raw }}<br /><a href="{{ path('fos_user_registration_register') }}">{{ 'login.not_subscribed_yet'|trans|raw }}</a></p>
                            <div class="text-center">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal" href="{{ path('fos_user_security_login') }}">{{ 'login.login'|trans|raw }}</button>
                            </div>
                            #}
                    {% else %}
                        <p class="text-uppercase small font-weight-bold">{{ 'event.buy_tickets.over'|trans|raw }}</p>
                    {% endif %}
                    </div>
                </div>

                {% if hall_confirmed or hall_potential %}
                    <div class="col-12 content-box mt-4">
                        <div class="content-box-header">
                            {% if hall_confirmed %}
                                <h3>{{ 'event.hall.known'|trans|raw }}</h3>
                            {% else %}
                                <h3>{{ 'event.hall.unknown'|trans|raw }}</h3>
                            {% endif %}
                        </div>
                        <div class="content-box-content">
                            <div id="carouselPotentialHalls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% if hall_confirmed %}
                                        <div class="carousel-item active">
                                            {% include 'AppBundle:Public/Card:hall.html.twig' with {'hall': contract.hallConcert, 'xs': 12, 'md':12, 'no_rotation_hall':false} %}
                                        </div>
                                    {% else %}
                                        {% for hall in potential_halls %}
                                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                {% include 'AppBundle:Public/Card:hall.html.twig' with {'xs': 12, 'md':12, 'no_rotation_hall':true} %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% if not hall_confirmed and potential_halls|length > 1 %}
                                    <a class="carousel-control-prev" href="#carouselPotentialHalls" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon rounded-circle btn-primary bg-primary p-1" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselPotentialHalls" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon rounded-circle btn-primary bg-primary p-1" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js_vars %}
    <div id="modal-dialog">
    </div>
{% endblock %}
