{% extends "base.html.twig" %}

{% set artist = contract.artist %}

{% set image_url = contract.photo is not null ? contract.webPath(contract.photo) : 'images/live/live-6.jpg' %}

{% set artists_str = '' %}
{% for artist in contract.allArtists %}
    {% if not loop.first and loop.last %}
         {% set artists_str = artists_str ~ ' & '%}
    {% elseif not loop.first %}
        {% set artists_str = artists_str ~ ', '%}
    {% endif %}
    {% set artists_str = artists_str ~ artist.artistname %}
{% endfor %}
{% block description_part_1 %}{{ 'meta_description_event'|trans({'%artists%': artists_str}) }}{% endblock %}

{% block headtitle %}
    {{ contract.getTitle }}
{% endblock %}

{% block open_graph %}
    <meta property="og:title"
          content="{{ contract.getTitle }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url"
          content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:image" content="{{ absolute_url(asset(image_url)) }}"/>
{% endblock %}

{% set state = contract.state %}

{% set first_counterpart = contract.firstCounterPart %}

{% block header_attributes %}id="home" class="masthead masthead-small position-relative" style="background-image:url('{{ absolute_url(asset(image_url)) }}')"{% endblock %}

{% block header_header %}
    <div class="container justify-content-center text-white align-items-center text-center position-relative">
        <h2 class="festival-title text-uppercase font-weight-bold py-2">{{ contract.getTitle }}</h2>
        <p class="big p-3 p-md-5">{{ contract.getDescription }}</p>
    </div>
    <div class="text-center">
        <a class="scroll btn btn-outline-primary" href="#tickets">Tickets</a>
    </div>
    <div class="separating-waves high prior"></div>
    <div class="separating-waves colored big low prior"></div>
{% endblock %}

{% block main_attributes %}class="pb-0 pt-0"{% endblock %}

{% block body %}
    {% set max_tickets = contract.maxTickets %}
    {% set tickets_left = contract.totalNbAvailable %}
    {% if contract.festivalHalls is not empty and contract.festivalDays is not empty %}
    <section class="container-fluid position-relative" style="padding-top: 1.2rem !important;">

        <div class="row mt-4">

            <div class="col-12">
                {% if state not in contract.uncrowdableStates and contract.isLastSellingDate %}
                    <p class="p-info"><img width="70" class="um-icon float-left float-md-none d-none d-sm-inline-block"
                                           src="{{ asset('images/icons/artist.png') }}"/>{{ 'event.lastday.tickets'|trans|raw }}
                    </p>
                {% elseif state not in contract.successfulStates and contract.isDeadlineDate %}
                    <p class="p-info"><img width="70" class="um-icon float-left d-none d-sm-inline-block"
                                           src="{{ asset('images/icons/artist.png') }}"/> C'est le dernier jour de campagne ! C'est le moment de soutenir les artistes de ce Festival !
                    </p>
                {% endif %}

                {% if contract.currentPromotions is not empty %}
                    <p class="p-info">Pendant les premiers jours de vente, vous bénéficiez des promotions suivantes :
                    {% for promo in contract.currentPromotions %}
                            <br />{{ promo.left }} <i class='fas fa-long-arrow-alt-right'></i> {{ promo.right }} (jusqu'au {{ promo.endDate|fancy_date(true) }})
                    {% endfor %}
                    </p>
                {% endif %}
            </div>

            <div class="col-12 col-lg-8">
                <div class="col-12 content-box">

                    <h3 class="text-primary text-center alt-title"><i class="fas fa-music"></i> {{ 'event.lineup.title'|trans|raw }}</h3>
                    <div class="content-box-content">
                        {% for day in contract.festivalDays %}
                            <h4{% if not loop.first %} class="pt-3"{% endif %}>{{ ('Days ' ~ day.date|date('w'))|trans }} {{ day.date|date('j') }} {{ ('months.' ~ day.date|date('m'))|trans }} {{ day.date|date('Y') }}</h4>
                            <table class="table">
                                <tbody>

                                {% if contract.knownLineup %}
                                    <tr>
                                        <td>
                                            {{ day.date|date('H:i') }}
                                        </td>
                                        <td>{{ 'doors_opening'|trans }}</td>
                                    </tr>
                                    {% for performance in day.performances %}
                                            <tr>
                                                <td>{{ performance.time|date('H:i') }}</td>
                                                <td>
                                                    <a href="{{ path('artist_profile', {'id': performance.artist.id, 'slug': performance.artist.slug}) }}">{{ performance.artist.artistname }}</a>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td class="contract-info-title text-left">{{ 'doors_opening'|trans }}</td>
                                        <td>
                                            {{ day.date|date('H:i') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="contract-info-title text-left">Artistes</td>
                                        <td>{% for performance in day.performances %}{% if not loop.first %} - {% endif %}<a href="{{ path('artist_profile', {'id': performance.artist.id, 'slug': performance.artist.slug}) }}">{{ performance.artist.artistName }}</a>{% endfor %}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>


            {% if not contract.hasNoDefinedHall %}
                <div class="col-12 col-lg-4 content-box">
                        <h3 class="text-primary text-center alt-title"><i class="fas fa-map-marked-alt"></i> {{ 'event.hall.known'|trans|raw }}</h3>

                    <div class="content-box-content">
                        <div id="carouselPotentialHalls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% set i = 0 %}
                                {% for hall in contract.uniqueFestivalHalls if hall is not null %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        {% include 'AppBundle:Public/Card:hall.html.twig' with {'xs': 12, 'md':12, 'no_rotation_hall':true} %}
                                    </div>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                            {% if i > 1 %}
                                <a class="carousel-control-prev" href="#carouselPotentialHalls" role="button"
                                   data-slide="prev">
                                        <span class="carousel-control-prev-icon rounded-circle btn-primary bg-primary p-1"
                                              aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselPotentialHalls" role="button"
                                   data-slide="next">
                                        <span class="carousel-control-next-icon rounded-circle btn-primary bg-primary p-1"
                                              aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="separating-waves colored big high"></div>
        <div class="separating-waves low prior"></div>
    </section>
    {% endif %}
    <section class="container-fluid position-relative bg-body-strong">

        <h3 class="text-center alt-title">État du financement participatif</h3>
        {% if state not in contract.successfulStates %}<p class="font-italic text-center">Ce festival ne sera confirmé que si suffisamment de tickets sont vendus d'ici la date de validation. <a href="{{ path('homepage') }}#about" class="text-secondary">En savoir plus</a></p>{% endif %}

        <div class="content-box solid-borders">
            <div class="content-box-content no-border text-center bg-transparent">
                <div class="col-12 content-box-col">
                            <span class="contract-info-title pr-2">
                                {{ 'event.infos.state'|trans|raw }}
                            </span>
                    <span class="contract-info-content pr-1">
                                {{ ('event.'~state)|trans|raw }}
                            </span>
                </div>


                <div class="col-12 row equal content-box-row">
                    <div class="col-12 col-md-6 content-box-col">
                        <div class="contract-info-title">
                            {{ 'event.infos.validation_date'|trans|raw }}
                        </div>
                        <div class="contract-info-content">
                            {{ contract.dateEnd|date('d/m/Y') }}
                        </div>
                    </div>

                    <div class="col-12 col-md-6 content-box-col">
                        <div class="contract-info-title{% if contract.isInTestPeriod %} invisible{% endif %}">
                            Avancement
                        </div>
                        {% set progress_100 = state in contract.successfulStates ? 100 : contract.percentObjective %}
                        <div class="progress">
                            <div class="progress-bar{% if state in contract.successfulStates %} successful-progress-bg{% endif %}"
                                 style="padding-left: 1rem;width:{{ progress_100 }}%"></div>
                        </div>
                        <div class="text-right small font-weight-bold text-uppercase{% if state in contract.successfulStates %} text-black{% else %} text-primary{% endif %}">
                            {% if state in contract.successfulStates %}{{ 'confirmed'|trans|raw }}{% else %}{{ progress_100 }}%{% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% if app.user and (app.user.hasArtistPerformingIn(contract) or is_granted('ROLE_ADMIN')) %}

                {% set total_sales = contract.counterpartsSold %}
                <h4>Distribution des ventes</h4>
                <p>
                    Puisque vous êtes propriétaire d'un artiste participant à ce festival, vous avez accès à vos performances, c'est-à-dire au nombre de tickets dont les acheteurs vous ont mentionné comme motivation de leur achat.
                    Notez qu'il y a à l'heure actuelle eu <strong>{{ contract.totalScores|round }}</strong> ticket{% if contract.totalScores > 1 %}s{% endif %} vendu{% if contract.totalScores > 1 %}s{%endif%}.
                    Notez également que les acheteurs peuvent mentionner plusieurs artistes lors de leur passage de commande.
                </p>
                <ul>
                    {% for artist in contract.allArtists %}
                        {% set perf = contract.artistScore(artist) %}
                        {% set s = perf > 1 ? 's' : '' %}
                        <li>{{ perf }} ticket{{ s }} - <a class="text-secondary" href="{{ path('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}">{{ artist }}</a></li>
                    {% endfor %}
                    {% set s = contract.noArtistScore > 1 ? 's' : '' %}
                    <li>{{ contract.noArtistScore }} ticket{{ s }} - pas d'artiste mentionné</li>
                </ul>

            {% endif %}

        </div>
        <div class="separating-waves colored big low prior"></div>
        <div class="separating-waves high prior"></div>
    </section>

    <section class="container-fluid position-relative bg-body-light p-4 mt-2" id="tickets">
        <h3 class="text-primary text-center alt-title"><i class="fas fa-ticket-alt"></i> Tickets</h3>
        {% if state not in contract.uncrowdableStates %}
            {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}

            {{ form_start(form) }}

            <div class="row d-none d-md-flex p-3 counterparts-header">
                <div class="col-md-3 um-label-bold">
                    Ticket
                </div>
                <div class="col-6 col-md-4 my-auto um-label-bold">
                    Description
                </div>
                <div class="col-6 col-md-2 my-auto um-label-bold">
                    Prix
                </div>
                <div class="col-6 col-md-3 my-auto um-label-bold">
                    Quantité
                </div>
            </div>

            {% for purchase in form.purchases %}
                <div class="row counterpart-form border">

                    {% set counterpart = purchase.vars.value.counterpart %}
                    <div class="col-6 col-md-3 py-2 my-auto">
                        <div>{{ form_errors(purchase) }}</div>
                        <label class="counterpart-label"><i class="fas fa-ticket-alt"></i> {{ counterpart.name }}</label>
                    </div>

                    <div class="col-6 col-md-4 py-2 my-auto">
                        {{ counterpart.getDescription|raw }}
                    </div>

                    <div class="col-6 col-md-2 py-2 my-auto">
                        {{ counterpart.price }} €
                    </div>

                    <div class="col-6 col-md-3 py-2 my-auto">
                        <div class="count-input space-bottom" data-price="{{ counterpart.price }}">
                            <a class="incr-btn" data-action="decrease" href="#">–</a>
                            {{ form_widget(purchase.quantity) }}
                            <a class="incr-btn" data-action="increase"
                               data-max="{{ contract.nbAvailable(counterpart) }}"
                               href="#">&plus;</a>
                        </div>
                        {% if counterpart.potentialArtists is not empty %}
                            <div class="select2-artists">
                                Si vous venez en particulier pour un ou plusieurs artiste(s), mentionnez-le(s) :
                                {{ form_widget(purchase.artists) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {#{{ form_row(form.user_rewards) }}
            <div id="user_reward-error"><span
                        class="danger danger-color">{{ 'event.buy_tickets.to_much_reduction'|trans|raw }}</span>
            </div>
            #}
            <div class="text-right mt-3">
                <div class="d-inline-block mr-2">TOTAL : <span id="cart-total">0</span> €</div>
                {{ form_widget(form.submit) }}
            </div>

            {{ form_end(form) }}
        {% else %}
            <p class="text-uppercase small font-weight-bold">{{ 'event.buy_tickets.over'|trans|raw }}</p>
        {% endif %}
        <div class="separating-waves colored high prior"></div>
    </section>

{% endblock %}

    {% block additional_javascripts %}
        {% if (contract.crowdable or contract.pending) and contract.festivalDates is not empty %}
            <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Event",
              "name": "{{ contract.getTitle }}",
              {% set firstdate = contract.festivalDates|first %}
              {% set lastdate = contract.festivalDates|last %}
              "startDate": "{{ firstdate|date('Y-m-d\\TH:i') }}",
              "endDate": "{{ lastdate|date('Y-m-d') }}T23:59",
              {% if not contract.hasNoDefinedHall %}
                {% set firsthall = contract.firstHall %}
              "location": {
                "@type": "Place",
                "name": "{{ firsthall.name }}",
                "address": {
                  "@type": "PostalAddress",
                  "streetAddress": "{{ firsthall.address.naturalStreet }}",
                  "addressLocality": "{{ firsthall.address.city }}",
                  "postalCode": "{{ firsthall.address.zipcode }}",
                  "addressCountry": "{{ firsthall.address.country }}"
                }
              },
              {% endif %}
              "image": [
                  "{{ absolute_url(asset(image_url)) }}"
               ],
              "description": "{{ contract.getDescription() }}",
              "offers": {
                "@type": "Offer",
                "url": "{{ url('artist_contract', {'id': contract.id}) }}",
                "price": "{{ first_counterpart.price }}",
                "priceCurrency": "EUR",
                "availability": "{{ contract.soldOut ? "http://schema.org/OutOfStock" : "http://schema.org/InStock" }}",
                "validFrom": "{{ contract.startDate|date('Y-m-d') }}"
              },
              "performer": [
                {% for artist in contract.allArtists %}
                {
                  "@type": "MusicGroup",
                  "name": "{{ artist.artistname }}"
                  {% set artist_link = artist.website is not null ? artist.website : artist.facebook is not null ? artist.facebook : artist.bandcamp is not null ? artist.bandcamp : null %}
                  {% if  artist_link is not null%}
                      ,"sameAs": [
                        "{{ artist_link }}"
                      ]
                  {% endif %}
                }{% if not loop.last %},{% endif %}
                {% endfor %}
               ],
            }
        </script>
    {% endif %}
        <script type="text/javascript">
            $(document).ready(function () {
                var errorDiv = $('#user_reward-error');
                errorDiv.hide();
                $('.js-example-basic-multiple').select2();
                $('.user-rewards-select').on('select2:select select2:unselect', function () {
                    errorDiv.hide();
                    var haveReduction = false;
                    var select = $('.user-rewards-select');
                    select.find(':selected').each(function () {
                        if ($(this).hasClass('reduction')) {
                            if (haveReduction === true) {
                                errorDiv.show();
                                select.find(':selected').last().attr('selected', false).trigger('change');
                            } else {
                                haveReduction = true;
                            }
                        }
                    })
                })
            });

        </script>
    {% endblock %}
