{% if contract.crowdable %}
    {% set page = 'festival' %}
{% endif %}

{% extends "base.html.twig" %}

{% set image_url = contract.photo is not null ? contract.webPath(contract.photo) : 'images/live/live-6.jpg' %}

{% set artists_str = '' %}
{% for artist in contract.allArtists %}
    {% if not loop.first and loop.last %}
         {% set artists_str = artists_str ~ ' & '%}
    {% elseif not loop.first %}
        {% set artists_str = artists_str ~ ', '%}
    {% endif %}
    {% set artists_str = artists_str ~ artist.artistname %}
{% endfor %}
{% block description_part_1 %}{{ 'meta_description_event'|trans({'%artists%': artists_str}) }}{% endblock %}

{% block headtitle %}
    {{ contract.getTitle }}
{% endblock %}

{% block head_styles %}
    <style type="text/css">
        {% set medium_img = contract.photo is not null ? contract.webPathMD(contract.photo) : 'images/live/live-6.jpg' %}
        {% set small_img = contract.photo is not null ? contract.webPathSM(contract.photo) : 'images/live/live-6.jpg' %}

        header.header {
            background-image:url('{{ absolute_url(asset(image_url)) }}');
            background-position-y: -30px;
            background-position-x: center;
            min-height: 55vh;
        }

        @media (max-width: 575.98px) {
            header.header {
                background-image:url('{{ absolute_url(asset(small_img)) }}');
            }
        }

        @media (min-width: 576px) and (max-width: 991.98px) {
            header.header {
                background-image:url('{{ absolute_url(asset(medium_img)) }}');
            }
        }
    </style>
{% endblock %}

{% block open_graph %}
    <meta property="og:title"
          content="{{ contract.getTitle }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url"
          content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    <meta property="og:image" content="{{ absolute_url(asset(image_url)) }}"/>
{% endblock %}

{% block header %}
    {% include ':patterns:header.html.twig' with {'title': contract.getTitle ~ '<br /><span class="smaller">' ~ contract.getDisplayDates ~ '</span>', 'img': absolute_url(asset(image_url)), 'img_absolute':true, 'sepia':false, 'notitle': true, 'nostyle':true} %}
{% endblock %}

{% set state = contract.state %}
{% set nb_contracts_ok = 0 %}

{% set first_counterpart = contract.firstCounterPart %}
{% set progress_100 = contract.percentObjective %}

{% set visiblePromos = contract.currentPromotionsVisible %}

{% block body %}
    {% include ':patterns:crowdfunding.html.twig' with {'contractArtist': contract} %}

    <section class="container p-5">
        <div class="row">
            <div class="col-8 text-left">
                <p class="font-weight-bold w-md-75">{{ contract.getDescription }}</p>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-primary scroll" href="#tickets">Tickets</a>
            </div>
        </div>
    </section>

     <section class="container pb-3">
        <div class="row">
            <div class="col-md-6">
                <div class="form-block">
                    <div class="form-header">
                        <h2>Line-up</h2>
                    </div>
                    {% if contract.festivalDays is not empty %}
                        <div class="p-3">
                            {% if contract.filterableFestivalDays|length > 1 %}
                                <span class="text-primary">Jour</span><br />
                                <span class="artists-selector artists-selector-day selected" data-day="all">Tous</span>
                                {% for day in contract.filterableFestivalDays %}
                                    <span class="artists-selector artists-selector-day" data-day="{{ day.id}}">{{ day.date|date('l')|trans }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="pb-0 px-3 pt-3">
                            {% if contract.filterableStages|length > 1 %}
                                <span class="text-primary">Scène</span><br />
                                <span class="artists-selector artists-selector-stage selected" data-stage="all">Toutes</span>
                                {% for stage in contract.filterableStages %}
                                    <span class="artists-selector artists-selector-stage" data-stage="{{ stage.id }}">{{ stage }}</span>
                                {% endfor %}
                            {% elseif contract.filterableLineUps|length > 1 %}
                                <span class="text-primary">Affiche</span><br />
                                <span class="artists-selector artists-selector-lineup selected" data-day="all" data-lineup="all">Toutes</span>
                                {% for lineup in contract.filterableLineUps %}
                                    <span class="artists-selector artists-selector-lineup pb-4" data-day="{{ lineup.festivalDay.id }}" data-lineup="{{ lineup.id }}">{{ lineup.getName }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="form-body row" style="padding-top:0 !important;">
                        {% for performance in contract.artistPerformances %}
                            <div class="col-6 artist-col" data-day="{{ performance.festivalDay.id }}" data-lineup="{{ performance.lineup.id }}" {% if performance.stage is not null %}data-stage="{{ performance.stage.id }}"{% endif %}>
                                {% include 'AppBundle:Public/Card:artist.html.twig' with {'artist': performance.artist, 'hours': performance.time} %}

                                <div class="font-weight-light"><i class="text-primary fas fa-circle"></i>Affiche {{ performance.lineup.getName }}</div>
                                {% if performance.stage is not null %}
                                    <div class="font-weight-light"><i class="text-primary fas fa-circle"></i>Scène {{ performance.stage }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                {% if visiblePromos is not empty or contract.isInCampaign %}
                    {% set endSentence = visiblePromos|length > 1 ? "des promotions (non cumulables) suivantes" : "de la promotion suivante" %}

                    <h2 class="text-center">Promotions</h2>
                    {% if not contract.inTestPeriod %}
                        <p class="text-center font-weight-light">Tout au long de la campagne, profitez {{ endSentence }}&nbsp;:</p>
                    {% else %}
                        <p class="text-center font-weight-light">Pendant les premiers jours de campagne, profitez {{ endSentence }}&nbsp;:</p>
                    {% endif %}
                    <div class="row text-uppercase">
                        {% for promo in visiblePromos %}
                            <div class="col-6 my-auto py-2 text-right">{{ promo.left }}</div>
                            <div class="col-6 my-auto py-2 border-left border-primary text-left">{{ promo.right }}</div>
                        {% endfor %}
                    </div>
                    {# if contract.isInCampaign %}
                        <p class="text-center">1 commande passée avant la date de validation <i class='fas fa-long-arrow-alt-right'></i> <span class="text-secondary font-weight-bold">accès au bar Vedett all-in à 18h</span></p>
                    {% endif #}
                {% endif %}

                {% if not contract.hasNoDefinedHall %}
                    <div class="form-block mt-5 mx-auto w-75">
                        <div class="form-header">
                            <h2>{{ 'event.hall.known'|trans|raw }}</h2>
                        </div>
                        <div class="form-body">
                            <div id="carouselPotentialHalls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% set i = 0 %}
                                    {% for hall in contract.uniqueFestivalHalls if hall is not null %}
                                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                                            {% include 'AppBundle:Public/Card:hall.html.twig' with {'xs': 12, 'md':12, 'no_rotation_hall':true} %}
                                        </div>
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                </div>
                                {% if i > 1 %}
                                    <a class="carousel-control-prev" href="#carouselPotentialHalls" role="button"
                                       data-slide="prev">
                        <span class="carousel-control-prev-icon rounded-circle btn-primary bg-primary p-1"
                              aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselPotentialHalls" role="button"
                                       data-slide="next">
                        <span class="carousel-control-next-icon rounded-circle btn-primary bg-primary p-1"
                              aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if app.user and (is_granted('ROLE_ADMIN') or app.user.hasArtistPerformingIn(contract)) %}
                    <h2 class="text-center mt-5 pt-2">Statistiques</h2>

                    {% set total_sales = contract.counterpartsSold|round(0, 'floor') %}
                    <p>
                        Puisque vous êtes propriétaire d'un artiste participant à ce festival, vous avez accès à vos performances, c'est-à-dire au nombre de tickets dont les acheteurs vous ont mentionné comme motivation de leur achat.
                        Il y a à l'heure actuelle eu <strong>{{ total_sales }}</strong> ticket{% if total_sales > 1 %}s{% endif %} vendu{% if contract.totalScores > 1 %}s{%endif%}.
                        Notez que lors de son passage de commande, un acheteur peut soit renseigner un artiste (et soutient alors son affiche en particulier) soit pas (il soutient alors équitablement toutes les affiches du/des jour(s) concerné(s) par son ticket).
                        Attention également qu'en conséquence, certains tickets accordent moins qu'un point de validation à une affiche (car ils sont divisés en plusieurs affiches). Les nombres de tickets repris ci-dessous sont arrondis vers le bas le cas échéant.
                    </p>
                    <ul>
                        {% for lineup in contract.filterableLineUps %}
                            <li>Affiche <b>{{ lineup.getName }}</b>&nbsp;: {{ lineup.ticketsSold|round(0,'floor') }}/{{ lineup.threshold }} tickets vendus{% if lineup.ticketsSoldPostVal|round(0,'floor') > 0 %} dont {{ lineup.ticketsSoldPostVal|round(0,'floor') }} après validation{% endif %}
                            {% if is_granted('ROLE_ADMIN') or app.user.hasArtistPerformingInLineUp(lineup) %} (c'est votre affiche)
                                <ul>
                                    {% for perf in lineup.artistPerformances %}
                                        {% set s = perf.ticketsSold > 1 ? 's' : '' %}
                                        <li>{{ perf.ticketsSold|round(0, 'floor') }} ticket{{ s }}{% if perf.ticketsSoldPostVal|round(0,'floor') > 0 %} dont {{ perf.ticketsSoldPostVal|round(0,'floor') }} après validation{% endif %} - <a class="text-secondary" href="{{ path('artist_profile', {'id': perf.artist.id, 'slug': perf.artist.slug}) }}">{{ perf.artist }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}
            </div>
        </div>
     </section>


    {% include ':patterns:header.html.twig' with {'title': 'Tickets', 'img': 'tickets.jpg'} %}
    <section id="tickets" class="container-fluid px-md-5 pb-md-5">
        {% if state not in contract.uncrowdableStates %}
            {{ form_start(form) }}
                {% include ':patterns:tickets.html.twig' with {'contractArtist': contract, 'contract': form,'more_info':false} %}

                <section class="text-center mt-4 mb-5">
                    <span class="pr-4">TOTAL&nbsp;: <span class="um-label-bold" id="cart-total">0</span> €</span>
                    {{ form_widget(form.submit) }}
                </section>
            {{ form_end(form) }}

        {% else %}
            <p class="text-uppercase small text-center font-weight-bold">{{ 'event.buy_tickets.over'|trans|raw }}</p>
        {% endif %}
    </section>


{% endblock %}

{% block additional_javascripts %}
        <script>
            var day = 'all';
            var stage = 'all';
            var lineup = 'all';

            function refreshArtists() {
                $('.artist-col').each(function() {
                  if((day === 'all' || $(this).data('day') === day) && (stage === 'all' || $(this).data('stage') === stage) && (lineup === 'all' || $(this).data('lineup') === lineup)) {
                      $(this).show();
                  }
                  else {
                      $(this).hide();
                  }
                });
                $('.artists-selector-lineup').each(function() {
                   if(day === 'all' || $(this).data('day') === day || $(this).data('day') === 'all') {
                       $(this).show();
                   }
                   else {
                       $(this).hide();
                       if($(this).hasClass('selected')) {
                           $(this).removeClass('selected');
                           $('.artists-selector-lineup').first().addClass('selected');
                           lineup = 'all';
                       }
                   }
                });
            }

            $('.artists-selector').click(function() {
                if($(this).hasClass('artists-selector-day')) {
                    day = $(this).data('day');
                    $('.artists-selector-day').removeClass('selected');
                    $(this).addClass('selected');
                    refreshArtists();
                }
                else if($(this).hasClass('artists-selector-lineup')) {
                    lineup = $(this).data('lineup');
                    $('.artists-selector-lineup').removeClass('selected');
                    $(this).addClass('selected');
                }
                else {
                    stage = $(this).data('stage');
                    $('.artists-selector-stage').removeClass('selected');
                    $(this).addClass('selected');
                }
                refreshArtists();
            })
        </script>

        {% if (contract.crowdable or contract.pending) and contract.festivalDates is not empty %}
            <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Event",
              "name": "{{ contract.getTitle }}",
              {% set firstdate = contract.festivalDates|first %}
              {% set lastdate = contract.festivalDates|last %}
              "startDate": "{{ firstdate|date('Y-m-d\\TH:i') }}",
              "endDate": "{{ lastdate|date('Y-m-d') }}T23:59",
              {% if not contract.hasNoDefinedHall %}
                {% set firsthall = contract.firstHall %}
              "location": {
                "@type": "Place",
                "name": "{{ firsthall.name }}",
                "address": {
                  "@type": "PostalAddress",
                  "streetAddress": "{{ firsthall.address.naturalStreet }}",
                  "addressLocality": "{{ firsthall.address.city }}",
                  "postalCode": "{{ firsthall.address.zipcode }}",
                  "addressCountry": "{{ firsthall.address.country }}"
                }
              },
              {% endif %}
              "image": [
                  "{{ absolute_url(asset(image_url)) }}"
               ],
              "description": "{{ contract.getDescription() }}",
              "offers": {
                "@type": "Offer",
                "url": "{{ url('artist_contract', {'id': contract.id}) }}",
                "price": "{{ first_counterpart.price }}",
                "priceCurrency": "EUR",
                "availability": "{{ contract.soldOut ? "http://schema.org/OutOfStock" : "http://schema.org/InStock" }}",
                "validFrom": "{{ contract.startDate|date('Y-m-d') }}"
              },
              "performer": [
                {% for artist in contract.allArtists %}
                {
                  "@type": "MusicGroup",
                  "name": "{{ artist.artistname }}"
                  {% set artist_link = artist.website is not null ? artist.website : artist.facebook is not null ? artist.facebook : artist.bandcamp is not null ? artist.bandcamp : null %}
                  {% if  artist_link is not null%}
                      ,"sameAs": [
                        "{{ artist_link }}"
                      ]
                  {% endif %}
                }{% if not loop.last %},{% endif %}
                {% endfor %}
               ],
            }
        </script>
    {% endif %}
{% endblock %}