{% extends "base.html.twig" %}

{% block body %}

    {% if prevalidation_contracts is not empty %}

        <div class="container opacity-50 mb-4">
            <h3 class="text-center mb-3">{{ 'catalog_events.prevalidation.title'|trans|raw }}</h3>

            <p>
                {{ 'catalog_events.prevalidation.intro'|trans|raw }}
            </p>

            <div class="row">
                {% for contract in prevalidation_contracts %}
                    {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': contract, 'bgwhite': true} %}
                {% endfor %}
            </div>
        </div>

    {% endif %}

    {% if current_contracts is empty and successful_contracts is empty %}
        <div class="container">
            <h3 class="text-center mb-3">{{ 'catalog_events.empty.title'|trans|raw }}</h3>
            <p class="p-info">
                {{ 'catalog_events.empty.content'|trans({'%facebook_url%':"https://www.facebook.com/UnMuteasbl/"})|raw }}
            </p>
            <p class="text-center">
                {{ 'catalog_events.empty.contact-us'|trans({'%contact_url%': path('suggestionBox')})|raw }}
            </p>
        </div>

    {% else %}
        {% if current_contracts is not empty %}
            <div class="container">
                <h3 class="text-center mb-3">{{ 'catalog_events.running.title'|trans|raw }}</h3>

                <p>
                    {{ 'catalog_events.running.intro'|trans({'%proposition_url%': path('proposition')})|raw }}
                </p>

                <div class="row">
                    {% for contract in current_contracts %}
                        {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': contract, 'bgwhite': true} %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if successful_contracts is not empty %}
            <div class="container{% if current_contracts is not empty %} mt-5{% endif %}">
                <h3 class="text-center mb-3">{{ 'catalog_events.confirmed.title'|trans|raw }}</h3>
                <div class="row">
                    {% for contract in successful_contracts %}
                        {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': contract, 'bgwhite': true} %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}