{% extends "base_catalogue.html.twig" %}


{% block headtitle %}Artistes | Un-Mute{% endblock %}

{% block nav %}
    {% include ':patterns:header_nav.html.twig' with {'page': 'artists'} %}
{% endblock %}

{% block header %}
    {% include ':patterns:header.html.twig' with {'title':  'catalog_artists.title'|trans, 'img': 'artistes.jpg'} %}
{% endblock %}

{% block body %}
    <div class="container py-4">
        <p class="my-3 w-50 font-weight-bold">Retrouvez l'esnemble des artistes ayant lancé une campagne de financement participatif avec Un-Mute. Les artistes sont soit à l'affiche actuellement, soit l'ont été par le passé.</p>
        {% if artists is empty %}
            <p class="font-weight-bold w-50">{{ 'catalog_artists.empty'|trans|raw }}</p>
        {% else %}
            <div class="d-inline-block">
                <input class="form-control bg-white"
                       data-jplist-control="textbox-filter"
                       data-group="group1"
                       data-name="my-filter-1"
                       data-path=".artist-name"
                       type="text"
                       value=""
                       placeholder="Chercher..." />
            </div>
            <div class="d-inline-block jplist-dd pl-2"
                 data-jplist-control="dropdown-filter"
                 data-group="group1"
                 data-name="name1">

                <div data-type="panel" class="jplist-dd-panel">Filter by</div>
                <div data-type="content" class="jplist-dd-content">

                    <div data-value="0"
                         data-path="default"
                         class="jplist-dd-item"
                         data-selected="true">Tous les genres</div>
                    {% for genre in genres %}
                        {% set slug = "jplist-" ~ genre|slug %}
                        <div data-value="{{ loop.index }}"
                             data-path=".{{ slug }}"
                             class="jplist-dd-item"
                             data-selected="false">{{ genre }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-inline-block pl-2">
                <label class="custom-control custom-checkbox pr-3" for="checkbox_scheduled">
                    <input type="checkbox"
                           data-jplist-control="checkbox-path-filter"
                           data-path=".artist-has-current-contract"
                           data-group="group1"
                           id="checkbox_scheduled"
                           name="checkbox_scheduled"
                           class="form-check-input custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">A l'affiche</span>
                </label>
            </div>
        {% endif %}
    </div>
    <div class="container pb-5">
        <div class="row" data-jplist-group="group1">
            {% for artist in artists %}
                <div data-jplist-item class="col-6 col-md-4">
                    {% include 'AppBundle:Public/Card:artist.html.twig' with {'artist': artist, 'jplist': true} %}
                </div>
            {% endfor %}
            <div class="font-weight-bold w-75" data-jplist-control="no-results" data-group="group1" data-name="no-results">Aucun artiste n'a été trouvé pour ces critères de recherche.</div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        jplist.init();
    </script>
{% endblock %}