{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h3 class="text-center mb-3">{{ 'faq.title'|trans|raw }}</h3>

        <div class="row">
            <div class="col-12 col-md-4 content-box">
                {% include '@App/Public/ContentBox/static_links.html.twig' with {'no_link': ['faq']} %}
            </div>

            <div class="col-12 col-md-8 static-content content-box">
                <div class="content-box-content content-box-content-zones">

                    <div class="content-box-content-zone">
                        <div class="um-label um-semi-bold mb-3">{{ 'faq.confirmed_show.question'|trans|raw }}</div>
                        <p>
                            {{ 'faq.confirmed_show.answer'|trans|nl2br|raw }}
                        </p>
                    </div>

                    <div class="content-box-content-zone">
                        <div class="um-label um-semi-bold mb-3" >
                            {{ 'faq.minimum_tickets.question'|trans|raw }}
                        </div>

                        <p>
                            {{ 'faq.minimum_tickets.answer'|trans|nl2br|raw }}
                        </p>

                        <table class="table text-center">
                            <thead>
                                <tr class="no-border-top no-border-bottom tr-um-label">
                                    <th>{{ 'step'|trans|raw }}</th>
                                    <th>{{ 'faq.minimum_tickets.metric_minimum'|trans|raw }}</th>
                                    <th>{{ 'faq.minimum_tickets.metric_maximum'|trans|raw }}</th>
                                    <th>{{ 'faq.minimum_tickets.hall_examples'|trans|raw }}</th>
                                </tr>
                            </thead>

                            <tbody class="align-middle">
                                {% for step in steps %}
                                    <tr>
                                        <td>{{ step }}</td>
                                        <td>{{ step.minTickets }}</td>
                                        <td>{{ 'faq.minimum_tickets.depends'|trans|raw }}</td>
                                        <td>
                                            {% for hall in step.randomHalls(3) %}
                                                <a href="{{ path('hall', {'id':hall.id, 'slug': hall.slug}) }}">{{ hall.name }}</a>{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <div class="content-box-content-zone">
                        <div class="um-label um-semi-bold mb-3" >
                            {{ 'faq.multilocal.question'|trans|raw }}
                        </div>
                        <p>
                            {{ 'faq.multilocal.answer'|trans|nl2br|raw }}
                        </p>
                    </div>
                    <div class="content-box-content-zone">
                        <div class="um-label um-semi-bold mb-3" >
                            {{ 'faq.cancelling.question'|trans|raw }}
                        </div>
                        <p>
                            {{ 'faq.cancelling.answer'|trans|nl2br|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}