{% extends 'base.html.twig' %}

{% block open_graph %}
    <meta property="og:title" content="{{ hall }} | Un-Mute"  />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" />
    {% set og_src = absolute_url(asset('images/hall-card-default.jpg')) %}
    {% set photos = hall.photos %}

    {% if photos is not empty %}
        {% set og_src = absolute_url(asset(hall.webPath(photos|first))) %}
    {% endif %}
    <meta property="og:image" content="{{ og_src }}" />
{% endblock %}

{% block headtitle %}{{ hall.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center">{{ hall.name }}</h3>
        <p class="text-center"><small>{{ hall.address.natural(hall.province.name) }}</small></p>

        <div class="row">
            <div class="col-12 content-box">
                <div class="content-box-content">
                    <p>
                        <span class="contract-info-title">En quelques mots</span>
                        {{ hall.getShortDescription }}
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-8">
                {% if hall.getDescription is not empty %}
                    <div class="content-box">
                        <div class="content-box-content">
                            <div class="contract-info-title mb-3">Description</div>
                            <p>{{ hall.getDescription }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if hall.photos|length > 0 %}
                    <div id="hallCarousel" class="carousel slide" data-ride="carousel">
                        {% if hall.photos is not empty %}
                            <ol class="carousel-indicators">
                                {% for photo in hall.photos %}
                                    <li data-target="#hallCarousel" data-slide-to="0"{% if loop.first %} class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                        <div class="carousel-inner">
                            {% for photo in hall.photos %}
                                <div class="carousel-item{% if loop.first %} active{% endif %}">
                                    <img class="d-block w-100 mx-auto responsive-img" src="{{ asset(hall.webPath(photo)) }}" alt="{{ hall.name }}">
                                </div>
                            {% endfor %}
                        </div>
                        {% if hall.photos is not empty %}
                            <a class="carousel-control-prev" href="#hallCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon rounded-circle btn-primary bg-primary p-3" aria-hidden="true"></span>
                                <span class="sr-only">Précédent</span>
                            </a>
                            <a class="carousel-control-next" href="#hallCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon rounded-circle btn-primary bg-primary p-3" aria-hidden="true"></span>
                                <span class="sr-only">Suivant</span>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="col-12 col-md-4 content-box mt-3 mt-md-0">

                <div class="content-box-header">
                    <h3>Caractéristiques</h3>
                </div>

                <div class="content-box-content">
                    <table class="content-box-table">
                        <tbody>
                        <tr>
                            <td class="contract-info-title">Catégorie</td>
                            <td>{{ hall.step }}</td>
                        </tr>
                        <tr>
                            <td class="contract-info-title">Capacité</td>
                            <td>{{ hall.capacity }} personnes</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}