{% extends "base.html.twig" %}

{% block open_graph %}
    <meta property="og:title" content="Un-Mute | Découvrez, soutenez, produisez"  />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" />
    <meta property="og:image" content="{{ absolute_url(asset('images/logo.png')) }}" />
{% endblock %}

{% block header %}
    {% include ':patterns:header.html.twig' %}
{% endblock %}

{% block body_attributes %}class="bg-white"{% endblock %}
{% block footer_attributes %}class="footer mt-0"{% endblock %}
{% block main_attributes %}class="pt-3"{% endblock %}

{% block body %}

    <div class="container-fluid mb-3 mb-md-0">
        <div class="row">
            <div class="col-12 col-md-6">
                <h3 class="text-center mb-4 mt-3">{{ 'home.concept.title'|trans|raw }}</h3>
                <p class="mb-4">
                    {{ 'home.concept.content_1'|trans|raw }}
                </p>
                <p class="mb-4">
                    {{ 'home.concept.content_2'|trans({'%about_url': path('about')})|raw }}
                </p>
            </div>

            <div class="col-12 col-md-6 my-auto">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1iaXE7ThxoM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-body-strong">
        <div class="row">
            <div class="col-12 col-md-3 mt-4 mt-md-3">
                <h3>{{ 'home.concerts.title'|trans|raw }}<img width="90" class=" pl-3 img-fluid um-icon" src="{{ asset('images/icons/event.png') }}" /></h3>

                <p class="mt-3">
                    {{ 'home.concerts.content'|trans|raw }}
                </p>

                <div class="mt-3">
                    <a class="small btn btn-primary font-weight-bold" href="{{ path('catalog_crowdfundings') }}">{{ 'home.concerts.see_all'|trans|raw }}</a>
                </div>
            </div>

            {% for crowdfunding in crowdfundings %}
                {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': crowdfunding, 'md':3, 'xs': 12, 'news': false} %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid bg-white">
        <h3 class="text-center">{{ 'home.news.title'|trans|raw }}</h3>
        <div class="row">
        {% for new in news %}
            {% if new.type == 'artist' %}
                {% include 'AppBundle:Public/Card:artist.html.twig' with {'artist': new.object, 'md':3, 'xs': 12, 'news':true} %}
            {% elseif new.type == 'contract' %}
                {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': new.object, 'md':3, 'xs': 12, 'news':true} %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div id="join-us" class="container-fluid bg-grey text-center">
        <h3>{{ 'home.join_us.title'|trans|raw }}</h3>
        <p class="text-center">
            {{ 'home.join_us.content_1'|trans({'%about_url%': path('about') ~ '#advantages-producers', '%catalog_url%':path('catalog_artists')})|raw }}
        </p>
        <p class="text-center">
            {{ 'home.join_us.content_2'|trans({'%about_url%': path('about') ~ '#advantages-artists', '%register_url%':path('fos_user_registration_register')})|raw }}
        </p>
        <p class="text-center">
            {{ 'home.join_us.content_3'|trans({'%contact_url%': path('suggestionBox')})|raw }}
        </p>

        <p class="text-center">
            <a href="{{ path('about') }}" class="btn btn-outline-primary small mt-2">{{ 'home.join_us.more_info'|trans|raw }}</a>
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary small ml-0 ml-md-2 mt-2">{{ 'home.join_us.login_link'|trans|raw }}</a>
        </p>
    </div>

{% endblock %}
