{% extends "base.html.twig" %}

{% block additional_metas %}
    <meta name="google-site-verification" content="YPTGtQFS6XZ2KSoHIOWAVIoosrK_-hyOTqq1TRTAUM8" />
{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ 'home.og_title'|trans }}"  />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" />
    <meta property="og:image" content="{{ absolute_url(asset('images/logo.png')) }}" />
{% endblock %}

{% block header %}
    {% include ':patterns:header.html.twig' with {'home_header': true} %}
{% endblock %}

{% block body %}
    <section id="home-festivals" class="container-fluid">
        <h2 class="home-section-title text-center mt-2 mt-lg-0">Le Festival pour artistes émergents</h2>
        <div class="card" style="width: 28rem;">
            <img class="card-img-top" src="images/festival.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">FESTIVAL UN-MUTE À LA FERME DU BIÉREAU</h5>
                <p class="card-text">ELYSIANE - THE CHORD STRIKERS - BRUNO MALHERBE - THOMAS FRANK HOPPER - HILLARY STEP</p>
                <a href="#" class="btn btn-primary1">PLUS D'INFOS</a>
                <a href="#" class="btn btn-primary rounded-pill">TICKETS</a>
            </div>
        </div>
    </section>

    <section id="home-about" class="container-fluid">
        <div class="container">
            <h2 class="home-section-title text-center mt-2 mt-lg-0">Un-Mute, c'est...</h2>
            <p>
                Un-Mute, c’est l’ASBL qui vous déniche les petites pépites de la scène belge !
                L’objectif est simple : rendre la scène indépendante locale accessible au public, grâce au système de financement participatif appliqué au monde des festivals.
            </p>
            <div class="row p-md-5 text-center">
                <div class="col-12 col-md-6 p-3">
                    <div class="about-item">
                        <i class="fas fa-handshake"></i>
                        <h3>Collaboratif</h3>
                        <p>Les artistes travaillent ensemble pour remplir la salle du festival, réunis derrière un objectif commun : le nombre de tickets minimum pour valider l'événement.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-3">
                    <div class="about-item">
                        <i class="fas fa-map-marked-alt"></i>
                        <h3>Local</h3>
                        <p>Il ne faut pas toujours chercher très loin pour trouver du talent... Près de chez vous, dans votre région, les artistes émergents ne demandent qu'à se faire entendre.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-3">
                    <div class="about-item">
                        <i class="fas fa-hand-paper"></i>
                        <h3>Participatif</h3>
                        <p>Le festival est produit sur base du financement collectif. Acheter un ticket revient à participer directement à la production de l'événement !</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-3">
                    <div class="about-item">
                        <i class="fas fa-headphones"></i>
                        <h3>Découverte</h3>
                        <p>Votre playlist fait toujours tourner les mêmes artistes ? Pourtant, ce n'est pas la variété qui manque. Nous vous avons déniché les pépites de demain !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#<section class="container-fluid position-relative text-center py-4" id="services">
        <h3 class="festival-section-title mt-2 mt-lg-0">Nos services</h3>
        <div class="row">
            <div class="col-12 col-md-6 my-auto">
                <img src="{{ asset('images/logo.png') }}" alt="Un-Mute" class="img-fluid" width="200">
                <p class="mt-4 big font-weight-bold text-italic"><a class="scroll" href="{{ path('homepage') }}#home">Un-Mute</a> : organisation de festivals collaboratifs par financement participatif</p>
            </div>

            <div class="col-12 col-md-6 my-auto">
                <a href="{{ url('yb_index') }}"><img src="{{ yb_asset('images/logo.svg') }}" alt="Ticked-it!" class="img-fluid p-3 px-md-4 px-lg-5"></a>
                <p class="mt-4 big font-weight-bold text-italic"><a href="{{ url('yb_index') }}">Ticked-it!</a> : plate-forme de ticketing en ligne et bon marché pour organisateurs</p>
            </div>
        </div>
    </section>#}

    <section class="container-fluid bg-white text-center" id="home-friends">
        <div class="container">
            <h2 class="home-section-title text-center mt-2 mt-lg-0">{{ 'home.partners.title'|trans }}</h2>
            <div class="row">
                <div class="my-auto col-6 col-sm-4 col-md-3 py-3"><a href="http://timetolunch.be/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/biy.jpg') }}" alt="Brussels is Yours"></a></div>
                <div class="my-auto col-6 col-sm-4 col-md-3 py-3"><a href="http://timetolunch.be/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/ttl.png') }}" alt="Time to lunch"></a></div>
                <div class="my-auto col-6 col-sm-4 col-md-3 py-3"><a href="http://brabantwallon.be/bw/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/bw.png') }}" alt="Province du Brabant Wallon"></a></div>
                <div class="my-auto col-6 col-sm-4 col-md-3 py-3"><a href="https://www.mybeerbox.be" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/mbb.png') }}" alt="My Beer Box"></a></div>
                <div class="my-auto col-6 col-sm-4 col-md-3 py-3"><a href="http://www.tacite.be" target="_blank"><img class="img-fluid" style="max-width: 80%;" src="{{ asset('images/friends/tacite.svg') }}" alt="Tacite, l'Allié des Artistes"></a></div>
                <div class="my-auto col-6 col-sm-4 col-md-3 py-3"><a href="https://www.facebook.com/cafedeshallesbxl/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/hsg.png') }}" alt="Café des Halles Saint-Géry"></a></div>
                <div class="my-auto col-6 col-sm-4 col-md-3 py-3"><a href="https://www.maisonsclothes.be" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/maisonclothes.png') }}" alt="Maison Clothes"></a></div>
                <div class="my-auto col-6 col-sm-4 col-md-3 py-3"><a href="http://www.whatthefun.be/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/wtf.png') }}" alt="What the Fun"></a></div>
            </div>
            <div class="separating-waves high prior"></div>
        </div>
    </section>
{% endblock %}

{% block additional_javascripts %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ url('homepage') }}",
      "logo": "{{ absolute_url(asset('images/logo/logo.png')) }}"
    }
    </script>
{% endblock %}
