{% extends "base.html.twig" %}

{% block open_graph %}
    <meta property="og:title" content="{{ 'home.og_title'|trans }}"  />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" />
    <meta property="og:image" content="{{ absolute_url(asset('images/logo.png')) }}" />
{% endblock %}

{% block header %}
    {% include ':patterns:header.html.twig' %}
{% endblock %}

{% block body_attributes %}class="bg-white"{% endblock %}
{% block main_attributes %}class="pt-0 pb-0"{% endblock %}

{% block body %}
    <div id="home-explanations" class="container-fluid mb-3 mb-md-0 bg-white">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-4 my-auto">
                        <img class="img-fluid" src="{{ asset('images/icons/blue/concert.png') }}" />
                    </div>
                    <div class="col-8 my-auto">
                        <span class="big">{{ 'home.concept.content_1'|trans|raw }}</span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 mt-3 mt-md-0">
                <div class="row">
                    <div class="col-4 my-auto">
                        <img  class="img-fluid" src="{{ asset('images/icons/blue/refund.png') }}" />
                    </div>
                    <div class="col-8 my-auto">
                        <span class="big">{{ 'home.concept.content_2'|trans|raw }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid-med-pad bg-body-strong" id="home-carousel-row">
        <h3 class="alt-title text-center">{{ 'home.concerts.title'|trans|raw }}</h3>
        <div class="jcarousel mx-auto my-auto">
            <ul>
                {% for crowdfunding in crowdfundings %}
                    <li>
                        {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': crowdfunding, 'md':12, 'xs': 12, 'news': false, 'bgwhite': true, 'clickable': false, 'card_classes': ['pb-3']} %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-3 w-100 text-center {% if crowdfundings|length > 1 and crowdfundings|length <= 3 %} d-block d-md-none{% endif %}">
            <div class="jcarousel-prev jcarousel-control btn btn-secondary rounded-circle d-inline-block"><img class="img-fluid" src="{{ asset('images/icons/arrow-left.svg') }}" /></div>
            <div class="jcarousel-next jcarousel-control btn btn-secondary rounded-circle d-inline-block"><img class="img-fluid" src="{{ asset('images/icons/arrow-right.svg') }}" /></div>
        </div>
    </div>

    <div class="container-fluid mb-3 mb-md-0 position-relative" id="home-spotlights">
        <div id="parallax-spotlights-bg" class="d-none d-md-block parallax"></div>
        <div class="row">
            <div class="col-12 col-md-6 my-auto text-white">
                <h3 class="alt-title text-center text-white">{% if spotlight.coartists is not empty %}{{ 'home.spotlights.title_1'|trans }}{% else %}{{ 'home.spotlights.title_2'|trans }}{% endif %}</h3>
                <div class="row">
                    {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {
                        'contract': spotlight,
                        'md':6,
                        'xs': 12,
                        'bgwhite': true,
                        'news': false
                    } %}

                    <div class="col-12 col-md-6 mt-4 my-md-auto">
                            <div class="spotlight-explanation">
                                {{ 'home.spotlights.headline'|trans({
                                    '%artist%': spotlight.artist,
                                    '%date%': ('Days ' ~ spotlight.dateConcert|date('w'))|trans|lower ~ ' ' ~ spotlight.dateConcert|date('d') ~ ' ' ~ ('months.' ~ spotlight.dateConcert|date('m'))|trans|lower,
                                }) }}
                                {% if spotlight.coartists is not empty %}
                                    <h4 class="mt-3">{{ 'home.spotlights.lineup.title'|trans }}</h4>
                                    <div class="mt-2">
                                        <span class="um-label text-white">{{ 'home.spotlights.lineup.host'|trans }}</span>
                                        <br /><a href="{{ path('artist_profile', {'id': spotlight.artist.id, 'slug': spotlight.artist.slug}) }}">{{ spotlight.artist }}</a>
                                    </div>
                                    <div class="mt-3">
                                        <span class="um-label text-white">{{ 'home.spotlights.lineup.invited'|trans }}</span>
                                        {% for coartist in spotlight.coartists %}
                                            <br /><a href="{{ path('artist_profile', {'id': coartist.id, 'slug': coartist.slug}) }}">{{ coartist }}</a>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="mt-3">
                                        @{{ spotlight.hallConcert }} ({{ spotlight.hallConcert.province }})
                                    </div>

                                {% endif %}
                                <h4 class="mt-3">{{ 'home.spotlights.tickets.title'|trans }}</h4>
                                {% set spotlight_url = path('artist_contract', {'id': spotlight.id, 'slug': spotlight.artist.slug}) %}
                                {% if not spotlight.isSoldOut %}
                                    <span class="badge badge-success">{{ 'home.spotlights.tickets.selling'|trans }}</span> <a href="{{ spotlight_url }}" class="btn small btn-outline-primary p-2">Acheter</a>
                                {% else %}
                                    <a href="{{ spotlight_url }}" class="btn btn-outline-secondary">{{ 'home.spotlights.tickets.soldout'|trans }}</a>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4 my-md-auto">
                <h3 class="alt-title text-center text-white">{{ 'home.spotlights.video.title'|trans }}</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <div class="youtube embed-responsive-item" id="qvHUpid7sC4"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="container-fluid bg-body-light py-4">
        <h3 class="alt-title text-center">{{ 'home.news.title'|trans|raw }}</h3>
        <div class="row">
        {% for new in news %}
            {% if new.type == 'artist' %}
                {% include 'AppBundle:Public/Card:artist.html.twig' with {'artist': new.object, 'md':3, 'xs': 12, 'news':false, 'bgwhite': true} %}
            {% elseif new.type == 'contract' %}
                {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': new.object, 'md':3, 'xs': 12, 'news':true, 'bgwhite': true} %}
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div id="join-us" class="container-fluid bg-grey text-center position-relative py-4">
        <h3 class="alt-title">{{ 'home.join_us.title'|trans|raw }}</h3>
        <p class="text-center">
            {{ 'home.join_us.content_1'|trans({'%about_url%': path('about') ~ '#advantages-producers', '%catalog_url%':path('catalog_artists')})|raw }}
        </p>
        <p class="text-center">
            {{ 'home.join_us.content_2'|trans({'%about_url%': path('about') ~ '#advantages-artists', '%register_url%':path('fos_user_registration_register')})|raw }}
        </p>
        <p class="text-center">
            {{ 'home.join_us.content_3'|trans({'%contact_url%': path('suggestionBox')})|raw }}
        </p>

        <p class="text-center">
            <a href="{{ path('about') }}" class="btn btn-outline-primary small mt-2">{{ 'home.join_us.more_info'|trans|raw }}</a>
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary small ml-0 ml-md-2 mt-2">{{ 'home.join_us.login_link'|trans|raw }}</a>
        </p>
    </div>

    <div class="container-fluid bg-body-light text-center py-4" id="friends">

        <h3 class="alt-title">{{ 'home.partners.title'|trans }}</h3>
        <div id="friends-carousel" class="carousel slide py-4" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="my-auto col-4 col-sm-2 offset-1"><a href="http://www.tacite.be" target="_blank"><img class="img-fluid" style="max-width: 80%;" src="{{ asset('images/friends/tacite.png') }}" alt="Tacite, l'Allié des Artistes"></a></div>
                        <div class="my-auto col-7 col-sm-4"><a href="http://www.musicaction.be/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/musicaction.png') }}" alt="Music Action"></a></div>
                        <div class="mt-3 my-sm-auto col-7 offset-3 offset-sm-0 col-sm-4"><a href="https://www.maisonsclothes.be" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/maisonclothes.png') }}" alt="Maison Clothes"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_javascripts %}

    <script type="text/javascript">
        $(function() {
            var $header = $('header');
            var $header_height = $('header').outerHeight();
            function parallax(){
                var desktop = $('#logo-video-container').is(":visible");
                var scrolled = $(window).scrollTop();
                if(desktop) {
                    $header.css({'background-position-y':  (( scrolled * 1.4 - $header_height / 2) + 'px')});
                }
                else {
                    $header.css('background-position-y', 'center');
                }
                $('#parallax-spotlights-bg').css('top', -(scrolled * 0.5) + 'px');
            }
            $(window).scroll(function(e){
                parallax();
            });
            parallax();
        });
    </script>


    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ url('homepage') }}",
      "logo": "{{ absolute_url(asset('images/logo/logo.png')) }}"
    }
    </script>
{% endblock %}
