{% extends "base.html.twig" %}

{% block additional_metas %}
    <meta name="google-site-verification" content="YPTGtQFS6XZ2KSoHIOWAVIoosrK_-hyOTqq1TRTAUM8" />
{% endblock %}

{% block header %}
    {% include ':patterns:header.html.twig' with {'home_header': true} %}
{% endblock %}

{% block body %}
    <section id="festival" class="container-fluid py-4">
        <h2 class="home-section-title text-center mt-2 mt-lg-0">Le Festival pour artistes émergents</h2>
        {% for festival in festivals %}
            <div class="card">
                {% set image_url = festival.photo is not null ? festival.webPath(festival.photo) : 'images/festival.jpg' %}
               <a class="texty-white" href="{{ path('artist_contract', {'id': festival.id, 'slug': festival.getSlug}) }}">
                    <div class="card-img-top round-top" style="background-image:url('{{ absolute_url(asset(image_url))}}')">
                        <h3 class="d-none">{{ festival.getTitle }}</h3>
                    </div>
               </a>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 text-left">
                            <i class="text-primary fas fa-calendar-alt light-icon"></i>
                            <span class="card-text">{{ festival.displayDates }}</span>
                        </div>
                        <div class="col-6 text-right">
                            <i class="text-primary fas fa-map-marker-alt light-icon"></i>
                            <span class="card-text text-uppercase">{{ festival.displayHalls }}</span>
                        </div>
                        <div class="col-12">
                            <p class="card-text text-uppercase my-3">{% for perf in festival.successfulPerformances %}{{ perf.artist }}{% if not loop.last %} - {% endif %}{% endfor %}</p>
                            <div class="text-right">
                                <a href="{{ path('artist_contract', {'id': festival.id, 'slug': festival.getSlug}) }}" class="card-text btn btn-primary1">PLUS D'INFOS</a>
                                <a href="{{ path('tickets_marketplace') }}" class="btn btn-primary rounded-pill">TICKETS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <p class="p-4">
                    Le prochain Festival Un-Mute aura lieu les <u>16-17 mai 2020</u>. Les campagnes de financement participatif se feront cette fois par affiche - une affiche regroupant 5 à 6 artistes qui joueront, en cas de validation de l'affiche, sur une même scène lors du festival.
                    <br /><br />
                    <b>Lieu</b> : l'espace SeeU, à Ixelles (à deux pas de la gare d'Etterbeek !)<br />
                    <b>Tickets</b> : en vente dès février !
                </p>
                    <div class="text-center">Revenez vite pour plus d'informations...</div>
            </div>
        {% endfor %}
    </section>


    <section id="about" class="container-fluid py-3 text-white">
        <div class="container">
            <h2 class="home-section-title text-center my-4   mt-lg-0">Un-Mute, c'est...</h2>
            <p class="font-weight-500">
                Un-Mute, c’est l’ASBL qui vous déniche les petites pépites de la scène belge !
                L’objectif est simple : rendre la scène indépendante locale accessible au public, grâce au système de financement participatif appliqué au monde des festivals.
            </p>
            <div class="row pb-md-5 px-md-5 text-center text-dark">
                <div class="col-12 col-md-6 col-lg-3 p-3">
                    <div class="about-item py-5">
                        <i class="fas fa-handshake"></i>
                        <h3 class="text-capitalize my-4">Collaboratif</h3>
                        <p class="font-weight-300">Les artistes travaillent ensemble pour remplir la salle du festival, réunis derrière un objectif commun : le nombre de tickets minimum pour valider l'événement.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 p-3">
                    <div class="about-item py-5">
                        <i class="fas fa-map-marked-alt"></i>
                        <h3 class="text-capitalize my-4">Local</h3>
                        <p class="font-weight-300">Il ne faut pas toujours chercher très loin pour trouver du talent... Près de chez vous, dans votre région, les artistes émergents ne demandent qu'à se faire entendre.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 p-3">
                    <div class="about-item py-5">
                        <i class="fas fa-hand-paper"></i>
                        <h3 class="text-capitalize my-4">Participatif</h3>
                        <p class="font-weight-300">Le festival est produit sur base du financement collectif. Acheter un ticket revient à participer directement à la production de l'événement !</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 p-3">
                    <div class="about-item py-5">
                        <i class="fas fa-headphones"></i>
                        <h3 class="text-capitalize my-4">Découverte</h3>
                        <p class="font-weight-300">Votre playlist fait toujours tourner les mêmes artistes ? Pourtant, ce n'est pas la variété qui manque. Nous vous avons déniché les pépites de demain !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#<section class="container-fluid position-relative text-center py-4" id="services">
        <h3 class="festival-section-title mt-2 mt-lg-0">Nos services</h3>
        <div class="row">
            <div class="col-12 col-md-6 my-auto">
                <img src="{{ asset('images/logo.png') }}" alt="Un-Mute" class="img-fluid" width="200">
                <p class="mt-4 big font-weight-bold text-italic"><a class="scroll" href="{{ path('homepage') }}#home">Un-Mute</a> : organisation de festivals collaboratifs par financement participatif</p>
            </div>

            <div class="col-12 col-md-6 my-auto">
                <a href="{{ url('yb_index') }}"><img src="{{ yb_asset('images/logo.svg') }}" alt="Ticked-it!" class="img-fluid p-3 px-md-4 px-lg-5"></a>
                <p class="mt-4 big font-weight-bold text-italic"><a href="{{ url('yb_index') }}">Ticked-it!</a> : plate-forme de ticketing en ligne et bon marché pour organisateurs</p>
            </div>
        </div>
    </section>#}

    <section class="container-fluid bg-white text-center" id="home-friends">
        <div class="container">
            <h2 class="home-section-title text-center mt-2 mt-lg-0">{{ 'home.partners.title'|trans }}</h2>

            <div class="center mt-2 mb-5">
                <p>Avec le soutien de la Fédération Wallonie-Bruxelles</p>
               <!-- <div class="my-auto col-4 offset-sm-0 col-sm-3 col-md-2 offset-md-2 py-3">-->
                <a href="http://federation-wallonie-bruxelles.be" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/fwb.png') }}" alt="Fédération Wallonie-Bruxelles"></a>
            </div>

            <div class="row">
                <div class="my-auto col-4 col-sm-3 offset-sm-2 offset-md-0 col-md-2 py-3"><a href="http://brusselsisyours.com/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/biy.jpg') }}" alt="Brussels is Yours"></a></div>
                <div class="my-auto col-4 col-sm-3 col-md-2 py-3"><a href="https://www.mybeerbox.be" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/mbb.png') }}" alt="My Beer Box"></a></div>
                <div class="my-auto col-4 col-sm-3 col-md-2 py-3"><a href="http://www.tacite.be" target="_blank"><img class="img-fluid" style="max-width: 80%;" src="{{ asset('images/friends/tacite.svg') }}" alt="Tacite, l'Allié des Artistes"></a></div>
                <div class="my-auto col-4 col-sm-3 offset-sm-2 offset-md-0 col-md-2 py-3"><a href="https://www.facebook.com/cafedeshallesbxl/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/hsg.png') }}" alt="Café des Halles Saint-Géry"></a></div>
                <div class="my-auto col-4 col-sm-3 col-md-2 py-3"><a href="https://www.maisonsclothes.be" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/maisonclothes.png') }}" alt="Maison Clothes"></a></div>
                <div class="my-auto col-4 col-sm-3 col-md-2 py-3"><a href="http://www.whatthefun.be/" target="_blank"><img class="img-fluid" src="{{ asset('images/friends/wtf.png') }}" alt="What the Fun"></a></div>
            </div>
            <div class="separating-waves high prior"></div>
        </div>
    </section>
{% endblock %}

{% block additional_javascripts %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "{{ url('homepage') }}",
      "logo": "{{ absolute_url(asset('images/logo/logo.png')) }}"
    }
    </script>
{% endblock %}
