{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="toShow">
            <h3 class="text-center mb-4">{{ 'proposition.title'|trans|raw }}</h3>
            <p class="mb-3">{{ 'proposition.intro'|trans|raw }}</p>
            <div class="content-box">
                {{ form_start(form) }}
                <div class="content-box-content">
                    <u><p class="font-italic">{{ 'proposition.contact_person'|trans|raw }}</p></u>

                    {#Form contact person#}
                    <div class="form-group form-row">
                        <div class="col-12">
                            {{ form_row(form.contactPerson.lastname) }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-12">
                            {{ form_row(form.contactPerson.firstname) }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-12">
                            {{ form_row(form.contactPerson.phone) }}
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-12">
                            {{ form_row(form.contactPerson.mail) }}
                        </div>
                    </div>

                    {#First radio button#}
                    <div class="radioConcertType">
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_row(form.radioPropositionType) }}
                            </div>
                        </div>
                    </div>
                    <div class="redirection">
                        <p class="font-italic">{{ 'proposition.redirection'|trans({'%url%':path("suggestionBox")})|raw }}</p>
                    </div>
                </div>
                <div class="brConcert">
                    <br>
                </div>
                <div class="form-concert">
                    <div class="content-box-content">
                        <u><p class="font-italic">{{ 'proposition.artist'|trans|raw }}</p></u>
                        <div class="radioArtist">
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.radioArtist) }}
                                </div>
                            </div>
                        </div>
                        {#Form Artist#}
                        <div class="form-new-artist">
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.propositionArtist.artistname) }}
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.propositionArtist.demo_link) }}
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.propositionArtist.genres) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-select-artist">
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.artist) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="content-box-content">
                        {#Form Event#}
                        <u><p class="font-italic">{{ 'proposition.event'|trans|raw }}</p></u>
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_row(form.reason) }}
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_row(form.nb_expected) }}
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_row(form.payable) }}
                            </div>
                        </div>
                        <p class="mark small">{{ 'proposition.explication'|trans|raw }}</p>
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_row(form.period_start_date) }}
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_row(form.period_end_date) }}
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_row(form.day_commentary) }}
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col-12">
                                {{ form_row(form.commentary) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="content-box-content">
                        <u><p class="font-italic">{{ 'proposition.place'|trans|raw }}</p></u>
                        <div class="radioHall">
                            <div class="form-group form-row ">
                                <div class="col-12">
                                    {{ form_row(form.radioHall) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-new-hall">
                            {#Form Hall#}
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.propositionHall.name) }}
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.propositionHall.contact_email) }}
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.propositionHall.contact_phone) }}
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <div class="col-12">
                                    {{ form_row(form.propositionHall.province) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row form-province">
                            <div class="col-12">
                                {{ form_row(form.province) }}
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.submit) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block additional_javascripts %}
    <script>

        checkRadio();

        $('input[type=radio]').change(function () {
            checkRadio();
        });

        function checkRadio() {
            if ($('.proposition-type').find('input[type=radio]:checked').val() === undefined) {
                hide('.redirection');
                hide('.form-concert');
            } else if ($('.proposition-type').find('input[type=radio]:checked').val() == true) {
                hide('.redirection');
                show('.form-concert', '.brConcert');
            }
            else if ($('.proposition-type').find('input[type=radio]:checked').val() == false) {
                hide('.form-concert');
                show('.redirection', '.radioConcertType');
            }
            if ($('.artist-choice').find('input[type=radio]:checked').val() === undefined) {
                hide('.form-new-artist');
                hide('.form-select-artist');
            } else if ($('.artist-choice').find('input[type=radio]:checked').val() == true) {
                hide('.form-new-artist');
                show('.form-select-artist', '.radioArtist');
            } else {
                show('.form-new-artist', '.radioArtist');
                hide('.form-select-artist');
            }
            if ($('.hall-choice').find('input[type=radio]:checked').val() === undefined) {
                hide('.form-new-hall');
                hide('.form-province');
            } else if ($('.hall-choice').find('input[type=radio]:checked').val() == true) {
                show('.form-new-hall','.radioHall');
                hide('.form-province');
            } else {
                hide('.form-new-hall');
                show('.form-province', '.radioHall');
            }
        }

        /*$('form').submit( function(e) {
           $('.hidden').remove();
           console.log("coucou");
        });*/

        function hide(className) {
            var classToHide;
            classToHide = $(className).detach();
            $(classToHide).insertAfter('.toShow');
            $(classToHide).hide();
        }

        function show(className, parent) {
            var classToShow;
            classToShow = $(className).detach();
            $(classToShow).insertAfter(parent);
            $(classToShow).show();
        }
    </script>
{% endblock %}