{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h3 class="text-center mb-3">{{ 'team.title'|trans|raw }}</h3>

        <div class="row">
            <div class="col-12 col-md-4 content-box">
                {% include '@App/Public/ContentBox/static_links.html.twig' with {'no_link': ['team']} %}
            </div>

            <div class="col-12 col-md-8 static-content">
                <div class="content-box">
                    <div class="content-box-content content-box-content-zones">
                        <div class="content-box-content-zone">
                            <div class="row">
                                <div class="col-12 col-md-4 text-center">
                                    <img class="img-fluid um-icon um-icon py-3 py-md-0 rounded-circle" src="{{ asset('images/team/piet.png') }}" />
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>
                                        {{ 'team.members.pierre'|trans|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-content-zone">
                            <div class="row">
                                <div class="col-12 col-md-4 text-center">
                                    <img class="img-fluid um-icon py-3 py-md-0 rounded-circle" src="{{ asset('images/team/gonzague.jpg') }}" />
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>
                                        {{ 'team.members.gonzague'|trans|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-content-zone">
                            <div class="row">
                                <div class="col-12 col-md-4 text-center">
                                    <img class="img-fluid um-icon py-3 py-md-0 rounded-circle" src="{{ asset('images/team/louis.jpg') }}" />
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>
                                        {{ 'team.members.louis'|trans|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-content-zone">
                            <div class="row">
                                <div class="col-12 col-md-4 text-center">
                                    <img class="img-fluid um-icon py-3 py-md-0 rounded-circle" src="{{ asset('images/team/alice.jpg') }}" />
                                </div>
                                <div class="col-12 col-md-8">
                                    <p>
                                        {{ 'team.members.alice'|trans|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-box-header">
                        <h3>{{ 'pillars.title'|trans|raw }}</h3>
                    </div>
                    <div class="content-box-content content-box-content-zones">
                        <div class="content-box-content-zone">
                            <p>
                                {{ 'pillars.intro'|trans|raw }}
                            </p>
                        </div>
                        <div class="content-box-content-zone">
                            <div class="row">
                                <div class="col-12 col-md-4 text-center my-auto">
                                    <img class="img-fluid um-icon" src="{{ asset('images/icons/accessibility.png') }}" />
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="um-label um-semi-bold">{{ 'pillars.accessibility.title'|trans|raw }}</div>
                                    <p>{{ 'pillars.accessibility.content'|trans|raw }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="content-box-content-zone">
                            <div class="row">
                                <div class="col-12 col-md-8 order-2 order-md-1">
                                    <div class="um-label um-semi-bold">{{ 'pillars.continuity.title'|trans|raw }}</div>
                                    <p>{{ 'pillars.continuity.content'|trans({'%faq_url%': path('faq')})|raw }}</p>
                                </div>
                                <div class="col-12 col-md-4 text-center order-1 order-md-2 my-auto">
                                    <img class="img-fluid um-icon" src="{{ asset('images/icons/continuity.png') }}" />
                                </div>
                            </div>
                        </div>

                        <div class="content-box-content-zone">
                            <div class="row">
                                <div class="col-12 col-md-4 text-center my-auto">
                                    <img class="img-fluid um-icon" src="{{ asset('images/icons/synergy.png') }}" />
                                </div>
                                <div class="col-12 col-md-8">
                                    <div class="um-label um-semi-bold">{{ 'pillars.synergy.title'|trans|raw }}</div>
                                    <p>{{ 'pillars.synergy.content'|trans|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}