{% extends "base.html.twig" %}

{% block header %}
    {% include ':patterns:header.html.twig' with {'img': '', 'title': 'Tickets'} %}
{% endblock %}
{% block body %}
    {% if form.contracts is not empty %}
        {{ form_start(form) }}

        {% set nb_contracts_ok = 0 %}
        {% for contract in form.contracts %}
            {% set contractArtist = contract.vars.data.contractArtist %}
            <section class="container-fluid bg-black text-center text-gray p-4">
                <h2 class="text-primary">Financement participatif</h2>
                <div class="row text-white">
                    <div class="col-12 col-md-6 text-uppercase my-auto">
                        Date de validation<br />
                        <b class="text-white">{{ contractArtist.dateEnd|date('d/m/Y') }}</b>{% set orders = contractArtist.nbOrdersPaid %}
                        {% if orders > 0 %}<br />
                        <b class="text-white">{{ orders }} contributeur{% if orders > 1 %}s{% endif %}</b>{% endif %}
                    </div>
                    <div class="col-12 col-md-6 text-uppercase">
                        {% if contractArtist.state in contractArtist.successfulStates %}
                            <div class="d-inline-block align-middle pr-3">
                                <i class="round-icon fas fa-check"></i>
                            </div>
                        {% endif %}
                        <div class="d-inline-block align-middle">
                            {{ ('event.'~contractArtist.state)|trans({'%soldout_percentage%':contractArtist.percentSoldOutRelativeToObjective})|raw }}
                        </div>
                    </div>
                </div>
            </section>


            <section class="container-fluid p-5">
                <div class="row">
                    <div class="col-12 col-md-4 offset-md-2 text-left my-auto">
                        <h2 class="no-upper">{{ contractArtist.getTitle }}</h2>
                        <div><i class="text-primary fas fa-calendar-alt"></i> {{ contractArtist.displayDates }}</div>
                        <div><i class="text-primary fas fa-map-marker-alt"></i> {{ contractArtist.displayHalls }}</div>

                        {% if not contractArtist.crowdable %}
                            <p class="w-50 font-weight-bold">Il n'est pas possible à l'heure actuelle d'acheter de tickets pour ce festival.</p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-4 text-right my-auto">
                        <a class="btn btn-primary text-uppercase" href="{{ path('artist_contract', {'id': contractArtist.id, 'slug': contractArtist.getSlug}) }}">Plus d'infos</a>
                    </div>
                </div>

                {% if contractArtist.crowdable %}
                    {% set nb_contracts_ok = nb_contracts_ok + 1 %}
                    {% for purchase in contract.children.purchases %}
                        <div class="row my-2">
                        {% set counterpart = purchase.vars.value.counterpart %}
                            <div class="col-12 col-md-4 offset-md-2 py-3 y-middle bg-black text-center round-left">
                                <label><h3 class="text-primary text-uppercase m-0">{{ counterpart.name }}</h3></label>
                            </div>

                            <div class="col-12 col-md-5 py-2 y-middle bg-white row round-right h-100">
                                <div class="col-6 col-md-8 py-2 my-auto">
                                    <div>{{ form_errors(purchase) }}</div>
                                    <p>{{ counterpart.getDescription|raw }}</p>
                                    <div class="font-weight-bold">{{ counterpart.price }} €</div>
                                </div>
                                <div class="col-4 col-md-2 py-2 my-auto">
                                    {% if counterpart.disabled %}
                                        {% do purchase.setRendered(true) %}
                                        <p><i>Pas disponible pour l'instant</i></p>
                                    {% elseif contractArtist.nbAvailable(counterpart) == 0 %}
                                        {% do purchase.setRendered(true) %}
                                        <p><i>SOLD OUT</i></p>
                                    {% else %}
                                        <div class="count-input space-bottom" data-price="{{ counterpart.price }}">
                                            <a class="incr-btn" data-action="decrease" href="#">–</a>
                                            {{ form_widget(purchase.quantity) }}
                                            <a class="incr-btn" data-action="increase"
                                               data-max="{{ contractArtist.nbAvailable(counterpart) }}"
                                               href="#">&plus;</a>
                                        </div>
                                        {% if counterpart.potentialArtists is not empty %}
                                            <div class="select2-artists">
                                                Si vous venez en particulier pour un ou plusieurs artiste(s), mentionnez-le(s) :
                                                {{ form_widget(purchase.artists) }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% do contract.setRendered %}
            </section>
        {% endfor %}

        {% if nb_contracts_ok > 0 %}
            <section class="text-center mt-4 mb-5">
                <span class="pr-4">TOTAL : <span class="um-label-bold" id="cart-total">0</span> €</span>
                {{ form_widget(form.submit) }}
            </section>
        {% else %}
            {% do form.submit.setRendered %}
        {% endif %}

        {{ form_end(form) }}
    {% else %}
        <p class="w-50 font-weight-bold">
            Soyez prêts, de nouveaux festivals seront annoncés prochainement - et les tickets seront alors mis en vente !
        </p>
    {% endif %}
{% endblock %}