
{{  form_start(form) }}

<div class="form-group form-row">
    <div class="col-12">
        {{ form_row(form.type) }}
    </div>
</div>

{% if form.firstname is defined %}
<div class="form-group form-row">
    <div class="col-12">
        {{ form_row(form.name) }}
    </div>
    <div class="col-12">
        {{ form_row(form.firstname) }}
    </div>
</div>
{% endif %}

<div class="form-group form-row">
    {% if form.email is defined %}
        <div class="col-12" id="suggestion_form_email">
            {{ form_row(form.email) }}
        </div>
    {% endif %}
    <div class="col-12">
        {{ form_row(form.object) }}
    </div>
</div>

<div class="form-group form-row">
    <div class="col-12">{{ form_row(form.message) }}</div>
    <div class="col-12">{{ form_row(form.mailCopy) }}</div>
</div>

    {{ form_row(form.submit) }}

{{ form_end(form) }}