{% for contract in cart.contracts %}
    <ul>
        {% for purchase in contract.purchases %}
            <li>
                {{ purchase.counterpart.name }} (quantité : {{ purchase.quantity }}, prix unitaire : {{ purchase.counterpart.price }} €, prix total : {{ purchase.amount }} €)
                <br /> Événement soutenu : {% if editable_cart %}<a href="{{ path('artist_contract', {'id':contract.contractArtist.id }) }}">{% endif %}concert de {{ contract.contractArtist.artist.artistname }}{% if editable_cart %}</a>{% endif %}
                {% if editable_cart %}<button class="btn btn-secondary remove-from-cart-button" purchase="{{ purchase.id }}">supprimer du panier</button>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endfor %}