{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h3 class="mb-3 text-center">{{ 'new_artist.title'|trans|raw }}</h3>

        <p>
            {{ 'new_artist.intro'|trans({'%catalog_url%':path('catalog_artists') })|raw }}
        </p>
        <p>
            <strong>{{ 'new_artist.warning'|trans|raw }}</strong>
        </p>

        <div class="content-box mt-3">
            <div class="content-box-content">
                {% form_theme form 'jquery.collection.html.twig' %}

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_row(form.artistname) }}
                    {{ form_row(form.province) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.province) }}
                    {{ form_row(form.genres) }}
                </div>

                {{ form_row(form.translations) }}

                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-10">
                    <p>{{ 'new_artist.phone_explanation'|trans|raw }}</p>
                    {{ form_row(form.phone) }}
                </div>

                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-10">
                    {{ 'new_artist.urls_explanation'|trans|raw }}
                </div>

                <div class="form-group">
                    {{ form_row(form.website) }}
                    {{ form_row(form.facebook) }}
                    {{ form_row(form.twitter) }}
                    {{ form_row(form.spotify) }}
                    {{ form_row(form.soundcloud) }}
                    {{ form_row(form.bandcamp) }}
                    {{ form_row(form.instagram) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.accept_conditions) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}