{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h3 class="mb-3 text-center">Nouvel artiste</h3>

        <p>
            Pour créer un artiste sur Un-Mute, merci de remplir le formulaire suivant.
            Une fois votre artiste créé, il apparaîtra dans le <a href="{{ path('catalog_artists') }}">catalogue des artistes Un-Mute</a>
            et vous pourrez ajouter des photos et vidéos de cet artiste.
        </p>
        <p>
            <strong>En créant un artiste, vous certifiez en être le propriétaire ou un des membres, s'il s'agit d'un groupe.</strong>
        </p>

        <div class="content-box mt-3">
            <div class="content-box-content">
                {% form_theme form 'jquery.collection.html.twig' %}

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_row(form.artistname) }}
                    {{ form_row(form.province) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.province) }}
                    {{ form_row(form.genres) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.website) }}
                    {{ form_row(form.facebook) }}
                    {{ form_row(form.twitter) }}
                    {{ form_row(form.spotify) }}
                </div>


                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}