{% extends "base.html.twig" %}

{% block headtitle %}Mes commandes | Un-Mute{% endblock  %}

{% block header %}
    {% include ':patterns:header.html.twig' with {'title': 'my_orders.title'|trans|raw, 'img': ''} %}
{% endblock %}

{% block body %}
    <div class="container">
        {%  if carts is not empty and possible_sponsorship_event is not empty %}
            <div class="text-right mt-4">
                <button class="btn btn-primary btn-sm"
                        onclick="displaySponsorshipInvitationModal(null,false)">{{ 'my_orders.button.sponsorship'|trans|raw }}
                </button>
            </div>
        {% endif %}
        {% if carts is empty %}
            {{ 'my_orders.empty'|trans({'%catalog_url%': path('catalog_artists')})|raw }}
        {% else %}
            {% for cart in carts %}
                {% for contract in cart.contracts %}
                    <div class="my-3 form-block">
                        <div class="form-header"><h2>Commande #{{ contract.id }}</h2></div>
                        <div class="form-body">
                            <div class="font-weight-bold">
                                {% for purchase in contract.purchases %}
                                    {{ purchase.counterpart.name }}
                                    <br/>
                                {% endfor %}
                                {#<a href="{{ path('artist_contract', {'id':contract.contractArtist.id }) }}">#}
                                    {{ contract.contractArtist.getTitle }}
                                {#</a>#}
                            </div>

                            <div class="row mt-3 font-weight-light">
                                <div class="col-6 text-left text-uppercase px-3 py-2">
                                    {{ 'my_orders.labels.state'|trans|raw }}
                                </div>
                                <div class="col-6 border-left border-primary text-left pl-5 pr-2 py-2">
                                    {{ contract.state }}
                                </div>

                                <div class="col-6 text-left text-uppercase px-3 py-2">
                                    {{ 'my_orders.labels.date'|trans|raw }}
                                </div>
                                <div class="col-6 border-left border-primary text-left pl-5 pr-2 py-2">
                                    {{ contract.date|date('d/m/Y') }}
                                </div>


                                {% if contract.purchases|length == 1  %}
                                    {% for purchase in contract.purchases %}
                                        {% if purchase.artist is not null %}
                                            <div class="col-6 text-left text-uppercase px-3 py-2">
                                                Artiste soutenu
                                            </div>
                                            <div class="col-6 border-left border-primary text-left pl-5 pr-2 py-2">
                                               {{ purchase.artist }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <div class="col-6 text-left text-uppercase px-3 py-2">
                                    {{ 'my_orders.labels.quantity'|trans|raw }}
                                </div>

                                <div class="col-6 border-left border-primary text-left pl-5 pr-2 py-2">
                                    {% if contract.purchases|length > 1 %}
                                        {% for purchase in contract.purchases %}
                                            {{ purchase.quantity }}x "{{ purchase.counterpart.name }}" {% if purchase.quantityPromotional > 0 %}
                                            <br/>(promo {{ purchase.quantityOrganic }} + {{ purchase.quantityPromotional }}){% endif %}
                                            <br/>(prix unitaire : {{ purchase.unitaryPrice}} €)
                                            {% if purchase.artist is not null %}
                                                <br/>(artiste soutenu : {{ purchase.artist }})
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% for purchase in contract.purchases %}
                                            {{ purchase.quantity }}
                                            {% if purchase.quantityPromotional > 0 %}<br/>(promo {{ purchase.quantityOrganic }} + {{ purchase.quantityPromotional }}){% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="col-6 text-left text-uppercase px-3 py-2">
                                    {{ 'my_orders.labels.totalprice'|trans|raw }}
                                </div>
                                <div class="col-6 border-left border-primary text-left pl-5 pr-2 py-2">
                                    {{ contract.amount }} €
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                {% if not contract.refunded %}
                                    <a class="btn btn-primary" href="{{ path('user_get_order', {'id': cart.id}) }}" download="um_order_{{ cart.id }}.pdf">
                                        <img src="{{ asset('images/download.svg') }}" class="responsive-img pr-1"/>
                                        Confirmation de commande
                                    </a>
                                {% endif %}
                                {% if contract.contractArtist is instanceof('\\AppBundle\\Entity\\ContractArtist') and contract.contractArtist.ticketsSent and not contract.refunded %}
                                    <a class=" ml-4 btn btn-primary" href="{{ path('user_get_tickets', {'id': contract.id}) }}" download="um_ticket_{{ cart.first.id }}.pdf">
                                        <img src="{{ asset('images/download.svg') }}" class="responsive-img pr-1"/>
                                        Tickets
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {{ render(controller('AppBundle\\Controller\\UserController::displaySponsorshipModalAction',{
            'defined' : false
        } )) }}
    </div>
{% endblock %}

{% if refresh %}
    {% block javascripts %}
        {{ parent() }}
        <script>
            $.get("{{ url('recalculate_stats') }}");
        </script>
    {% endblock %}
{% endif %}