{% extends "base.html.twig" %}

{% block body %}

    <h1>Payer le contenu du panier</h1>

    {% for contract in cart.contracts %}
        Contrat de fan #{{ contract.id }} : en lien avec le contrat d'artiste <a href="{{ path('fan_see_contract', {'id': contract.contractArtist.id}) }}">#{{ contract.contractArtist.id }}</a>
        <br />
        Achats :
        <ul>
            {% for purchase in contract.purchases %}
                <li>{{ purchase.counterpart.name }} (quantité : {{ purchase.quantity }}, prix unitaire : {{ purchase.counterpart.price }} €)</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>En procédant au paiement de votre panier, vous assurez avoir lu les <a href="{{ path('conditions') }}">conditions d'utilisation</a>.</p>

    <form method="post" id="payment-form">

        <div class="form-row">
            {% if error_conditions %}
                erreur
            {% endif %}
            <label for="accept_conditions">J'ai lu et j'accepte</label><input id="accept_conditions" name="accept_conditions" type="checkbox" />
        </div>

        <div class="form-row" id="card-form-row">
            <label for="card-element">
                Credit or debit card
            </label>
            <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display Element errors -->
            <div id="card-errors" role="alert"></div>
        </div>

        <button>Submit Payment</button>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#card-form-row').hide();

        $('#accept_conditions').change(function(){
            if(this.checked) {
                $('#card-form-row').show();
            }
            else {
                $('#card-form-row').hide();
            }
        })

        var stripe = Stripe('pk_test_X1amQwEQval7q4Ay1po0QOXe');
        var elements = stripe.elements();

        var style = {
            base: {
                color: '#32325d',
                lineHeight: '24px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>
        card.mount('#card-element');

        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Create a token or display an error when the form is submitted.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the user if there was an error
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server
                    stripeTokenHandler(result.token);
                }
            });
        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }

    </script>


{% endblock %}