{% extends "base.html.twig" %}

{% block body %}

    <div class="container">

        <h3>Paiement de votre commande</h3>
        <div id="payment-intro">
            <p>
                Bienvenue dans l'espace sécurisé d'Un-Mute, {{ app.user.firstname }}. Vous pouvez ici effectuer le paiement de vos tickets et ainsi soutenir les artistes qui
                vous ont convaincu lors de votre visite.
            </p>


            <p>Vous avez décidé de commander les éléments suivants :</p>

            {% include "@App/User/cart_content.html.twig" with {'editable_cart': false} %}

            <p>
                En procédant au paiement de ces articles, vous assurez avoir lu les <a target="_blank" href="{{ path('conditions') }}">conditions d'utilisation</a>.
                Pour rappel, vos tickets vous seront remboursés s'il n'y a pas assez d'autres producteurs qui soutiennent cet artiste.
                Sinon, si cet événement a assez de succès, vous recevrez vos tickets par mail, et sur Un-Mute, quelques jours avant le concert.
                Dans le cas où l'artiste a déjà atteint le seuil de réussite du concert, alors vous recevrez vos tickets par e-mail dans la journée.
            </p>
        </div>

        <div class="row">

            <div class="col-12">
                <form method="post" action="{{ path('user_cart_payment_stripe') }}" id="payment-form">
                    <div class="form-row">
                        {% if error_conditions %}
                            <p class="alert alert-danger">Vous devez accepter les conditions d'utilisation pour continuer.</p>
                        {% endif %}
                        <label class="custom-control custom-checkbox pr-3" for="accept_conditions">
                            <input type="checkbox" id="accept_conditions" name="accept_conditions" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">J'accepte les conditions d'utilisation et je souhaite procéder au paiement</span>
                        </label>
                    </div>

                    <div class="form-row" id="card-form-row">
                        <div class="form-row form-group">
                            <div class="col-12">
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="payment-method" value="credit-card" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Carte de crédit</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="payment-method" value="debit-card" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Bancontact</span>
                                </label>
                            </div>
                        </div>

                        <div id="credit-card" class="form-row payment-method w-100" style="display:none;">
                            <div class="col-12">
                                <h5>
                                    Carte de crédit <a href="#" data-toggle="popover" title="Cartes autorisées" data-content="Nos paiements sont sécurisés par l'interface Stripe. Nous acceptons toutes les cartes de crédit.">+ d'infos</a>
                                </h5>
                                <p>Veuillez entrer votre numéro de carte de crédit, sa date d'expiration, ainsi que le cryptogramme visuel.</p>
                            </div>
                            <div class="col-12 col-md-8">
                                <div id="card-element">
                                    <!-- a Stripe Element will be inserted here. -->
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-primary mt-3" value="Payer avec ma carte de crédit" />
                            </div>
                        </div>

                        <div id="debit-card" class="payment-method w-100" style="display:none;">
                            <h5>
                               Payer par Bancontact <a href="#" data-toggle="popover" title="Cartes autorisées" data-content="Nos paiements sont sécurisés par l'interface Stripe. Nous acceptons toutes les cartes belges.">+ d'infos</a>
                            </h5>
                            <p>Vous serez redirigé vers la page d'autorisation de paiement de votre opérateur bancaire.</p>
                            <div id="bc-card-element">
                                <button type="button" class="btn btn-primary mt-3" id="choose-bancontact">
                                    Poursuivre avec Bancontact
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Used to display Element errors -->
        <div class="stripe-error alert alert-danger" role="alert"></div>
        <div id="stripe-loader">
            {{ hidden_loader() }}
        </div>
  </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        hideError();

        var $loader = $('#stripe-loader .loader'); 
        var $loaderexplanation = $('#stripe-loader .loader-explanation');

        var amount = {{ cart.amount * 100}};

        $('#card-form-row').hide();
        $('#accept_conditions').change(function(){
            if(this.checked) {
                $('#card-form-row').show();
            }
            else {
                $('#card-form-row').hide();
            }
            $('.error-notice').alert('close');
        });

        $('input[type=radio]').change(function() {
            hideError();
            if ($(this).val() == 'debit-card') {
                $('.payment-method').hide();
                $('#debit-card').show();
            }
            else if ($(this).val() == 'credit-card') {
                $('.payment-method').hide();
                $('#credit-card').show();
            }
        });

        var stripe = Stripe('pk_test_X1amQwEQval7q4Ay1po0QOXe');
        var elements = stripe.elements();
        // set publishable key for V2
        Stripe.setPublishableKey('pk_test_X1amQwEQval7q4Ay1po0QOXe');

        var card = elements.create('card', {
            hidePostalCode: true
        });
        card.mount('#card-element');

        $('#choose-bancontact').click(function(e) {
            e.preventDefault();
            displayLoader("Vous allez être redirigé vers la page d'autorisation de votre banque. Si rien ne se passe, veuillez réessayer.");

            stripe.createSource({
                type: 'bancontact',
                amount: amount,
                currency: 'eur',
                bancontact: {
                    preferred_language: 'fr'
                },
                owner: {
                    name: '{{ app.user.displayName }}',
                    email: '{{ app.user.email }}'
                },
                redirect: {
                    return_url: '{{ absolute_url(path('user_cart_payment_pending')) }}'
                },
                statement_descriptor: 'Achat Un-Mute - contrat {{ contract_fan.id }}'
            }).then(function(result) {
                on3DSSource(result);
            });
        });

        function onToken(result) {
            if (result.token) {
                Stripe.source.create({
                    type: 'card',
                    token: result.token.id
                }, onCardSource);
            } else if (result.error) {
                displayForm();
                displayError(result.error.message);
            }
        }

        function onCardSource(status, result) {
            if(result.error) {
                displayForm();
                displayError(result.error.message);
            }

            if(result.card.three_d_secure == 'required') {
                displayLoader("Vous allez être redirigé vers la page d'autorisation de votre banque. Si rien ne se passe, veuillez réessayer.");
                stripe.createSource({
                    type: 'three_d_secure',
                    amount: amount,
                    currency: "eur",
                    three_d_secure: {
                        card: result.id
                    },
                    redirect: {
                        return_url: '{{ absolute_url(path('user_cart_payment_pending')) }}'
                    }
                }).then(function(result) {on3DSSource(result)});
            }
            else {
                stripeTokenHandler(result);
            }
        }

        function on3DSSource(result) {
            hideError();
            Stripe.source.poll(
                    result.source.id,
                    result.source.client_secret,
                    onChargeable3DS);

            $.featherlight({
                iframe: result.source.redirect.url
            });
            displayLoader("<b>Ne quittez pas Un-Mute.be pendant l'opération.</b> Veuillez patienter, votre demande est en cours de traitement. Votre paiement sera validé dans quelques secondes...");

            $('#payment-intro').hide();
        }

        function onChargeable3DS(status, source) {
            if (source.status == 'chargeable') {
                $.featherlight.current().close();
                stripeTokenHandler(source);
            }
            else if (source.status == 'failed') {
                $.featherlight.current().close();
                displayError("L'authentification 3D Secure de votre carte bancaire a échoué. Le paiement, ainsi que votre commande, sont annulés. Clickez <a href=\"{{ path('artist_contract', {'id': contract_fan.contractArtist.id}) }}\">ici</a> pour revenir en arrière. ");
            }
            else if (source.status != 'pending') {
                $.featherlight.current().close();
                displayError("Une erreur inconnue s'est produite lors de l'authentification 3D Secure : " + source.status);
            }
        }

        $('#payment-form').submit(function(e) {
            e.preventDefault();

            displayLoader();
            var extraDetails = {
                name: '{{ app.user.displayName }}',
                email: '{{ app.user.username }}'
            };
            stripe.createToken(card, extraDetails).then(onToken);
        });

        function displayLoader(html) {
            $loader.show();
            $('form').hide();
            hideError();
            if(html) {
                $('.loader-explanation').html(html);
                $('.loader-explanation').show();
            }
            else {
                $loaderexplanation.hide();
            }
        }

        function displayForm() {
            $('form').show();
            $loader.hide();
            $loaderexplanation.hide();
        }

        function displayError(html) {
            $('.stripe-error').html(html);
            $('.stripe-error').show();
            $loader.hide();
            $loaderexplanation.hide();
        }

        function hideError() {
            $('.stripe-error').hide();
        }

        function stripeTokenHandler(source) {

            $('#payment-intro').hide();
            displayLoader("Paiement en cours... <b>Ne quittez pas cette page pendant le traitement de votre paiement.</b>");

            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeSource');
            hiddenInput.setAttribute('value', source.id);

            var hiddenInput2 = document.createElement('input');
            hiddenInput2.setAttribute('type', 'hidden');
            hiddenInput2.setAttribute('name', 'fancontract_id');
            hiddenInput2.setAttribute('value', '{{ contract_fan.id }}');

            var hiddenInput3 = document.createElement('input');
            hiddenInput3.setAttribute('type', 'hidden');
            hiddenInput3.setAttribute('name', 'amount');
            hiddenInput3.setAttribute('value', '' + amount);

            form.appendChild(hiddenInput);
            form.appendChild(hiddenInput2);
            form.appendChild(hiddenInput3);
            // Submit the form
            form.submit();
        }

    </script>


{% endblock %}