{% extends "base.html.twig" %}

{% block body %}
    <div class="container rewards-page">
        <h3 class="mb-3 text-center">{{ 'rewards.title'|trans|raw }}</h3>
        <div id="content-reward-list" class="content-box">
            <div class="row content-box-content">
                {% if rewards is empty %}
                    <div class="col-12">
                        <p>
                            {{ 'rewards.empty'|trans|raw }}
                        </p>
                    </div>
                {% else %}
                    <table id="rewards-table" class="table table-hover um-table">
                        {% for ur in rewards %}
                            <tr>
                                <td><b>{{ ur.reward.name }}</b></td>
                                <td>{{ preview(ur.reward.feature, 100)|raw }}</td>
                                <td>{{ ur.limitDate| date("m/d/Y") }}</td>
                                <td>
                                    <button class="btn btn-primary button-display-reward"
                                            onclick="displayRewardModal('{{ path('user_reward', {'id': ur.id}) }}')">{{ 'notifs.button'|trans|raw }}</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function disableAllButton() {
            $(".button-display-reward").each(function(){
                $(this).attr("disabled", true);
            });
        }

        function enableAllButton() {
            $(".button-display-reward").each(function(){
                $(this).attr("disabled", false);
            });
        }

        function displayRewardModal(url) {
            console.log("hello");
            disableAllButton();
            $.get(url,
                function (html) {
                    $(html).insertAfter($('#content-reward-list'));
                    enableAllButton();
                    $("#reward-display-modal").on("hidden.bs.modal", function () {
                        $("#reward-display-modal").remove();
                    }).modal();
                }
            ).fail(function (err) {
                console.log(err);
            });
        }
    </script>
    }

{% endblock %}