{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Votre paiement</h3>

        <form method="post" action="{{ path('user_cart_payment_stripe') }}" id="payment-form">
        </form>

        <div class="stripe-error alert alert-danger" role="alert"></div>
        <div id="stripe-loader">
            {{ hidden_loader(false) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        hideError();
        var $loader = $('#stripe-loader .loader');
        var $loaderexplanation = $('#stripe-loader .loader-explanation');
        var amount = {{ cart.amount * 100}};
        var stripe = Stripe('{{ stripe_api_public }}');
        var elements = stripe.elements();
        // set publishable key for V2
        Stripe.setPublishableKey('{{ stripe_api_public }}');
        Stripe.source.poll(
            '{{ source }}',
            '{{ client_secret }}',
            onChargeable3DS);
        displayLoader("<b>Ne quittez pas Un-Mute.be pendant l'opération.</b> Veuillez patienter, votre demande est en cours de traitement. Votre paiement sera validé dans quelques secondes...");
        function onChargeable3DS(status, source) {
            if (source.status == 'chargeable') {
                stripeTokenHandler(source);
            }
            else if (source.status == 'failed') {
                displayError("L'authentification 3D Secure de votre carte bancaire a échoué. Le paiement, ainsi que votre commande, sont annulés. Clickez <a href=\"{{ path('artist_contract', {'id': contract_fan.contractArtist.id}) }}\">ici</a> pour revenir en arrière. ");
            }
            // else if (source.status != 'pending') {
            //     displayError("Une erreur inconnue s'est produite lors de l'authentification 3D Secure : " + source.status);
            // }
        }
        function displayLoader(html) {
            $loader.show();
            $('form').hide();
            hideError();
            if(html) {
                $loaderexplanation.html(html);
                $loaderexplanation.show();
            }
            else {
                $loaderexplanation.hide();
            }
        }
        function displayError(html) {
            $('.stripe-error').html(html);
            $('.stripe-error').show();
            $loader.hide();
            $loaderexplanation.hide();
        }
        function hideError() {
            $('.stripe-error').hide();
        }
        function stripeTokenHandler(source) {
            $('#payment-intro').hide();
            displayLoader("Paiement en cours... <b>Ne quittez pas cette page pendant le traitement de votre paiement.</b>");
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeSource');
            hiddenInput.setAttribute('value', source.id);
            var hiddenInput2 = document.createElement('input');
            hiddenInput2.setAttribute('type', 'hidden');
            hiddenInput2.setAttribute('name', 'fancontract_id');
            hiddenInput2.setAttribute('value', '{{ contract_fan.id }}');
            var hiddenInput3 = document.createElement('input');
            hiddenInput3.setAttribute('type', 'hidden');
            hiddenInput3.setAttribute('name', 'amount');
            hiddenInput3.setAttribute('value', '' + amount);
            var hiddenInput4 = document.createElement('input');
            hiddenInput4.setAttribute('type', 'hidden');
            hiddenInput4.setAttribute('name', 'accept_conditions');
            hiddenInput4.setAttribute('value', 'true');
            form.appendChild(hiddenInput);
            form.appendChild(hiddenInput2);
            form.appendChild(hiddenInput3);
            form.appendChild(hiddenInput4);
            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}