{% block form_row %}

    <div class="form-group">

        {% do form.setRendered %}
        {{ form_label(form) }}

        {# Create #}
        {% if form.parent.vars.data.id is null %}
            <p>(Pas à la création)</p>
        {% else %}
            {% set object = form.parent.vars.data %}
            <div id="dropzone-admin-hall-photos" class="dropzone"></div>

            <script>
                $('document').ready(function() {

                    Dropzone.autoDiscover = false;

                    var $dropzone = $("div#dropzone-admin-hall-photos");

                    var mocks = [];
                    {% for photo in object.photos %}
                    mocks.push({
                        name: "{{ photo.filename }}",
                        url: "{{ absolute_url(asset(object.webPath(photo))) }}"
                    });
                    {% endfor %}

                    $dropzone.dropzone({
                        url: "{{ oneup_uploader_endpoint('hall_gallery') }}",
                        resizeWidth: 800,
                        addRemoveLinks: true,
                        params: {
                            hall: {{ object.id }}
                        },
                        accept: function (file, done) {
                            console.log(file);
                            if ((file.type).toLowerCase() != "image/jpg" &&
                                    (file.type).toLowerCase() != "image/gif" &&
                                    (file.type).toLowerCase() != "image/jpeg" &&
                                    (file.type).toLowerCase() != "image/png"
                            ) {
                                done("Invalid file");
                            }
                            else {
                                done();
                            }
                        },
                        removedfile: function (file) {
                            $.ajax({
                                method: 'get',
                                url: "{{ path('admin_ajax_hall_remove_photo', {'id': object.id}) }}",
                                data: {
                                    hall: {{ object.id }},
                                    filename: file.previewElement.querySelector("[data-dz-name]").innerHTML
                                },
                                complete: function () {
                                    file.previewElement.remove();
                                }
                            });
                        },
                        init: function () {
                            var i = 0;
                            while (i < mocks.length) {
                                var mock = mocks[i];
                                mock.accepted = true;

                                this.files.push(mock);
                                this.createThumbnailFromUrl(mock, mock.url);
                                this.emit('addedfile', mock);
                                this.emit("thumbnail", mock, mock.url);
                                this.emit('complete', mock);
                                i++;
                            }
                        },
                        success: function (file, serverResponse) {
                            file.previewElement.querySelector("[data-dz-name]").innerHTML = serverResponse.newfilename;
                        }
                    });
                });
            </script>
        {% endif %}
    </div>
{% endblock %}
