{% extends "XBundle::base.html.twig" %}

{% block headtitle %}{{ project.title }}{% endblock %}

{% block body %}

    <div class="container py-5">

        <div class="row">

            <div class="col-12 col-lg-7">

                {% if project.coverpic is null %}
                    {% set src_project = asset('x/images/project-card-default.jpg')  %}
                {% else %}
                    {% set src_project = asset(project.webPath(project.coverpic)) %}
                {% endif %}

                <div>
                    <h1 class="text-center">{{ project.title }}</h1>
                    <p class="text-center">{{ project.category.name }}</p>
                    {% if project.tags is not empty %}
                        <div class="text-center">
                        {% for tag in project.tags %}
                            <span class="badge badge-info">{{ tag.name }}</span>
                        {% endfor %}
                        </div>
                    {% endif %}
                    <img class="img-fluid d-block py-3 mx-auto" src="{{ src_project }}" />
                </div>

                <!-- Description Section -->
                <hr>
                <div>
                    <h3>À propos du projet</h3><br>
                    {{ project.description | bbcode_filter('my_default_filter') | raw }}
                    {% if project.motivations is not null %}
                        <hr>
                        <h3>Les motivations du projet</h3><br>
                        {{ project.motivations | bbcode_filter('my_default_filter') | raw }}
                    {% endif %}
                    {% if project.thresholdPurpose is not null %}
                        <hr>
                        <h3>À quoi servira le financement ?</h3><br>
                        {{ project.thresholdPurpose | bbcode_filter('my_default_filter') | raw }}
                    {% endif %}
                </div>

                <!-- Photos Section -->
                {% if project.projectPhotos is not empty %}
                    <hr>
                    <div>
                        {% for photo in project.projectPhotos %}
                            <img class="img-fluid d-block py-3 mx-auto" src="{{ asset(project.webPath(photo)) }}" />
                        {% endfor %}
                    </div>
                {% endif %}
                
            </div>


            <div class="col-12 col-lg-5">

                {% set artist = project.artist %}

                {% if artist.profilepic is null %}
                    {% set src_artist = asset('images/artist-card-default.jpg') %}
                {% else %}
                    {% set src_artist = asset(artist.webPath(artist.profilepic)) %}
                {% endif %}
                

                <!-- Statistics Project Card -->
                <div class="mt-5">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                <a class="x-link-artist" target="_blank" href="{{ path('artist_profile', {'id': artist.id, 'slug': artist.slug}) }}">
                                    <img src="{{ src_artist }}" width="100" height="70" />
                                    &nbsp;{{ artist.artistname }}
                                </a>
                            </p>

                            <div class="row">
                                <div class="col-8 col-sm-4 col-lg-4">
                                    <div><b>{{ project.collectedAmount }} €</b></div>
                                    <div>{% if project.hasThreshold %}sur {{ project.threshold }} €{% else %} récoltés{% endif %}</div>
                                </div>
                                <div class="col-8 col-sm-4 col-lg-4">
                                    {% if project.isPassed %}
                                        <div><b>{{ project.dateEnd|date('d/m/Y') }}</b></div>
                                        <div>date de fin</div>
                                    {% else %}
                                        <b>{{ project.remainingTime }}</b>
                                    {% endif %}
                                </div>
                                <div class="col-8 col-sm-4 col-lg-4">
                                    <div><b>{{ project.nbContributors }}</b></div>
                                    <div>contributeur(s)</div>
                                </div>
                            </div>
    
                            {% if project.hasThreshold %}
                                <br>
                                <div class="progress">
                                    <div class="progress-bar {% if project.isPassed and project.progressPercent >= 100 %}bg-success{% endif %}" role="progressbar" style="width: {{ project.progressPercent }}%;" aria-valuenow="{{ project.progressPercent }}" aria-valuemin="0" aria-valuemax="100"><div class="card-funds" >{{ project.progressPercent}}%</div></div>
                                </div>
                            {% endif %}

                            {% if not project.validated and project.deletedAt == null %}
                                <br>
                                <p class="text-muted text-center font-italic">En cours de validation</p>
                            {% endif %}

                            {% if project.isClosed %}
                                <br>
                                {% if project.successful %}
                                    <p class="text-center" style="color: green;"><b>Réussite</b>&nbsp;<i class="fas fa-check-circle"></i></p>
                                {% elseif project.failed and project.refunded %}
                                    <p class="text-center" style="color: red;"><b>Échec</b>&nbsp;<i class="fas fa-times-circle"></i></p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Infos Event Section -->
                {% if project.isEvent %}
                <div class="mt-5">
                    <div class="card">
                        <div class="card-body">
                            <p>Date de l'évènement : <b>{{ project.dateEvent|date('d/m/Y \\à H:i') }}</b></p>
                            {% if project.address is not null %}
                                <p>Adresse : <b>{{ project.address }}</b></p>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe
                                        class="embed-responsive-item"
                                        frameborder="0" style="border:0"
                                        src="https://www.google.com/maps/embed/v1/place?key={{ maps_api_key }}&q={{ project.address|url_encode }}" allowfullscreen>
                                    </iframe>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Donation Form Card -->
                <div class="mt-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Faites un don</h3>
                        </div>
                        <div class="card-body contribution">
                            {{ form_start(form) }}
                            <div class="text-muted font-italic pb-2">
                                Le montant d'un don est libre mais il doit être d'1 € minimum.
                            </div>
                            {{ form_errors(form.amount) }}
                            <div class="w-90 position-relative mb-2">
                                {{ form_widget(form.amount) }}<span class="free-price-euro-sign position-absolute">€</span>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

                <!-- Purchase Form Card -->
                {% if has_products %}
                <div class="mt-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Articles en vente</h3>
                        </div>

                        <div class="card-body contribution">
                        {{ form_start(form_purchase) }}
                        
                        {% for purchase in form_purchase.purchases %}
                            {% if loop.index > 1 %}<hr>{% endif %}
                            {% set product = purchase.vars.value.product %}
                            <div class="purchase-form container-fluid my-4" {% if product.disponibility == 0 %}disabled="disabled"{% endif %}>
                                {{ form_errors(purchase) }}

                                <h5><b>{{ product.name }}</b>{% if product.freePrice %}&nbsp;(prix libre, min. {{ product.minimumPrice }}€){% endif %}</h5>
                                    
                                <div class="row">
                                    <div class="col-7 col-sm-9 col-lg-8">
                                        <p class="text-muted font-italic">{{ product.description | bbcode_filter('my_default_filter') | raw }}</p>
                                        <p>Disponibilité : <b>{{ product.disponibility }}</b>/{{ product.supply }}</p>
                                        <p>Maximum <b>{{ product.maxAmountPerPurchase }}</b> par commande</p>
                                    </div>
                                    <div class="col-5 col-sm-3 col-lg-4">
                                        {% if product.isTicket %}
                                            <img src="{{ asset('x/images/ticket.png') }}" width="100" height="100" />
                                        {% else %}
                                            {% if product.image is not null %}
                                                <img src="{{ asset(product.webPath(product.image)) }}" width="100" height="100" />
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-7 col-sm-9 col-lg-7">
                                        {% if product.freePrice %}
                                            {{ form_errors(purchase.freePrice) }}
                                            <div class="w-90 position-relative mb-2">
                                                {{ form_widget(purchase.freePrice, {'attr':  {'min': product.minimumPrice}}) }} <span class="free-price-euro-sign position-absolute">€</span>
                                                </div>
                                        {% else %}
                                            Prix : <b class="product-price">{{ product.price }} €</b>
                                        {% endif %}
                                    </div>

                                    {% set max = product.maxAmountPerPurchase %}
                                    <div class="col-5 col-sm-3 col-lg-5">
                                        {{ form_errors(purchase.quantity) }}
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-left-minus btn btn-dark btn-number"  data-type="minus" data-field="">
                                                    <i class="text-white fas fa-minus"></i>
                                                </button>
                                            </span>
                                            {{ form_widget(purchase.quantity) }}
                                            <span class="input-group-btn">
                                                <button type="button" class="quantity-right-plus btn btn-dark btn-number" data-type="plus" data-max="{{ max }}" data-field="">
                                                    <i class="text-white fas fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                {% if product.options is not empty %}
                                    <div class="row select-options">
                                        <div class="col-12 my-2 text-muted font-italic" style="font-size: 13px;">
                                            N'oubliez pas de sélectionner parmi les options proposées
                                        </div>
                                        {% for option in product.options %}
                                            <div class="col-6 col-sm-6 col-lg-6">
                                                {{ option.name }}
                                                <select class="form-control" name="{{ option.id }}" id="option-{{ option.id }}">
                                                    {% for choice in option.choices %}
                                                        <option value="{{ choice.id }}">{{ choice }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                        {% endfor %}

                        <div class="text-center pr-2" id="totals">
                            TOTAL : <span id="cart-total">0</span> € pour <span id="quantity-total">0</span> article(s)
                        </div>
                        <div class="text-center pr-2">
                            {{ form_end(form_purchase) }}
                        </div>

                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block additional_javascripts %}
    <script type="text/javascript">
        // Disable form when project is passed
        {% if project.isPassed %}
            $('.contribution').attr('disabled', 'disabled');
        {% endif %}

        $('input.quantity').change(function() {
            calculateTotal();
        });

        $('input.quantity').each(function() {
            calculateTotal();
        });

        function calculateTotal() {
            var tp = 0;
            var q = 0;
            $('.quantity.form-control').each(function() {
                var qval = parseFloat($(this).val());
                q += qval;
                var $priceElem = $(this).closest('.purchase-form').find('.product-price');
                var price = isNaN(parseFloat($priceElem.val())) ? parseFloat($priceElem.text()) : parseFloat($priceElem.val());
                tp += price * qval;

                var $select_option = $(this).closest('.purchase-form').find('.select-options');
                if(qval == 0) {
                    $select_option.hide();
                } else {
                    $select_option.show();
                }
            });

            if(tp === 0 && q === 0) {
               $('#totals').hide();
               $('.submit-cart').attr('disabled', 'disabled');
            }

            else {
                $('#cart-total').text(tp);
                $('#quantity-total').text(q);
                $('#totals').show();
                $('.submit-cart').attr('disabled', null);
            }
        }

    </script>
{% endblock %}