{% extends 'AppBundle:Mail:baseEmailLayout.html.twig' %}
{% autoescape false %}
    {% spaceless %}
        {% block title %}{{ subject }}{% endblock %}

        {% block content %}
            <div>
                Erreur lors d'un paiement. {% if user is not null %}Utilisateur : {{ user.displayName }} (id {{ user.id }}),{% endif %} numéro du panier : {{ cart.id }}. Infos de l'erreur Stripe :
            </div>

            <ul>
                <li>Message : {{ stripe_error.message }}</li>
                <li>Date d'envoi de ce message : {{ 'now'|date('d/m/Y H:i:s') }}</li>
            </ul>
        {% endblock %}
    {% endspaceless %}
{% endautoescape %}