<ul>
    <li>
        Nom : {{ step.name }}
    </li>
    <li>
        Description :
        <blockquote>
            {{ step.description }}
        </blockquote>
    </li>
    <li>
        Nombre de jours pour atteindre l'objectif : {{ step.deadlineDuration }}
    </li>
    <li>
        Montant nécessaire : {{ step.requiredAmount }} €
    </li>
    <li>
        Type de palier : {{ step.type.name }}
    </li>
    <li>
        Contreparties pour les fans :
            <ul>
                {% for cp in step.counterParts %}
                    <li>{{ cp.price }} € : {{ cp.name }}</li>
                {% endfor %}
            </ul>
    </li>
</ul>